<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
  <tlibversion>1.0</tlibversion>
  <jspversion>2.0</jspversion>
  <shortname>trail</shortname>
  <uri>http://www.trilasoft.com/taglibs/breadcrumbs-1.0</uri>
  <info>Breadcrumbs in a taglib. </info>
  <display-name>Trail Taglib</display-name>
  <description>The Trail taglib maintains a dynamic trail of pages that the user has hit and allows a normalized version of that trail to be shown as a breadcrumbs list. </description>
  <tag>
    <name>list</name>
    <tagclass>com.trilasoft.app.webapp.tags.ListTag</tagclass>
    <bodycontent>JSP</bodycontent>
    <description>ListTag is used to display the trail, either the whole trail or more likely the normalized version. </description> 
    <attribute>
      <name>var</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>Store the trail text in a variable. This will probably change to store the actual trail list and not the text. </description>
    </attribute>
    <attribute>
      <name>delimiter</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>The delimiter to use between trail items. It defaults to -&gt; and at some point an image will be useable instead. </description>
    </attribute>
    <attribute>
      <name>type</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>The type of list to show. The default is 'normalized', while any other type specified will result in 'full'. </description>
    </attribute>
  </tag>
  <tag>
    <name>push</name>
    <tagclass>com.trilasoft.app.webapp.tags.PushTag</tagclass>
    <bodycontent>JSP</bodycontent>
    <description>Place a page on the trail. </description>
    <attribute>
      <name>label</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <description>The text to use when placing the page on the trail. This is what will be displayed to the user in the List tag. </description>
    </attribute>
    <attribute>
      <name>url</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description>Usually the url in question will be figured out by the taglib, however you may override it with this attribute. </description>
    </attribute>
  </tag>
</taglib>
