<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.1//EN" "http://java.sun.com/j2ee/dtds/web-jsptaglibrary_1_1.dtd">

<taglib>
  <tlibversion>1.0</tlibversion>
  <jspversion>2.0</jspversion>
  <shortname>red-sec</shortname>
  <uri>http://www.trilasoft.com/taglibs/redsky-security-1.0</uri>
  <info>Redsky Security Tags</info>
  <display-name>Redsky Security Tags</display-name>
  <description>Redsky Security Tags</description>
  <tag>
    <name>authComponent</name>
    <tagclass>com.trilasoft.app.webapp.tags.ControlAccessByRoleTag</tagclass>
    <bodycontent>JSP</bodycontent>
    <description></description> 
    <attribute>
      <name>componentId</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute>    
    <attribute>
      <name>replacementHtml</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute> 
  </tag>
  
   <tag>
    <name>authScript</name>
    <tagclass>com.trilasoft.app.webapp.tags.RoleAndTransBasedAccessScriptTag</tagclass>
    <bodycontent>JSP</bodycontent>
    <description></description> 
    <attribute>
      <name>tableList</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute>    
    <attribute>
      <name>transIdList</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute>
    <!-- attribute>
      <name>partnerIdList</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute-->
    <attribute>
      <name>formNameList</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute>            
     </tag> 
     
     <tag>
     <name>enableScript</name>
    <tagclass>com.trilasoft.app.webapp.tags.RoleBasedAccessScriptTag</tagclass>
    <bodycontent>JSP</bodycontent>
    <description></description> 
    <attribute>
      <name>tableList</name>
      <required>true</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute>    
    <attribute>
      <name>transIdList</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute>
    <!-- attribute>
      <name>partnerIdList</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute-->
    <attribute>
      <name>formNameList</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <description></description>
    </attribute>            
     </tag>    
</taglib>
