
body{
  font-family: 'Open Sans', sans-serif;
}
.page-content-wrapper{width:94%;margin: 0 auto;}
.eclipse-text {
 line-height:1.9;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.eclipse-20 {
 line-height:1.9;
  white-space: nowrap;
  width:20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellpsis-170 {
    white-space: nowrap;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.ellpsis-150 {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.ellpsis-130 {
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.eclipse-text-100 {
 line-height:1.9;
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

 .ellpsis-100 {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  .ellpsis-80 {
    white-space: nowrap;
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
   .ellpsis-30 {
    white-space: nowrap;
    width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

label{
  font-size: 12px !important;
  color: #666 !important;}
.label-heading {
    font-weight: 600;
   
  }
 .note-filled{
 color:#e65a5994 !important;
 }
.font-weight-semibold{font-weight: 500;}
.border-b{
  border-bottom: 3px solid #90c0ced1 ;
}
.modal-title{color:#666;}color: #047790;

.card-sec .status-icon.orange{
	color: #f38621 !important;
}
.card-sec .status-icon.blue{
	color: #6677dd !important;
}
.card-sec .status-icon.blue2{
	color: #5c1898 !important;
}
.card-sec .status-icon.blue3{
	color: #189846 !important;
}
.card-sec .status-icon.blue4{
	color: #dacc17 !important;
}
.card-sec .status-icon.blue5{
	color: #da8417 !important;
}
.card-sec .status-icon.blue6{
	color: #678098 !important;
}





/*work ticket */

/* badge-warning {  background-color: #F1C40F;} for Target
blue{background-color: #3598DC;} for Dispatching/Blue
purple-studio{background-color: #8E44AD;} for Forecasting
red-mint{background-color: #E43A45;} for Cancelled
yellow-casablanca{background-color: #F2784B;} for Rejected/closed
green-meadow{background-color: #1BBC9B;} for Sctual
lavender{ background-color: #957cf9;} for Pending/Hold
yellow-haze{ background-color: #C5BF66;} for Reopen
yellow-soft {background-color: #C8D046;} for transit
yellow-gold {background-color: #E87E04;} for Ready to close */

/*HEADER COLOR COLOR */
.status-info .
{
	background-color: #8e44ad;
}
.status-info.orange{
	background-color: #F2784B;
}

.status-info.light-green{
	background-color: #1ac91a;
}
.status-info.light-blue{

	background-color: #3598dc;
}
.status-info.green{
	background-color: #008000 ;
}

.status-info.sky-blue{
	background-color:#07b9ffb8;
}

.status-info.light-orange{
	background-color: #E87E04;
}

.status-info.yellow-haze{
	background-color: #C5BF66;
}


.status-info.red-mint{
	background-color: #E43A45;
}

.status-info.lightpurple{
	background-color: #c34dd0b0;
}

.status-info.yellow{
	background-color: #F1C40F ;
}
.status-info.lavender{
	background-color:#957cf9;
}

.status-info.Violet{
	background-color:#8e44ad;
}


/*END HEADER COLOR COLOR */


/*STATUS ICON COLOR */

.card-sec .status-icon.yellow{
    color: #F1C40F !important;
}

.card-sec .status-icon.orange{
color:#F2784B !important;
}
.card-sec .status-icon.green{
	background-color: #008000 !important;
}
.card-sec .status-icon.light-blue{
color:#3598dc !important;
}

.card-sec .status-icon.sky-blue{
color:#07b9ffb8 !important;
}

.card-sec .status-icon.light-green{
color:#1ac91a !important;
}


.card-sec .status-icon.yellow-haze{
	color: #C5BF66 !important;
}

.card-sec .status-icon.blue-dark{
	color: #E87E04 !important;
}
.card-sec .status-icon.red-mint{
	color: #E43A45 !important;
}

.card-sec .status-icon.lightpurple{
	color: #c34dd0b0 !important;
}


.card-sec .status-icon.lavender{
color:#957cf9 !important;
}


/*End STATUS ICON COLOR */

.status.yellow{
	background-color: #F1C40F;
}
.status.blue{
	background-color: #3598DC;
}
.status.purple-studio{
	background-color: #8E44AD;
}
.status.light-orange{
	background-color: #E87E04;
}
.status.green-meadow{
	background-color: #1e947c;
}
.status.lavender{
	 background-color: #957cf9;
}
.status.red-mint{
	background-color: #E43A45;
}


/*End work ticket */

.no-result-info{color:#666;padding: 10px;letter-spacing: 1px;}
.no-result-info i{border-radius: 4px;
    background: #f9fafd;
    padding: 5px;
    color: #60a4b7;font-size:23px;
    letter-spacing: 1px;}
	
}



/* -- Custom DIV Layout -- */


/* -- End Custom DIV Layout -- */

   

