/*------ Common css ------*/
.pl-0 {
    padding-left: 0px !important;
  }
  
  .pr-0 {
    padding-right: 0px !important;
  }
  
 
  .label-text {
    font-size: 13px;
    font-weight: 600;
  }
  
  .text-black {
    color: #000 !important;
  }
  
  .no-icon {
    margin-left:26px;
  }
  
  .note-filled {
    color: #e65a5994 !important;
  }
  
  .status.red {
    background: #e27777;
  }
  
  .status.yellow {
    background: #ffc000;
  }
  
  .card-sec {
    border-radius: 4px !important;
    border: 1px solid #9e9e9e6e!important;
    border:1px solid rgba(158,158,158,0.43)!important;
    margin-top: 0px;
    padding: 4px 0px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
    margin-bottom: 30px;
    border-bottom: 3px solid #90c0ced1 !important;
    border-bottom: 3px solid rgba(144,192,206,0.82)!important;
  }
  
  .card-sec label {
      line-height: 1.9;
    font-size: 12px !important;
    color: #666 !important;
  }
  
  
  
  table {
    width: 100%;
  }
  
  table tr th {
    vertical-align: middle;
    color: #666;
    font-size: 12px !important;
    padding: 5px 0px 17px 6px;
  }
  
  .dashboard-page table tr td {
    vertical-align: middle;
    font-weight: 400;
    color: #000;
   /*  padding: 1rem .75rem; */
    border-top: 1px solid #dee2e6;
    
   /*  padding-top: 10px; */
    font-size: 12px !important;
  }
  
  table i {
    border-radius: 4px;
    background: #f9fafd;
    padding: 10px;
    color: #60a4b7;
    letter-spacing: 1px;
  }
  
  .status {
    padding: 5px 10px;
    background: #e7e7e7;
    color: #fff;
    border-radius: 15px !important;
    font-size: 9px;
    font-weight: 700;
  }
  
 
  
  .portlet.box.green {
    border: 1px solid  transparent;
  }
  
  .portlet.box.green>.portlet-body>.caption>i {
    font-size: 16px;
    margin-top: 2px;
    color: #636363;
  }
  
 
  
  .tittle-heading {
    color: #666 !important;
    border-bottom: 1px solid #e8e6e6;
    margin-bottom: 14px;
  }
  
  .tittle-heading h4 {
  margin-bottom:12px;
    font-weight: 400;
    display: inline-block;
    font-size: 16px;
    color: #047790;
    letter-spacing: 1px;
  }
  
  .tittle-heading i {
    float: right;
    border-radius: 4px;
    background: #f9fafd;
    padding: 10px;
    color: #60a4b7;
    letter-spacing: 1px;
  }
  
  .bottom-panal .portlet-body {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
  }
  
  .portlet.box>.portlet-body>.caption {
    padding: 5px 8px 45px;
  }
  
  .bottom-panal .card-sec {
    margin-bottom: 0px;
    box-shadow: none;
    border: 1px solid #9e9e9e38!important;
  }
  
  .bottom-panal {
    margin-top: 16px;
    background-color: #ffff;
    border-radius: 5px !important;
  }
  
  .bottom-panal .sub-heading {
   display: inline-block;
    color: #047790;
    font-weight: 400;
    font-size: 14px;
  }
  
 
  
  .fa-pencil-square-o {
    margin-right: 6px;
  }
  
  .line {
    height: 1px;
    background: #dee2e6;
    width: 100%;
    margin: 4px 0px !important;
  }

.portlet-body i{border-radius: 4px;
  background: #f9fafd;
  padding: 5px;
  color: #60a4b7;
  letter-spacing: 1px;}
  
  
  .card-sec .status-icon.orange{
  color:#f28621 !important;}
          
  /*------ End Common css ------*/
  
  
  
  
  
  
  /*-------Origin---------*/
  
  .origin-sec .bottom-panal .info-row {
    min-height: 90px;
    height:90px;
  }
  /*-------End Origin-----------*/
  
  /*-----Forwarding------*/
  .forwarding-sec .info-row {
    min-height: 120px;
  }
  
  .forwarding-sec .bottom-panal .info-row {
    min-height: auto;
  }
  /*End Forwarding------*/
  
  /*----Task------*/
  .task {
    min-height: 319px;
    height: 341px;
  }
  
    .task .custom-wd{
      width:250px;
    }
  
  .task table tr td {
    padding: 14px 5px;
    color: #000;
  }
  .task table tr td label {
    
    color: #000 !important;
   
    
  }
  
  .task .popover {
    font-size: 13px;
    width: 300px;
    max-width: 300px;
  }
  
  .popover-title {
    font-weight: 600;
    font-size: 13px;
  }
  /*End Task------*/
  
  /*----Work Ticket -----*/
  .Workticket .outer-span>span {
    position: absolute;
    /* top: -5px;
    right: 4px;
    width: 14px;
    height: 14px;
    padding: 1px 0px; */
    top: -11px;
    right: 6px;
    width: 16px;
    height: 16px;
    padding: 4px 0px;
    background-color: #337ab77a;
    background-color: rgba(51, 122, 183, 0.48);
    font-size: 9px!important;
    border-radius: 100px;
    color: #fff;
  }
  .Workticket .custom-wd{
  width:180px;
  }
  
  .Workticket .outer-span {
    position: relative;
    background-color: transparent;
  }
  
  .Workticket i {
    background: transparent;
    font-size: 15px;
    color: #678098;
    padding: 5px 10px 10px 10px;
  }
  
  
  .Workticket a {
    position: relative;
    height: 33px;
    display: inline-block;
    width: 70px;
    margin: 1px 5px 0 0;
    border: 1px solid #ddd;
    padding: 3px 0 0;
  }
  
  .Workticket table tr td {
    padding: 12px 5px;
  }
  .Workticket.info-row{
  height:341px;
    overflow-y: auto;
  }
  /*-------End Work Ticket------*/
  
  /*------Finance------*/
  .Finance {
    color: #666 !important;
  }
  
  .Finance p {
    font-weight: 600;
  }
  
  .finance .label-heading {
    font-size: 13.5px !important;
  }
  
   .finance .label-heading .fa{
    background:none;
     font-size: 12px !important;
     color: #666 !important;
     padding: 0px 0px 0px 0px;
}
  
  
  .invoice-span {
    margin-right: 2px;
    letter-spacing: 0.5px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10.7px;
    color: #666;
    font-size: 11px !important;
    padding: 3px 6px;
    background: #eaedf3;
    border-radius: 100px !important;
  }
  .invoice-date{
  margin-top:2px;
  }
  
  .invoice-span-price {
    margin-right: 2px;
    letter-spacing: 0.5px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
    color: #666;
    font-size: 11px !important;
    padding: 3px 0px 3px 5px;
    border-radius: 100px !important;
  }
  .invoice-span-price i{
  background:none;
      padding: 0px;
  color: #666;
  }
  
  .invoice-span i {
      margin-left: 3px;
    background: none;
    padding: 0px;
    color: #60a4b7;
  }
  
  .invoice-td {
    padding: 7px 5px !important;
  }
  
  .invoice-txt {
    font-weight: 600;
  }
  /*-----End Finance------*/
  
  /*-----Document-----*/
  .document .fa-download {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
  /*  .document .custom-wd{
   width:200px;
   } */
  
  .document .dropdown {
    display: inline-block;
    float: right;
    margin-right: 6px;
  }
  .document table label{
     margin-bottom:0px;
     line-height: 1.5;
  }
  .dashboard-page .table-borderless tr td{
  border:none;
  }
  
 
  
  .document .dropdown-menu li{
  
  width:100%;
      border-bottom: 1px solid #66666626;
  } 
  .document .dropdown-menu li:last-child{
   border-bottom: none !important;
  }
   .document .dropdown-menu li a{
  text-decoration: none;
    font-size: 13px;
    padding-left: 4px;
   }
  .document .doc-filter{
  min-width:90px;
  }
    .document table th{padding-bottom:0px; padding-left:0px;}
  
 /*  .document .dropdown button {
    background: none;
    padding: 0;
    border: none;
    background-color: none;
  } */
  
  .document .text-bold {
    font-weight: 700;
  }
  
  .task .fa-envelope {
    background: transparent;
  }
  
   .document .info-row {min-height:91px; height:91px;}
  
  .document p {
    font-weight: 500;
    font-size: 12px !important;
       margin: 8.5px 0px 8.5px 0px !important;
    color: #666 !important;
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent !important;
    border-color:none !important;
}
.btn:focus {
    outline: 0;
    box-shadow:none !important;
}

.document .dropdown-toggle::after {
    display: none !important;
    margin-left: .255em;
    vertical-align: .255em;
 content: ""; 
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.filter-btn{
	padding:0px;
	    width: 109px;
	
	border:1px solid transparent;
}
.document #dropdown-menu{
	    background: #f9fafd;
         
    top: -1px !IMPORTANT;
    left:0px !IMPORTANT;
    min-width: 80px;
        width: 109px;
       border: 1px solid #77777724;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}
.document #dropdown-menu a{
	color:#666;
}

.document #dropdown-menu a:hover{
	color: #047790;
}
/*  .document .show>.btn-primary.dropdown-toggle{
 background:none;
 border:none;
 outline:none;
 }
  .document .show>.btn-primary.dropdown-toggle:focus{
 outline:none;
 box-shadow:none;
 }
  .document .btn-primary:focus {
    outline:none;
 box-shadow:none;
}
  
  .open>.btn-primary.dropdown-toggle:focus, .open>.btn-primary.dropdown-toggle:hover {
    color: #fff;
    background-color: transparent !important;
  } */
  /*------ End Document------*/
  
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  .padding_b {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  
  .clear_both {
    clear: both;
  }
  
  #portlet_tab1>p span {
    color: #678098;
    font-size: 12px;
  }
  
  #portlet_tab1>p {
    margin-bottom: 4px;
  }
  
  #portlet_tab1>p span:first-child {
    color: #678098;
    font-weight: 600;
    font-size: 12px;
  }
  
  .portlet.light {
    padding: 5px 11px 9px;
    background-color: #fff;
  }
  
  .portlet.light>.portlet-body>.caption {
    color: #666;
    padding: 5px 0;
  }
  
  .portlet.light>.portlet-body>.caption>.caption-subject {
    font-size: 13px;
    color: #678098 !important;
  }
  
  .portlet>.portlet-body {
    margin-bottom: 0px;
    padding: 7px 10px 12px !important;
  }
  
  .portlet.light>.portlet-body {
    height: 20px;
    min-height: 40px;
  }
  
  #portlet_tab3 p span {
    color: #678098;
    font-size: 12px;
  }
  
  #portlet_tab3 p {
    margin-bottom: 4px;
  }
  
  #portlet_tab3 p span:first-child {
    color: #678098;
    font-weight: 600;
    font-size: 12px;
  }
  
  .portlet.light>.portlet-title>.actions {
    padding: 1px 0 14px;
  }
  
  .icon-btn {
    height: 34px;
    min-width: 80px;
    margin: 1px 5px 0 0;
    border: 1px solid #ddd;
    padding: 9px 0 0;
  }
  
  
  .page-content-wrapper .page-content {
  
    margin-top: 0;
    min-height: 600px;
 
  }
  
  .icon-btn>i {
    color: #678098;
  }
  
  .portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #9e9e9e69;
  }
  
  .portlet.light .portlet-body {
    padding-top: 2px;
  }
  
  .portlet.light {
    padding: 5px 11px 4px;
    background-color: #eff0f1;
  }
  /*ticket*/
  .ticket_body .portlet.light {
    padding: 0px 0px 4px;
    background-color: #fff;
  }
  
  .ticket_body .portlet-title {
    background: #2b3643;
    padding: 4px 10px 0px !important;
    color: #fff;
  }
  
  .ticket_body .tab-content {
    padding: 4px 10px 0px !important;
  }
  
  .ticket_body .portlet_icon {
    padding: 0px 10px 0px !important;
  }
  
  .ticket_body .portlet.light>.portlet-title>.caption>.caption-subject {
    color: #fff !important;
  }
  
  .portlet.light.bordered {
    border: 1px solid #9e9e9e6e!important;
  }
  
  
  /*moreifo*/
  .more_info {
    height: 37px;
    position: relative;
  }
  
  .more_info_sub {
    position: absolute;
    display: none;
  }
  
  .click_info {
    margin-left: 9px;
    border-radius: 18px !important;
    padding: 4px 12px 4px 0px;
    border: 1px solid #03A9f4;
    padding-left: 11px;
    color: #03A9F4;
    font-weight: 600;
    font-size: 11px;
    display: inline-block;
    margin-top: 7px;
  }
  /*end more info*/
  
  /*ticket pop up*/
  .ticket_body .truck_model .modal-title {
    font-weight: 600;
    color: #fff;
    font-size: 15px;
  }
  
  .ticket_body .truck_model .label.label-sm {
    border-radius: 100px !important;
    font-size: 11px;
    padding: 2px 7px;
  }
  
  .ticket_body .truck_model.modal.fade.in {
    top: 20%;
  }
  
  .ticket_body .truck_model .md-checkbox label>.box {
    top: 0;
    border: 2px solid #32c5d2;
  }
  
  .ticket_body .truck_model a {
    text-shadow: none;
    color: #678098;
  }
  
  .ticket_body .truck_model {
    padding-right: 0px !important;
  }
  
  .ticket_body .truck_model table td {
    color: #678098;
    font-size: 13px;
  }
  
  .ticket_body .truck_model .md-checkbox label>.check {
    border: 2px solid #ed6b75;
    border-top: none;
    border-left: none;
  }
  
  .modal-header {
    padding: 10px 15px 10px 15px;
  }
  
  .ticket_body .truck_model .modal-body {
    position: relative;
    padding: 2px 10px 15px 10px;
  }
  
  .ticket_body .truck_model .modal-header {
    background: #607d8b;
  }
  
  .ticket_body .truck_model .table-advance thead tr th {
    background-color: #f1f4f7;
    font-size: 13px;
    font-weight: 600;
    color: #678098;
  }
  
  .ticket_body .truck_model .md-checkbox label>.box {
    top: 0;
    border: 2px solid #32c5d2;
    height: 17px;
    width: 17px;
  }
  
  .ticket_body .truck_model .md-checkbox label>.check {
    top: -4px;
    left: 6px;
    width: 10px;
    height: 16px;
  }
  
  .ticket_body .truck_model .close {
    background-image: none !important;
    font-size: 16px;
    text-indent: 0px;
    color: #fff;
    text-shadow: none;
    opacity: .9;
  }
  
  .tckt_nospn {
    margin-left: 4px;
  }
  
  .ticket_body .truck_model .modal-footer {
    background: #607d8b36;
    padding: 6px 15px 6px 15px;
  }
  
  .ticket_body .truck_model .btn {
    padding: 4px 13px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 35px !important;
  }
  
  .btn.btn-outline.dark {
    border-color: #607d8b36;
    color: #fff;
    background: #607d8b99;
  }
  /*end ticket pop up*/
  #driver_slct {
    display: none;
    width: 70%;
    border: none;
  }
  
  #driver_slct:focus {
    outline: none;
  }
  
  #driver_slct1 {
    display: none;
  }
  
  .Assigned_span {
    position: relative;
  }
  
  .tk_spn {
    visibility: hidden;
    width: 80px;
    background-color: #607d8b;
    color: #fff;
    text-align: center;
    border-radius: 6px !important;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -6px;
    left: 213%;
    margin-left: -60px;
    font-weight: 600;
    font-size: 10px;
  }
  
  .tk_spn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #607d8b  transparent transparent;
  }
  
  .Assigned_span:hover .tk_spn {
    visibility: visible;
  }
  
  .ticket_body .truck_model .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .ticket_body .truck_model .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .ticket_body .truck_model .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .ticket_body .truck_model .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .ticket_body .truck_model table th .fa {
    color: #32c5d2;
  }
  
  .bg_tr {
    background: #dde3e666;
  }
  /*end ticket*/
  
  /*dashboard css*/
  .widget-thumb-heading span {
    float: right;
  }
  
  .widget-thumb .widget-thumb-wrap .widget-thumb-icon {
    float: none;
    margin: auto;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 100px;
  }
  
  .widget-thumb-body {
    text-align: center;
  }
  
  .widget-thumb-heading {
    text-align: center;
  }
  
  .widget-thumb .widget-thumb-wrap .widget-thumb-icon {
    font-size: 25px;
    line-height: 42px;
  }
  
  .widget-thumb {
    padding: 12px;
  }
  
  .widget-thumb .widget-thumb-heading {
    margin: 0 0 15px;
  }
  
   /*hearder*/
  .page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #ffffff;
  }
  
  .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username {
    color: #ffffff;
  }
  
  .page-header.navbar .top-menu .navbar-nav>li.quick-sidebar-toggler>i {
    color: #c0cddc;
    font-size: 16px;
  }
  
  .page-header.navbar .search-form {
    background: transparent;
  }
  
  .page-header.navbar .search-form .input-group {
    border: 1px solid #ffffff;
  }
  
  .page-header.navbar .search-form .input-group .input-group-btn .btn.submit>i {
    color: #ffffff;
  }
  
  .page-header.navbar .page-logo .logo-default {
    margin: 0px;
  }
  
  .page-header.navbar .top-menu .navbar-nav>li.quick-sidebar-toggler>i {
    color: #ffffff;
  }
  
  .btn.red-haze:not(.btn-outline) {
    padding: 8px 45px!important;
    border-radius: 100px !important;
    color: #fff;
    background-color: #586271!important;
    border-color: #373e48!important;
    font-size: 13px;
  }
  
  .dashboard_body {
    background: #d9dce3;
  }
   /*end header*/
  /*end dashboard css*/
  
  /*activity managment*/
  .heading_row h5 {
    font-weight: 700;
    font-size: 13px;
  }
  
  .active_tab {
    padding-top: 4px !important;
  }
  
  .active_tab p {
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 14px;
  }
  
  /*end activity*/
  
  
  /*header and  side nav*/
  .ticket_body .page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
    margin: -22px 0px 0;
    padding: 3px 6px;
    height: 18px;
  }
  
  .page-content-wrapper {
    width: 94%;
    margin: 0 auto;
  }
  
  .ticket_body .page-header.navbar {
    width: 100%;
    min-height: 60px;
    height: 60px;
  }
  
  .right_sec_ticket {
    margin-top: 45px;
  }
  
  .ticket_body .page-content-wrapper .page-content {
    margin-left: 0px;
    margin: auto;
    width: 96%;
  }
  
  .ticket_body .page-header.navbar .page-actions {
    margin: 6px 0 15px 10px;
  }
  
  .ticket_body .page-header.navbar .page-top {
    height: 60px;
  }
  
  .ticket_body  .page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    padding: 22px 12px 24px;
  }
  
  .ticket_body .page-header.navbar .search-form {
    margin: 15px 20px 0 0;
  }
  
  .ticket_body .page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    padding: 22px 12px 16px;
  }
  
  .ticket_body .page-header.navbar .page-logo {
    height: 60px;
  }
  
  .ticket_body .page-header.navbar .search-form {
    width: 250px;
  }
  
  .ticket_body .page-header.navbar .search-form .input-group {
    border-radius: 25px!important;
    border: 1px solid #ffffff3b;
  }
  
  .ticket_body .page-header-inner {
    margin: auto;
    width: 98%;
  }
  
  .ticket_body .page-header.navbar .page-logo {
    width: 200px;
  }
  
  .ticket_body {
    background: #e7e7e74a;
  }
  
  /*end header and side nav */
  
  
   .finance .recent-h{
		       color: #047790; margin-left: 186px;
		    }
  
  
  /* ----Media Query For Laptop Dashboard----  */
  
   @media only screen and (min-width:1200px) and (max-width:1600px) {
   
   
           .cus-col-6{
	
			    -ms-flex: 0 0 50%;
			     flex: 0 0 50%;
			     max-width: 50%;
			}
			.task {
			    min-height: 265px;
			    height: 265px;
			}
			.task table tr td {
			    padding: 8px 5px;
			   
			}
			.document .info-row {min-height:99px; height:99px;}
   
            .task .custom-wd{
		      width:150px;
		    }
           
           
		   .Workticket i {
		        font-size: 12px;
		    }
		   .Workticket .custom-wd{
		        width:100px;
		    }
		    
		     .finance .recent-h{
		       color: #047790; margin-left: 130px;
		    }
		    .finance .label-heading {
			    font-size: 12.5px !important;
			}
			
			.invoice-span {
               padding: 3px 6px;
			}
			.fa-file-invoice{
			  display:none;
			}
			
			
   }
  
  /* ----End Media Query----  */
  
  
   /* ----Media Query For mini laptop(col-lg)----  */
  
   @media only screen and (min-width:992px) and (max-width:1199px) {
       
       .forwarding-sec .info-row {
			    min-height:auto;
			}
   
          .task{
          min-height:auto;
          height:auto;
          }
          
          .Workticket.info-row {
            height:auto;
           }
			
			
   }
  
  /* ----End Media Query----  */
  
   /* ----Media Query For tablet(col-md)----  */
  
   @media only screen and (min-width:768px) and (max-width:991px) {
       
       .forwarding-sec .info-row {
			    min-height:auto;
			}
   
          .task{
          min-height:auto;
          height:auto;
          }
          
          .Workticket.info-row {
            height:auto;
           }
			
			
   }
  
  /* ----End Media Query----  */
  
    @media only screen and (min-width:576px) and (max-width:767px) {
       
    .pl-0.cus-pl-15{
         padding-left:15px !important;
      }
      
    .origin-sec .bottom-panal .info-row{
          min-height:auto;
          height:auto;
       }
       
      .document .info-row{
        min-height:auto;
          height:auto;
      
      }
      
     .cus-sm-ml{
       margin-left:25px !important;
     }
     
     .custom-wd-xs{
     width:250px;
     }
			
			
   }
  
  /* ----End Media Query----  */
  
  /* ----Media Query For tablet(col-md)----  */
  
   @media only screen and (min-width:320px) and (max-width:575px) {
       
    .pl-0.cus-pl-15{
         padding-left:15px !important;
      }
      
    .origin-sec .bottom-panal .info-row{
          min-height:auto;
          height:auto;
       }
       
      .document .info-row{
        min-height:auto;
          height:auto;
          overflow-x: auto;

      
      }
      
     .cus-sm-ml{
       margin-left:25px !important;
     }
     
     .custom-wd-xs{
     width:250px;
     }
			
			.info-row.task .scroll-dv{
			  overflow-x: auto;
			}
			
			.task {
    min-height:auto;
    height: auto;
}

.mb-truck{
	font-size:12px !important	;
}
			
			.task .custom-wd {
				    width: 125px;
				}
				
				
      .task .ellpsis-150 {
		         white-space: inherit;
                 width: auto;
		     overflow: hidden; 
             text-overflow: ellipsis; 
         }
			
   }
  
  /* ----End Media Query----  */
  
   /* FOOTER */
        body>#footer{
           
            /*--jitendra5-7-2019-- */
            width:100% !important;
            padding:0 1.5% 0 1.5%;
           font-size: 12px;
             /*--end jitendra5-7-2019-- */
        }
        
        body>#footer .right a{color: #003366;}