/*-----Navigation css-----*/

.navbar-brand{
     margin-left:2.1%;
}
.page-header-fixed .page-container {
    margin-top: 0px;
    padding: 0px;
  }
  
  .navbar-top {
    background-repeat: repeat-x !important;
    background-position: left bottom !important;
    min-height:60px;
    height:60px;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #74a4e2 !important;
    background-image: url("../img/bg-band.gif") !important;
  }
  
  .nav>li>a:hover {
    background-color: transparent;
  }
  
  .top_logo {
    margin-top:15px;
  }
  
  .page-header.navbar.navbar-top {
    background: #fff;
  }
  
  .navbar-nav li {
    margin-left:45px;
  }
  
  .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .sub_header {
    background: #BFDBFF;
    padding: 7px 0px;
    border-bottom: 1px solid #74a4e2;
    background-image: url("../img/top-menu-bg.gif") !important;
  }
  
  .sub_header>ul>li {
    float: left;
    list-style: none;
    font-size: 12px;
    margin-left: 55px;
    position: relative;
  }
  
  .sub_header>ul>li>a {
    color: #000;
  }
  
  .sub_header>ul>li:first-child {
    margin-left: 0px;
  }
  
  .sub_header>ul>li>ul {
    top: 27px;
    left: -16px;
    position: absolute;
    padding-left: 0px;
    z-index: 2;
    display: none;
  }
  
  .sub_header>ul>li:hover .sub_header>ul>li>ul {
    display: block !important;
  }
  
  .sub_header>ul>li>ul>li {
    list-style: none;
    font-size: 12px;
  }
  
  .sub_header>ul>li>ul>li>a {
    display: block;
    background: #D8E9ED;
    color: #000;
    height: auto;
    line-height: 15px;
    padding: 2px 14px;
    width: 157px;
    border: 1px solid #74a4e2;
    border-bottom: 0;
  }
  
  .sub_header>ul>li>ul>li:last-child a {
    border-bottom: 1px solid #74a4e2;
  }
  
  .clearfix {
    clear: both;
  }
  
  /*-----End navigation css--------*/
  
  
  /*------Breadcrumb-------*/
  .breadcum {
    background-color: #ffff;
    border: 1px solid #9e9e9e3b!important;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 5px !important;
    height: 27px;
    margin: auto;
    background-color: #f5f5f5;
    right: 0;
  }
  
  .breadcum ul li {
    list-style: none;
    float: left;
    text-decoration: none;
    margin-left: 17px;
    margin-top: 5px;
    font-size: 11px;
    color: #1465b7;
  }
  
  .breadcum label {
    line-height: 2;
  }
  
  .breadcum a {
    color: #1465b7;
  }
  
  .breadcum img {
    margin-right: 40px;
  }
  /*------End Breadcrum--------*/






   /*-------Footer-----------*/
   .footer-section {
    font-size: 11px;
    position: fixed;
    bottom: 0px;
    background: #EFEFEF;
    width: 100%;
    height: 25px;
    border-top: 1px solid #CCCCCC;
    line-height: 14px;
    padding-top: 5px;
  }
  /*------End Footer--------*/
  