body button, p{color: #666 !important;}
.to-dolist button{
    margin-top:0px;
    height: 54px;
    border: none;
    padding: 10px 22px;
    font-size: 13px;
    width: 100%;
    font-weight: 600;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 100px;
    color: #6b95a0 !important;

}

.card-header{background:#f2f2f236}
.card-header h6{
    font-weight:600 !important;
    margin-bottom: 0px;
    color: #047790;
    
    font-size: 15px;

}
.card{
 margin-bottom:30px;
}
textarea.form-control {
    height:180px;}
.card-body select{
    border:none;
    padding-left: 0px;
    font-size: 12px;
    color: #666;
    padding-top: 0px;
}
.fa-check-circle{
    color: green;
    font-size: 19px;
}
#exampleModal .custom-checkbox{
    margin-top:7px;
}

#exampleModal .modal-footer button{
    font-weight: 600;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 100px;
    color: #6b95a0 !important;
    font-size: 12px;
}

.custom-control-label{
    vertical-align: baseline !important; 
}