/*------Tab section------*/
.ul-tabs li {
    float: left;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    margin: 0 3px 0 0;
    white-space: nowrap;
    font: bold 12px arial,verdana;
    line-height: 1.25em;
    padding: 0px 0px 0px 0px;
    background-image: linear-gradient(#dbe8f6 ,#fff);
    border: 1px solid #70a8b5;
    border-bottom: 1px solid transparent;
  }
  
  .ul-tabs a {
    float: left;
    padding: 0 0 0 9px;
    text-decoration: none;
    color: #404040;
    padding: 2px 8px 1px 8px!important;
    font-size: 12px !important;
  }
  
  .ul-tabs .active {
    background-image: linear-gradient(#dbe8f6 ,#fff) !important;
  }
  
  .ul-tabs .active a {
    background-image: linear-gradient(#dbe8f6 ,#fff);
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    border: none;
  }
  
  .ul-tabs .active a span {
    color: #f38621;
  }
  
  .ul-tabs .ford {
    border: none;
  }
  
  .ul-tabs {
    margin-left: 35px;
    margin-bottom:1px;
    margin-top: 25px;
    border-bottom: none;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #f38621;
}
  /*-----End Tab section-------*/
  
  
  
  .general-info {
    margin-top: 0px;
 
  }
  
  .general-info .portlet-title {
    padding: 15px 20px !important;
  }
  
  .general-info .portlet-title label {
    font-size: 13px !important;
  }
  
  .general-info .portlet-title .row {
    margin-bottom: 6px;
  }
  
  .status-info {
    background: #228b22cf;
    color: #fff;
    border-radius: 117px !important;
    padding: 3px 5px;
    font-size: 11px;
  }
  
  .card-sec .status-icon {
    margin-right: 6px;
    background: transparent;
    color: forestgreen !important;
    font-size: 16px;
  }
  



/* If the screen size is 1200px To 1300px hide the element */
@media (min-width:1200px) and (max-width: 1300px) {
 
      .eclipse-text {
        
        width: 95px;
    }
      .navbar-nav li {
        margin-left: 0%;
    }
}

@media (min-width:1301px) and (max-width: 1500px) {
 
  .eclipse-text {
    
    width: 95px;
}
  .navbar-nav li {
    margin-left: 0%;
}
}

@media (min-width:1501px) and (max-width: 1700px) {
 
  .eclipse-text {
    
    width: 95px;
}
  .navbar-nav li {
    margin-left: 0%;
}
}