/* moodalbox CSS */

div#mb_overlay {
position: absolute;
left: 0;
width: 100%;
background-color: #000000;
cursor: pointer;
}

div#mb_center, div#mb_bottom {
position: absolute;
left: 50%;
overflow: hidden;
background-color: #DDDDDD;
}

div#mb_center {
background-color: #FFFFFF;
}

div#mb_contents {
width: 400px;
height: 400px;
border: 5px solid #FFFFFF;
overflow: auto;
background-color: #FFFFFF;
visibility: hidden;
}

.mb_loading {
background: #DDD url(../images/loading.gif) no-repeat center center;
}

#mb_error {
font-size: 1.2em;
color: #CD0000;
font-weight: bold;
text-align: center;
padding: 0.5em;
font-family: Verdana, Helvetica, sans-serif;
}

#mb_error em {
font-size: 0.8em;
}

div#mb_bottom {
font-family: Verdana, Helvetica, sans-serif;
font-size: 10px;
color: #666;
line-height: 1.4em;
text-align: left;
border: 5px solid #DDD;
border-top-style: none;
}

a#mb_close_link {
display: block;
float: right;
width: 60px;
height: 16px;
background: transparent url(/redsky/images/popup-close.gif) no-repeat center;
margin: 5px 0;
}

div#mb_logo_link {
display: block;
float: left;
width: 62px;
height: 23px;
background: transparent url(/redsky/images/popup-logo.gif) no-repeat center;
margin: 5px 0;
cursor:default;
}


div#mb_caption {
margin-right: 71px;
}