/* A CSS Framework by Mike Stenhouse of Content with Style */

/* FORM ELEMENTS */
/* From http://www.wufoo.com/css/global/dynamic.css */

/* ----- CLASSIC WUFOO FORM ----- */
form {
    font-size: .9em;
}

form ul {
    position: relative;
    list-style: none;
    width: 100%;
    padding: 0px;
}

/* Fixes for forms around everything in JSF */
form ul.glassList {
    list-style: url(../images/aquadot.jpg) disc outside;
    vertical-align: top;
    line-height: 1.2em;
    margin-left: 40px;
}

form ul.glassList li {
    line-height: 1.1em;
    font-size: 1.1em;
    padding: 2px 0px 3px 0px;
}

form .pagebanner, form .exportlinks, form .table {
    font-size: 1.1em;
}
/* End of JSF fixes */

form li {
    line-height: 2em;
    margin: 0;
    padding: 1px 1px 6px 5px;
}

form li.focused {
    background-color: #fff7c0 !important;
}

form li p {
    font-size: 9px;
    line-height: 13px;
    color: #444;
}

form[id] li {
    display: block;
}

form[id] ul.glassList li {
    display: list-item;
}

form li div {
    display: inline-block;
}

form li div.group {
    display: block !important;
    background-color: #f7f7f7;
    padding: 10px;
    width: 355px;
}

form li div.group p, form div.group p label {
    text-align: left;
}

form li div.group input.large, form li div.group textarea.large, form li fieldset {
    width: 339px;
}

form[id] li div {
    display: inline;
}

form .left{
    float: left !important;
    margin: 0;
}

form .right{
    float: right !important;
    margin: 0;
}

form .clear{
    clear: both;
}

form li div {
    margin-bottom: 0px;
}

form li div p {
    margin: 0 0 5px 0;
}

form div.left{
    margin-right: 2px !important;
}

form div.left[class]{
    margin-right: 4px !important;
}

form div.left img{
    margin: 0 0 -2px 0;
}

/* ----- INFO ----- */
form h2{
    font-size: 1.8em;
    clear: left;
}

form .info{
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 0 0 4px 0;
    border-bottom: 1px dotted #ccc !important;
    text-align: left;
}

form .info[class]{
    display: block;
}

form .info p{
    font-size: 1em;
    line-height: 1.3em;
    margin: 0 0 8px 0;
}

/* ----- SECTIONS ----- */
form .section{
    display: inline-block;
    border-top: 1px dotted #ccc !important;
    margin-top: 15px !important;
    padding-top: 12px !important;
    padding-bottom: 0px !important;
}

form .section[class]{
    display: block;
}

form .first{
    border-top: none !important;
    margin-top: 0px !important;
    padding-top: 1px !important;
}

form .section h3{
    font-size: 1.25em;
}

form .section p{
    font-size: 11px;
    line-height: 13px;
}

/* ----- FIELDS AND LABELS ----- */
label.desc { 
    margin: 4px 0 3px 0;
    border: 0;
    font-size: 1em;
    line-height: 1.3em;
    display: block;
    
}

/* wwlbl is from Struts and this is needed to make things work properly with IE 7 */
div.wwlbl { display: block !important }

p label {
    font-weight: normal;
}

input.text, input.number, input.url, input.email, input.password, input.file,
textarea.textarea, select.select{
    font-size: 12px;
    border: 1px solid #7b7a7a;   
    background: #fff;
    color: #000000;
}

input.text, input.number, input.url, input.email, input.password, input.file{
    padding: 2px;
}

input.currency{
    text-align: right;
}

input.checkbox, input.radio{
    display: block;
    line-height: 1.4em;
    margin: 8px 0 0 3px;
    width: 13px;
    height: 13px;
}

input.focus, textarea.focus {
    background: #ffd;
    color: #000;
}

label.choice {
    display: block;
    line-height: 1.4em;
    margin: -19px 0 0 25px;
    padding: 4px 0 5px 0;
    width: 80%;
    font-size: 1.05em;
}

textarea.textarea{
    font-size: 12px;
    font-family: arial,verdana,sans-serif;
    margin-bottom: 1px;
}

textarea.textarea[class]{
    font-family:  arial,verdana,sans-serif;
}

select.select{
    padding: 1px 0 0 0;
    margin: 1px 0 3px 0;
}

select.select[class]{
    margin: 0;
    padding: 1px 0 1px 0;
}

/* ----- SIZES ----- */
form .small{
    width: 70px;
}

form .medium{
    width: 170px;
}

form .large, {
width: 349px;
}

form .tags{
    width: 320px;
}

form textarea.small{
    height: 5.5em;
}

form textarea.medium{
    height: 10em;
}

form textarea.large{
    height: 20em;
}

/* ----- ERRORS ----- */
form li.error{
    background-color: #FFDFDF;
    margin: 3px 0 !important;
}

input.error, textarea.error{
    border: 1px solid #EF5959;
    border-left: 1px solid #FF8F8F;
    border-top: 1px solid #FF8F8F;
    background: #fff;
}

p.error, li.error label.desc{
    color: red !important;
}

p.error{
    font-size: 9px !important;
    margin: 1px 0;
}

/* ----- REQUIRED ----- */
.req {
    font-size: 1em !important;
    color: #f90;
    font-weight: bold;
}

/* ----- Fieldsets ----- */
fieldset {
    margin: 0 0 5px 0;
    padding: 10px 10px 5px 10px;
    color: #444;
    border:1px solid #830000;
}

/* Firefox and others, don't apply to IE or it will put a border under each input element */
li>fieldset, form>fieldset { border: 1px solid silver }

fieldset.choices{
    padding: 10px 5px 10px 10px;
}

fieldset.fieldset{
    padding: 0px 0 10px 0;
}

legend{
    font-weight: bold;
    margin: 0 0 0 0;
    color: #2b2b2b;
     font-size: 12px;
    font-family:arial,verdana,sans-serif; 
}

#formProperties[id] legend, .choices[class] legend{
    margin: 0 0 0 -5px;
}

.fieldset legend{
    margin: 0;
}

.fieldset[class] legend{
    margin: 0 0 0 5px;
}

#formProperties fieldset div{
    margin-bottom: 7px;
}

fieldset div .number{
    margin: 7px 15px 0 0;
}

fieldset p{
    margin: 10px;
}

/* ----- Choices ----- */
.choices input{
    width: 200px;
    margin-right: 3px;
}

.choices ol{
    margin: 10px 0 0 0;
}

.choices[class] ol{
    margin: 0 !important;
}

.choices img{
    margin: 0 0 1px 0;
}

fieldset ol li {
    display: list-item !important;
    margin: 0 5px 2px 3px !important;
    padding: 0 !important;
    list-style: inside decimal;
}

/* ----- Buttons ----- */
input.button, button {
    width: 6em;
    padding: 2px 2px 0 0; /* fix for IE */
}
.subbttn {
	BORDER-RIGHT: #104a7b 2px solid; BORDER-TOP: #ffffff 1px solid; 
	FONT-SIZE: 12px; BACKGROUND: #bfdfff; BORDER-LEFT: #ffffff 1px solid; 
	WIDTH: 45px; CURSOR: hand; COLOR: #000000; BORDER-BOTTOM: #0a3e55 2px solid; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px; TEXT-DECORATION: none
}
.cssbuttonold{
border: 1px  solid #96989A;
background:url(images/bgblue02.jpg) repeat;
color: #fff;
text-decoration: none;
font-family:"Arial";
font-weight:normal
}

.cssbutton{

height: 25px;
padding:0px;
font-family:'arial';
font-weight:bold;
color:#5e0000;
font-size:12px;
background:url(images/btn_bg_black.png) repeat-x;
background-color:#888686;
border:1px solid #cccccc;
}
.cssbutton:hover{
color:#5e0000;
background:url(images/btn_hoverbg_black.png) repeat-x;
background-color: #636363;
}
.cssbutton:disabled{
background-image:none;
color:#8a9099;
background-color:#d3d8dc;
border:solid 1px #c0c0c0;
}


.cssbuttonA{
width: 55px;
height: 25px;
padding:0px;
font:bold 12px arial;
color:#5e0000;
background:url(images/btn_bg_black.png) repeat-x;
background-color:#888686;
border:1px solid #cccccc;
}
.cssbuttonA:hover{
color:#5e0000;
background:url(images/btn_hoverbg_black.png) repeat-x;
background-color: #636363;
}
.cssbuttonA:disabled{
background-image:none;
color:#8a9099;
background-color:#d3d8dc;
border:solid 1px #c0c0c0;
}

.cssbutton1{
width: 55px;
height: 25px;
padding:0px;
font:bold 12px arial;
color:#5e0000;
background:url(images/btn_bg_black.png) repeat-x;
background-color:#888686;
border:1px solid #cccccc;
}
.cssbutton1:hover{
color:#5e0000;
background:url(images/btn_hoverbg_black.png) repeat-x;
background-color: #636363;
}
.cssbutton1:disabled{
background-image:none;
color:#8a9099;
background-color:#d3d8dc;
border:solid 1px #c0c0c0;
}
.cssbuttonB{
border: 1px solid #96989A;
padding: 0px 2px 2px 1px ;
color: #5e0000;
height:21px;
background:url(images/btn_bg_black.png) repeat-x;
background-color:#888686;
text-decoration: none;
font:bold 12px arial;
}
.cssbuttonB:hover{
color: #5e0000;
background:url(images/btn_hoverbg_black.png) repeat-x;
background-color: #636363;
}
.cssbuttonB:disabled{
background-image:none;
color:#8a9099;
background-color:#d3d8dc;
border:solid 1px #c0c0c0;
}
.cssbutton:visited{
color: black;
}
/*
.cssbutton:hover{
color: black;
background-color: #C3C4C5;*/
 /*shift text 1px to the right and down*/
/*}*/

.cssbutton:active{
color: black;
}

.cssbuttonActive{
border: 1px solid #96989A;
padding: 0px 2px 2px 1px ;
background:url(images/bg-blue02.jpg) repeat;
color: #fff;
height:21px;
text-decoration: none;
font: normal 110% "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
}

.cssbuttonActive:visited{
color: black;
}

.cssbuttonActive:hover{
color: black;
background-color: #C3C4C5;
 
}

.cssbuttonActive:active{
color: black;
}

/* revert to normal for Firefox */
li>input.button, li>button, input.button>input.button, button>button {
    padding: 2px;
}

/* pickList for roles in Spring and WebWork */
table.pickList {
    padding: 0;
    border-spacing: 0;
}

table.pickList th.pickLabel {
    text-align: center;
}

table.pickList td {
    text-align: center;
    vertical-align: middle;
}

table.pickList td label {
    vertical-align: middle;
}

table.pickList td button {
width: 55px;
height: 25px;
padding:0px;
font:normal 12px arial;
color:#000;
background:url(images/btn_bg_black.gif) repeat-x;
background-color:#e7e7e7;
border:1px solid #cccccc;
}
table.pickList td button:hover {
color: black;
background:url(images/btn_hoverbg_black.gif) repeat-x;
background-color: #c1c2bf;
}	


table.pickList td select {
    width: 600px;
}

/* END FORM ELEMENTS */

/* Specific forms */

#loginForm fieldset {
    width: 300px;
    padding: 10px 30px;
    /*margin: 0px auto;*/
}

#loginForm li {
    text-align: left;
    padding: 0px;
}


	/*new css-27th July 09*/	
#newmnav{margin-left: 40px;margin-bottom: 0px;_z-index:9999; !z-index:9999; }
#newmnav ul{margin: 0;padding: 0;list-style: none;}
#newmnav li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#c6c6c6 url(images/tabbg_black.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newmnav a {float: left;padding: 0 0 0 9px;background:url(images/tabnLnew.png) no-repeat 0% 0%;text-decoration: none;color: #131313;}
#newmnav a:hover{background-position: 0 -28px;background: url(images/tabnLnew.png) no-repeat 0% 0%;color: #131313;}
#newmnav a.current {background-position: 0 -28px;background: url(images/lefthm.png);color: #131313;font:bold 12px arial,verdana; _margin:2px 0 -11px 0;margin:2px 0 9px 0;}
#newmnav a span {float: left;background:url(images/tabnRnew.png) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#newmnav a:hover span{background-position: 100% -28px;background:url(images/tabnRnew.png) no-repeat 100% 0;cursor: pointer;}
#newmnav a.current span{background-position: 100% -28px;background: url(images/righthm.png) no-repeat 100% 0;cursor: pointer;}
#newmnav a.current:hover span {cursor: default;}


#newmnav1{margin-left: 40px;margin-bottom: 0px; _z-index:9999; !z-index:9999;}
#newmnav1 ul{margin: 0;padding: 0;list-style: none;}
#newmnav1 li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#830000 url(images/tabbg_black.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newmnav1 a {float: left;padding: 0 0 0 9px;background:url(images/lefthm.png) no-repeat 0% 0%;text-decoration: none;color: #000000;margin:2px 0 0px 0;}
#newmnav1 a:hover{background-position: 0 -28px;background: url(images/lefthm.png) no-repeat 0% 0%;color: #000000;}
#newmnav1 a.current {background-position: 0 -28px;background: url(images/lefthm.png);color: #ffffff;font:bold 12px arial,verdana; margin:0px 0 -2px 0;_margin:1px 0 -3px 0; }
#newmnav1 a span {float: left;background:url(images/righthm.png) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#newmnav1 a:hover span{background-position: 100% -28px;background:url(images/righthm.png) no-repeat 100% 0;cursor: pointer;}
#newmnav1 a.current span{background-position: 100% -28px;background: url(images/righthm.png) no-repeat 100% 0;cursor: pointer;}
#newmnav1 a.current:hover span {cursor: default;}
.spn{clear:both;!margin: -3px;!padding: 0;line-height:0.0085em;!line-height:1px; background:transparent; background:transparent;}

/*rounded box for forms-27 July 2009*/
/*new added for Safari Browser css-13th Jan 2011*/
.spnSF {height:0px;}
td.rbrSF{border-color:#858585;
 border-width: 0px 2px 0px 0px;
 border-style: solid;}

#liquid-round {
width:100%;
margin:0px auto;
margin-top:2px;
background:#fff url(images/leftside.png) repeat-y left top;

}
#liquid-round-top {
width:100%;
margin:0px auto;
background:#fff url(images/leftside.png) repeat-y left top;
}
.top {
width:100%;
height:20px;
background:url(images/top.png) no-repeat left top;
}
.top span {
display:block;
position:relative;
height:20px;
background:url(images/top-right.png) no-repeat right top;
}
.center-content {
position:relative;
background:url(images/rightside.png) repeat-y right top;
padding:1px 25px 1px 20px;
margin:-1px 0 -50px 0;
}
.bottom {
width:100%;
height:44px;
background:url(images/bottom.png) no-repeat left bottom;
!margin-top:40px;
}
.bottom span {
display:block;
position:relative;
margin-top:25px;
!margin-top:0px;
margin-right:.095%;
background:url(images/bottom-right.png) no-repeat right top;
}

.bottom-header {
width:100%;
height:44px;
background:url(images/bottom.png) no-repeat left bottom;
!margin-top:25px;
margin-top:25px;
margin-left:1px;
}
.bottom-header span {
display:block;
position:relative;
height:44px;
margin-right:.095%;
margin-top:20px;
!margin-top:0px;
background:url(images/bottom-right.png) no-repeat right top;
}
/*rounded box end*/

.headtab_left{background:url(images/tab_left_black.gif) no-repeat ; height:21px; width:22px; cursor: pointer;}
.headtab_center{background:#c1c1c1 url(images/left_bg_black.gif) repeat-x;
height:21px;color: #131313;font:12px Arial, Helvetica, sans-serif ; font-weight:bold; cursor: pointer; }
.headtab_bg{background:#ffc94e url(images/tab_center_black.gif) no-repeat ; height:21px; width:28px; cursor: pointer; text-align: right; }
.headtab_bg_special{background:#d4d4d3 url(images/tab_bg_black.gif) repeat-x; height:21px; width:40%; cursor: pointer; text-align: right;}
.headtab_bg_center{background:#d4d4d3 url(images/tab_bg_black.gif) repeat-x; height:21px; width:75%; cursor: pointer; text-align: right;}
.headtab_right{background:url(images/tab_right_black.gif) no-repeat; height:21px; width:8px;cursor: pointer;}
.headtab_bg_small{background:#d4d4d3 url(images/tab_bg_black.gif) repeat-x; height:21px; cursor: pointer; text-align: right;}


.colored_bg{background-color:#d4d4d3}

.listwhitetextAcct {
background-color:#d4d4d3;
color:#383838;
font-family:arial,verdana;
font-size:11px;
font-weight:normal;
padding-right:2px;
text-decoration:none;
}

.bgblue{
background:url(images/blue_band_black.jpg);
height: 30px;
width:630px;
background-repeat: no-repeat;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #383838;
padding-left: 40px;
}


.key_acc {
background:transparent url(images/key_acc_orange.jpg) no-repeat scroll 0 0;
cursor:default;
height:22px;
margin-left:22%;
!margin-top:-21px; 
}

.key_workticket {
background:transparent url(images/key_wt_new_black.jpg) no-repeat scroll 0 0;
cursor:default;
height:22px;
margin-left:23%;
margin-bottom: -22px;}

.timesheet_band{
background:transparent url(images/bandcrewim_black.jpg) no-repeat scroll 0 0;
cursor:default;
height:22px;

}

.rulesyellowtextUpper{
       font-family:arial,verdana;
       font-size:12px;
       color:rgb(00,00,00);       
       height:18px;
       padding:3px 2px 0 0;
       text-decoration: none;
       /*background-color: rgb(214,236,236);*/
       background-color: #ffbf43 ;
}

.rulesbluetextUpper{
       font-family:arial,verdana;
       font-size:12px;
       color:rgb(00,00,00);       
       height:18px;
       padding:3px 2px 0 0;
       text-decoration: none;
       /*background-color: rgb(214,236,236);*/
       background-color: #52CAD9;
}
.rulesgreentextUpper{
       font-family:arial,verdana;
       font-size:12px;
       color:rgb(00,00,00);       
       height:18px;
       padding:3px 2px 0 0;
       
       text-decoration: none;
       /*background-color: rgb(214,236,236);*/
       background-color: #a5e362 ;
       
}
.notesDetailTable {
border:1px solid #930000;
background:#d4d4d3 url(images/notes-bg_black.png);
background-repeat:repeat-x;
background-position:bottom left; 
}

.vertlinedata{background:url(images/vertlinedata.png) repeat-x ;width: 100%; height:1px; }
.vertlinedata_vert{background:url(images/vertlinedata.png) repeat-y ;width: 100%; width:1px; }
input.newmnavbutton {background:transparent url(images/tabn1.gif) no-repeat scroll 0%; color:#FFFFFF; 
float:left; padding:0pt 0pt 0pt 9px; text-decoration:none;cursor: pointer;}

.listwhitetext-hcrew {
background-color:#d4d4d3;
color:#383838;
font-family:arial,verdana;
font-size:11px;
font-weight:bold;
text-decoration:none;
padding:0px 0px 2px 0px;
!padding-bottom:3px;
}

.agent_bg{background:url(images/agent_prf_bg.png) no-repeat;width: 238px; height:172px;
padding:20px 20px 35px 20px; 

}

.globe{background:url(images/globe_grey.png) no-repeat;width: 32px; height:32px}

.partner-text {
color:#000000;
font-family:arial,verdana;
font-size:11px;
font-weight:normal;
text-decoration:none;
background-color:#737373;
line-height:20px;
}
.p-table{
margin:0 0 1px;
border:1px solid #000000;
border-collapse:collapse;}

.link-up {
	background:url(images/link-button-new_black.png) no-repeat scroll 0 0;	
	width:71px;
	height:22px;
	cursor: pointer;
	}
#btbg-big{
	background:url(images/countbg-big_black.gif) no-repeat scroll 0 0;
	font-size:12px;
	padding-top:3px;
	text-align:center;
	width:160px;height:24px;
}
#btbg-middle{
	background:url(images/bg-hide_black.png) no-repeat scroll 0 0;
	font-size:12px;
	padding-top:3px;
	text-align:center;
	width:83px;height:24px; 
	cursor: pointer;
}
#btbg-small{
	background:url(images/countbg_black.gif) no-repeat scroll 0 0;
	font-size:12px;
	padding-top:3px;
	text-align:center;
	width:79px;height:24px;
}
#priceinfotab_bg{
background:#ffffff url(images/price_tab_bg_black.png) repeat-x;
height:26px; !width:70%; width:91%;
color: #383838;font:13px Arial, Helvetica, sans-serif ;
font-weight:bold;
cursor: pointer;
padding:0px;
border:1px solid #930000;
border-bottom:none;
}

.movebutton {
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:2px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:2px;
background-color:#C6DEFF;
background-image:url(images/buttonblue_black.png);
border:1px solid #8F2323;
color:#383838;
display:block;
float:right;
font-family:arial;
font-size:12px;
font-weight:bold;
margin:0 3px 0 0;
padding:2px 10px;
}

.curved-left {
/* border:1px dotted #219DD1;
-moz-border-radius:8px;
-webkit-border-radius:8px;
behavior:url(border-radius.htc);*/
behavior:url(border-radius.htc);
background:url(images/survey-br-left_black.png);
height:75px;
width:514px;
}
.curved-right {
/* border:1px dotted #219DD1;
-moz-border-radius:8px;
-webkit-border-radius:8px;
behavior:url(border-radius.htc);*/
behavior:url(border-radius.htc);
background:url(images/survey-br-right_black.png);
height:75px;
width:341px;
}
.survey-back {
	background:url(images/s-backward_black.png) no-repeat scroll 0 0;	
	width:112px;
	height:25px;
	cursor: pointer;
	}
	
.survey-forw {
	background:url(images/s-forward_black.png) no-repeat scroll 0 0;	
	width:127px;
	height:25px;
	cursor: pointer;
	}

.pricetab_bg {
    background: url("images/price_tab_bg_black.png") repeat-x scroll 0 0 #FFFFFF;
    color: #383838;
    cursor: pointer;
    font: bold 12px Arial,Helvetica,sans-serif;
    height: 26px;
    padding: 0;
    width: 100%;
    border-bottom:1px solid #930000;
}
.pricetab_bg.topsection{
border-top:1px solid #930000;
}
.pleft-bg {
border-right: 1px solid #930000;
margin: 0px; padding: 0px;
background-color: #EFEFEF;
}
.inner-tab{background:#ffffff url(images/basic-inner_black.png) repeat-x; height:35px;}
.price-bg{background-image:url(images/ng-bg_black.png); background-repeat:repeat-x;margin:0px;padding:0px;}
.filter-bg{background-image:url(images/border-filter_black.png); background-repeat:no-repeat; text-align:left;margin:3px; height:77px; width:952px;}

.summary-tab {margin:0px;padding:0px;border-bottom:1px solid #930000;}

.heading{
  	background:#DCDCDC url(images/greylinebg.gif) repeat scroll 0% 0%;
	border-color:#DCDCDC -moz-use-text-color;
	border-style:solid none;
	border-width:1px medium;
	color:#484848;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	height:24px;
	}