/* A CSS Framework by Mike Stenhouse of Content with Style */

/*@import url(nav-horizontal.css);*/
@import url(nav-horizontal-new.css);

 
/* NAV BAR AT THE TOP AND TWO COLUMNS OF CONTENT */
    div#content {
        position: relative;
        margin: 0 auto 20px auto;
        padding: 0;
        text-align: left;
    }
    div#main {
        float: left;
        width: 830px;
        display: inline;
    }
    div#sub {
        float: right;
        width: 120px;
        display: inline;
    }
        div#sub ul#local {
            padding: 0;
            margin: 0;
            margin-left: 10px;
        }
    div#nav {
        position: absolute;
        top: -52px;/*By Vijay earlier it was -25px*/
        left: 140px;
        width: 100%;

        text-align: left;
    }
/* END CONTENT */