.head-text {
	font-family: arial,verdana;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	font-style: normal;
}
.breadcrumbs {
	font-family: arial,verdana;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
	background-color:#9b0000; 
	padding:3px;
} 
.content-head {
	font-family: arial,verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
input.text {
	font-family: arial,verdana;
	font-size: 12px;
	color: #000000;
	border:1px solid #7b7a7a;
}

.input-text{
	font-family:arial,verdana;
	font-size:12px;
	color:rgb(00,00,00);
	border:1px solid #7b7a7a;
	height:15px;
	text-decoration: none;
}
.input-text:hover{
	background-color: #f4e5e5;
	border-color:#830000;
}

.input-textUpper{
	font-family:arial,verdana;
	font-size:12px;
	color:#930000;
	border:1px solid #afafaf;
	height:15px;
	text-decoration: none;
	background-color: #ebebeb;
}

.list {
	border:1px solid #7b7a7a;
	font-family: arial,verdana;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	background-color: #ffe79d;
}
a, a:link a:active {
color:#000000;
text-decoration:none;
}

.listwhite {
	font-family: arial,verdana;
	font-size: 10px;
	color: #383838;
	text-decoration: none;
	background-color: none;
	font-weight: bold;
}

.listwhitetext {
	font-family: arial,verdana;
	font-size: 11px;
	color: #383838;
	text-decoration: none;
	background-color: none;
	font-weight: normal;
}
.listwhitelargetext {
	font-family: arial,verdana;
	font-size: 12px;
	color: #383838;
	text-decoration: none;
	background-color: none;
	font-weight: normal;
}

.listwhitebox {
	font-family: arial,verdana;
	font-size: 11px;
	color: #383838;
	text-decoration: none;
	background-color: none;
	font-weight: normal;
}

.list-menu{
	font-family:arial,verdana;
	font-size:12px;
	color:rgb(00,00,00);
	border:1px solid #7b7a7a;
	height:19px;
	!height:25px;
	overflow:hidden;
	text-decoration: none;
	padding:1px;}
	
}
.list-menu:hover{
	background-color: #f4e5e5;
	border-color:#830000;
}

.textarea{
	font-family:arial,verdana;
	font-size:12px;
	color:rgb(00,00,00);
	border:1px solid #7b7a7a;
	text-decoration: none;
}
.textarea:hover{
	background-color: #f4e5e5;
	border-color:#830000;
}

.boldhead {
	font-family: arial,verdana;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	background-color: #9F9FD0;
	font-weight: bold;
}
/*
.table thead th, .tableHeaderTable td {
	font-family: arial,verdana;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	background-color: #9F9FD0;
	font-weight: bold;

}
*/


.strbg {
background:url("images/strBg_black.gif") no-repeat scroll right center transparent;
height:18px;
padding-right:20px;
width:110px;
}
.strbg:hover{opacity:0.8;filter:alpha(opacity=80);}

/* By Vijay For List Pages Table*/
.table thead th, .tableHeaderTable td {
background:#464646 url(images/bg_listheader_black2.png) repeat-x scroll 0 0;
border-color:#696968 #696968 #696968 #696968;
border-style:solid solid solid solid;
border-width:1px 1px 1px 1px;
color:#131313;
font-family:arial,verdana;
font-size:11px;
font-weight:bold;
height:25px;
padding:2px 3px 3px 5px;
text-decoration:none;
	

}
/* By Vijay For List Pages Table*/
.menu {
	font-family: "Century Gothic";
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #E68A00;
	clear: left;
	float: left;
	height: 22px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
}
.submenu {
	font-family: arial,verdana;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	background-color: #DEC684;
	clear: left;
	float: left;
	height: 20px;
}
.welcome {

	font-family: arial,verdana;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}
 
.searchLabel{margin:0px 0px 1px;} 

#searchLabelCenter{background-color:#5b7eb8;}

span.pagebanner{display:none;}

.content-tab {

	font-family: arial,verdana;
	font-size: 11px;
	font-weight: bold;
	color:#FFF;
	text-decoration: none;
	background-image: url(/redsky/images/background.jpg);
	background-repeat: repeat;
}
.content-tab a{color: #FFF;
}

.subcontent-tab {
	 background:#484848 url(images/bg_listheader_black2.png) repeat-x scroll 0 0;
    height:25px;
	font-family: arial,verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	padding:3px 3px 1px 10px;
	border-top:1px solid #930000;
}
.subcontenttabChild {
background:#464646 url(images/greylinebg.gif) repeat scroll 0% 0%;
border-color:#cecece -moz-use-text-color;
border-style:solid none;
border-width:1px medium;
color:#000000;
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
font-weight:bold;
height:22px;
padding:2px 3px 3px 5px;
text-decoration:none;
}      


.detailTabLabel{margin:0px 0px 1px;}  

.detailActiveTabLabel {background-image: url(/redsky/images/background1.jpg);
	background-repeat: repeat;
	color:#000000;
}
.detailActiveTabLabel a{color:#000000;}

.mainDetailTable{border:1px solid #930000;}

.tablegrey{border:1px solid #d2d3d3; width:700px;}

.save{
   behavior:url(#default#savehistory);}


a.dsphead{
   text-decoration:none;
   color:#000000;
}

a.dsphead span.dspchar{
   font-family:monospace;
   font-weight:normal;}

.dspcont{
   display:none;
}

.dspchar{padding-left:620px;
		 font-weight:normal;}
.dspchar1{padding-left:580px;}
.dspchar2{padding-left:550px;}
.dspchar3{padding-left:450px;}

#Layer2{border:1px solid #74B3DC;}

#Layer1{width:700px;}

.mainDetailTable{width:700px;}

#content{0px 0px 20px}

form .medium {
width:auto;
}

#mainPopup {padding-left:20px;padding-right:20px;}

.openpopup{cursor:pointer;}

/*content-nav*/
#content-nav {
	position:relative;
	float:left;
	width:700px;
	padding:0em 0em 0em 0em;
	margin:0;
	list-style:none;
	line-height:.1em;
	font-family: arial,verdana;
	font-size:100%;
	display:block;
	
}

#content-nav LI {
	float:left;
	margin:0;
	padding:0;
}

#content-nav A {
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	background:url(/redsky/images/bgblue02.jpg) top left repeat;
	margin:0;
	padding:0em .55em 0em .55em;

	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}

#content-nav A:hover,
#content-nav A:active,
#content-nav A.here:link,
#content-nav A.here:visited {
	background:url(images/bguleft.jpg);
	background-repeat:repeat;
}

#content-nav A.here:link,
#content-nav A.here:visited {
	position:relative;
	z-index:102;
	background:url(images/bguleft.jpg);
	background-repeat:repeat;
}

/*content-nav-UL*/

#content-nav UL {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	background:#bbb;
	width:100%;
	margin:0;
	padding:0em .55em 0em .55em;

	list-style:none;
	border-top:1px solid #fff;
}

#content-nav UL LI {
	float:left;
	display:block;
	margin-top:1px;
	
}

#content-nav UL A {
	background:#bbb;
	color:#fff;
	display:inline;
	margin:0;
	padding:0em .55em 0em .55em;
	border:0
}

#content-nav UL A:hover,
#content-nav UL A:active,
#content-nav UL A.here:link,
#content-nav UL A.here:visited {
	color:#444;
	background:#bbb;
}

#content-nav .current a{
	background:url(images/bguleft.jpg);
	background-repeat:repeat;
	color: #000000;
}
.rules-textUpper{
       font-family:arial,verdana;
       font-size:12px;
       color:rgb(00,00,00);
       border:1px solid RED;
       height:15px;
       text-decoration: none;
       /*background-color: rgb(214,236,236);*/
       background-color: rgb(253,209,200);
}

.ruleslabel{font: bold 12px arial,verdana; color:#000; 
text-decoration:none}

.handcursor{
cursor:hand;
cursor:pointer;
font-color:black;
}
	

/* By Aman For List Pages*/

#newtabs{margin-left: 40px; position:relative;margin-bottom:0px;!margin-bottom:-10px;}
#newtabs ul{margin: 0;padding: 0;list-style: none;_z-index:9999; !z-index:9999}
#newtabs li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#830000 url(images/tabbg_black.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newtabs a {float: left;padding: 0 0 0 9px;background:url(images/tabnLnew.png) no-repeat 0% 0%;text-decoration: none;color: #131313;}
#newtabs a:hover{background-position: 0 -28px;background: url(images/tabnLnew.png) no-repeat 0% 0%;color: #131313;}
#newtabs a.current {background-position: 0 -28px;background: url(images/left_otab_black.png);color: #ffffff;font:bold 12px arial,verdana; }
#newtabs a span {float: left;background:url(images/tabnRnew.png) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#newtabs a:hover span{background-position: 100% -28px;background:url(images/tabnRnew.png) no-repeat 100% 0;cursor: pointer;}
#newtabs a.current span {background-position: 100% -28px;background: url(images/right_otab_black.png) no-repeat 100% 0;cursor: pointer;}
#newtabs a.current:hover span {cursor: default;}

#otabs{margin-left: 40px; position:relative;margin-bottom: 32px;!margin-bottom:-10px;}
#otabs ul{margin: 0;padding: 0;list-style: none;_z-index:9999; !z-index:9999}
#otabs li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#830000 url(images/tabbg_black.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#otabs a {float: left;padding: 0 0 0 9px;background:url(images/tabnLnew.png) no-repeat 0% 0%;text-decoration: none;color: #131313;}
#otabs a:hover{background-position: 0 -28px;background: url(images/tabnLnew.png) no-repeat 0% 0%;color: #131313;}
#otabs a.current {background-position: 0 -28px;background: url(images/left_otab_black.png);color: #ffffff;font:bold 12px arial,verdana; }
#otabs a span {float: left;background:url(images/tabnRnew.png) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#otabs a:hover span{background-position: 100% -28px;background:url(images/tabnRnew.png) no-repeat 100% 0;cursor: pointer;}
#otabs a.current span {background-position: 100% -28px;background: url(images/right_otab_black.png) no-repeat 100% 0;cursor: pointer;}
#otabs a.current:hover span {cursor: default;}
/* By Aman */


.heading-bg{background:#484848 url(images/bg_listheader_black2.png) repeat-x scroll 0 0;
border-color:#696968 #696968 #696968 -moz-use-text-color;
border-style:solid solid solid none;
border-width:1px 1px 1px medium;
color:#000000;
font-family:arial,verdana;
font-size:11px;
font-weight:bold;
padding:2px 3px 3px 5px;
text-decoration:none;
height:25px;
}



.list-column{line-height:18px; font-size:12px; color:#131313; font-family:arial, verdana; border-right:1px solid #575757; border-bottom:1px solid #575757;}

.list-columnlast{ font-size:12px; color:#131313; font-family:arial, verdana; border-bottom:1px solid #575757;}

.list-columnmain{line-height:18px; font-size:12px; color:#131313; font-family:arial, verdana; border-right:1px solid #575757; border-top:1px solid #575757; padding-left:3px;}

.list-columndate{ font-size:12px; color:#131313; font-family:arial, verdana; border-right:1px solid #575757;}

.list_sum_bg {
line-height:18px;
background-color:#EBE2E2;
color:#383838;
font-family:arial,verdana;
font-size:12px;
font-weight:normal;
padding-right:2px;
text-decoration:none;
 border-right:1px solid #575757; border-bottom:1px solid #575757;
 border-top:1px solid #575757;
}

.list_last_bg {
line-height:18px;
background-color:#EBE2E2;
color:#383838;
font-family:arial,verdana;
font-size:12px;
font-weight:normal;
padding-right:2px;
text-decoration:none;
 border-right:1px solid #575757; border-bottom:1px solid #575757;

}

.list_grand_bg {
line-height:18px;
background-color:#6b6a6a;
color:#930000;
font-family:arial,verdana;
font-size:12px;
font-weight:normal;
padding-right:2px;
text-decoration:none;
border-right:1px solid #575757;
border-bottom:1px solid #363636;

}

.balanceBox { border:none;
color:#000000;
font-family:arial,verdana;
font-size:13px;
height:15px;
text-decoration:none;
}

.balanceBox1 { border:1px solid #FFFFFF;
color:#000000;
background-color:#BCD2EF;
font-family:arial,verdana;
font-size:13px;
height:15px;
text-decoration:none;
}

.rec_sum_bg {
background-color:#ACACAC;
border-bottom:1px solid #575757;
border-left:2px solid #575757;
border-right:2px solid #575757;
color:#930000;
font-family:arial,verdana;
font-size:12px;
font-weight:bold;
line-height:18px;
padding-right:2px;
text-decoration:none;
}

.rec-columnmain {
background-color:#E8E8E8;
border-right:1px solid #575757;
border-top:1px solid #575757;
color:#000000;
font-family:arial,verdana;
font-size:12px;
line-height:18px;
padding-left:3px;
}

.list-columnmain2 {
background-color:#c69191;
border-bottom:2px solid #575757;
border-right:2px solid #575757;
border-top:2px solid #575757;
color:#383838;
font-family:arial,verdana;
font-size:12px;
font-weight:normal;
line-height:18px;
padding-right:2px;
text-decoration:none;
}

.min_quant{position:relative;
left:140px;top: 40px;
font-family:Arial,Helvetica,sans-serif;
font-size: 11px;
color: #131313;
font-weight: bold;
}
.groupButton {
background:#373B3F url('images/group-bg_black.png') no-repeat; 
border:0px; margin:0px;
cursor:pointer;
-moz-border-radius: 2px 2px 2px 2px;
padding:0px 0px 5px 5px;
height:23px; 
width:108px;
font-size:12px;
font-family:arial;
text-align:left;
color:#ffffff;
font-weight:bold;
}
.OverFlowPr {
	overflow-x:auto;
	overflow-y:auto;
	!overflow-x:scroll;
	!overflow-y:visible;			
}