/* ----- Modified css by 29-08-2014 ----- */

@import url(nav-horizontal-new.css);

    body {
        margin: 0;
        padding: 0;
        text-align: center;        
    }
    
    div#page {        
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }
    
 /* HEADER */
     div#header {
         margin: 0 0 0 /*2.4em*/ 0;
         text-align: left;
     }
     div#switchLocale {
         position: absolute;
         right: 10px;
         }
     div#branding {
         float: left;
         width: 100%;
         margin: 0;
         text-align: left;
         height: 48px;
     }
     div#search {
         float: right;
         width: 49%;
         margin: 0;
         padding: 40px 40px 0 0;
         text-align: right;
     }
 /* END HEADER */
    
    /* CONTENT */
         div#content {
        position: relative;
		left:0px;
        margin: 0 auto 20px 0px;
        padding: 0;
        text-align: left;
        min-height: 50px;
    	height: 100%;
    	height: auto;
    	}
    	
    	div#inner-content {
    	margin-left:0px;
    	}
    	
        body#error #content {
        margin-top: 20px;
            }
        /* MAIN */
       #inner-content div#main {
       width:97% !important;
       text-align: left;
       margin-left:1.5% !important;  
           
       display:block !important;
      
    }
    
   /*# div#main {
       width:97% !important;
       text-align: left;
      
    }*/
    
    
      div#main form ul li {
       list-style-type: none;
       margin-left: 0;
      }
      div#main h1 {
  		margin-left: -330px;
	}
	div#main p {
  	margin-top: 10px;
  	margin-bottom: 0;
  	padding-bottom: 0;
}
        /* END MAIN */
        
        /* SUB */
    div#sub h2 {
        margin-bottom: 5px;
    }
    
    div#sub ul li {
        list-style-type: none;
        padding-bottom: 10px;
    }
        div#sub p.line {
        border-top: 1px dotted #ccc;
        margin: 15px 0;
        }
            
        /* END SUB */
        div#nav {
        position: absolute;
        top: -52px;
        left: 0px;
        width: 100%;

        text-align: left;
    	}
    /* END CONTENT */
    
    /* FOOTER */
        div#footer {
            color: #444;
            padding: 0 1%; */
            text-align: left;
            font-size: 0.9em;
           
        }

       div#footer div#divider {
           margin: 0 0 4px 0;
           border-top: 1px solid #ccc;
            }

      div#footer div#divider div {
            margin: 1px 0 0 0;
            border-top: 6px solid #ebf5fc;
            }

      div#footer .left {
            float: left;
            }

      div#footer .right {
            float: right;
            }
            
      #clearfooter {height: 10px;}
            
    /* END FOOTER */
/* END LAYOUT */
YOUT */
 */
/* END LAYOUT */
