/*list-common css updated (28-06-2017)by arbind*/
.head-text {
	font-family: arial,verdana;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	font-style: normal;
}
.breadcrumbs {
	font-family: arial,verdana;
	font-size: 11px;
	color: #006699;
	text-decoration: none;
	font-weight: normal;
	background-color:#f5f5f5; 
	padding:3px;
} 
.content-head {
	font-family: arial,verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
input.text {
	font-family: arial,verdana;
	font-size: 12px;
	color: #000000;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-color: #219DD1;
	border-right-color: #219DD1;
	border-bottom-color: #219DD1;
	border-left-color: #219DD1;
}

.input-text{
	font-family:arial,verdana;
	font-size:12px;
	color:rgb(00,00,00);
	border:1px solid rgb(33,157,209);
	height:15px;
	text-decoration: none;
}
.input-text:hover{
	background-color: #F1F5F5;
	border-color:rgb(171,173,179);
}

.input-textUpper{
	font-family:arial,verdana;
	font-size:12px;
	color:rgb(00,00,00);
	border:1px solid rgb(171,173,179);
	height:15px;
	text-decoration: none;
	/*background-color: rgb(214,236,236);*/
	background-color: rgb(227,241,254);
}

.input-textRight {
    border: 1px solid #219DD1;
    color: #000000;
    font-family: arial,verdana;
    font-size: 12px;
    text-align:right;
    height: 15px;
    text-decoration: none;
}

.list {
	font-family: arial,verdana;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	background-color: #BFDFFF;
}
a, a:link a:active {
	color:#003366;
	text-decoration:none;
}

.listwhite {
	font-family: arial,verdana;
	font-size: 10px;
	color: #003366;
	text-decoration: none;
	background-color: none;
	font-weight: bold;
}

.listwhitetext {
	font-family: arial,verdana;
	font-size: 11px;
	color: #003366;
	text-decoration: none;
	background-color: none;
	font-weight: normal;
}

.listwhitetext-h1 {
	color:#007a8d;
	font-family:arial,verdana;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;
}
.listwhitelargetext {
	font-family: arial,verdana;
	font-size: 12px;
	color: #003366;
	text-decoration: none;
	background-color: none;
	font-weight: normal;
}

.largetext-ltblue {
	font-family: arial,verdana;
	font-size: 13px;
	color:#575757;
	text-decoration: none;
	background-color: none;
	font-weight: normal;
}

.listwhitebox {
	font-family: arial,verdana;
	font-size: 11px;
	color: #003366;
	text-decoration: none;
	background-color: none;
	font-weight: normal;
}

.list-menu{
	font-family:arial,verdana;
	font-size:12px;
	color:rgb(00,00,00);
	border:1px solid rgb(33,157,209);
	height:19px;
	!height:20px;
	overflow:hidden;
	text-decoration: none;
	padding:1px;}
	
}
.list-menu:hover{
	background-color: #F1F5F5;
	border-color:rgb(171,173,179);
}
.list-menuUpper{
	font-family:arial,verdana;
	font-size:12px;
	color:rgb(00,00,00);
	border:1px solid rgb(171,173,179);
	height:19px;
	!height:20px;
	overflow:hidden;
	text-decoration: none;
	/*background-color: rgb(214,236,236);*/
	background-color: rgb(227,241,254);
	padding:1px;
}
.textarea{
	font-family:arial,verdana;
	font-size:12px;
	color:rgb(00,00,00);
	border:1px solid rgb(33,157,209);
	text-decoration: none;
}
.textarea:hover{
	background-color: #F1F5F5;
	border-color:rgb(171,173,179);
}
.textareaUpper {
	background-color: #E3F1FE;
    border: 1px solid #ABADB3;
    color: #000000;
    font-family: arial,verdana;
    font-size: 12px;
    text-decoration: none;
}
.boldhead {
	font-family: arial,verdana;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	background-color: #9F9FD0;
	font-weight: bold;
}

.strbg {
background:url("/redsky/images/strBg.gif") no-repeat scroll right center transparent;
height:18px;
padding-right:20px;
width:110px;
}
.strbg:hover{opacity:0.8;filter:alpha(opacity=80);}

/* By Arbind For List Pages Table*/
.table thead th, .tableHeaderTable td {
	background:#BCD2EF url(/redsky/images/bg_listheader.png) repeat-x scroll 0 0;
	border-color:#3dafcb #3dafcb #3dafcb #3dafcb;
	border-style:solid solid solid solid;
	border-width:1px 1px 1px 1px;
	color:#15428B;
	font-family:arial,verdana;
	font-size:11px;
	font-weight:bold;
	height:25px;
	padding:2px 3px 3px 5px;
	text-decoration:none;
	

}
/* updated by Arbind For List Pages Table*/
.menu {
	font-family: "Century Gothic";
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #E68A00;
	clear: left;
	float: left;
	height: 22px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 2px;
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
}
.submenu {
	font-family: arial,verdana;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	background-color: #DEC684;
	clear: left;
	float: left;
	height: 20px;
}
.welcome {
	font-family: arial,verdana;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
} 
.searchLabel{
	margin:0px 0px 1px;
} 

#searchLabelCenter{
	background-color:#5b7eb8;
}
span.pagebanner{
	display:none;
}
.content-tab {
	font-family: arial,verdana;
	font-size: 11px;
	font-weight: bold;
	color:#FFF;
	text-decoration: none;
	background-image: url(/redsky/images/background.jpg);
	background-repeat: repeat;
}
.content-tab a{
	color: #FFF;
}
.subcontent-tab {
    background:#131313 url(/redsky/images/bg_listheader_black.png) repeat-x scroll 0 0;
    height:25px;
	font-family: arial,verdana;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;	
	padding:3px 3px 1px 10px;
	border-top:1px solid #000000; 
	border-bottom:1px solid #000000;
}

.subcontenttabChild {
	background:#DCDCDC url(/redsky/images/greylinebg.gif) repeat scroll 0% 0%;
	border:1px solid #DCDCDC;	
	color:#15428B;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	height:22px;
	padding:2px 3px 3px 5px;
	text-decoration:none;
}
.detailTabLabel{
	margin:0px 0px 1px;
}

.tableNomarg{
	margin:0px;
	padding:0px;
}
.mc-0 {margin:0px;}

.detailActiveTabLabel {
	background-image: url(/redsky/images/background1.jpg);
	background-repeat: repeat;
	color:#000000;
}
.detailActiveTabLabel a{
	color:#000000;
}
.mainDetailTable{
	border:1px solid #3DAFCB;
}
.tablegrey{
	border:1px solid #d2d3d3; width:700px;
}
.save{
   behavior:url(#default#savehistory);
}
a.dsphead{
   text-decoration:none;
   color:#000000;
}
a.dsphead span.dspchar{
   font-family:monospace;
   font-weight:normal;
}
.dspcont{
   display:none;
}
.dspchar{
	padding-left:620px;
	font-weight:normal;
}
.dspchar1{padding-left:580px;}
.dspchar2{padding-left:550px;}
.dspchar3{padding-left:450px;}

#Layer2{
	border:1px solid #74B3DC;
}
#Layer1{
	width:700px;
}
.mainDetailTable{
	width:700px;
}
#content{
	0px 0px 20px
}

form .medium {
	width:auto;
}

#mainPopup {
	padding-left:20px;
	padding-right:20px;
}
.openpopup{
	cursor:pointer;
}

/*content-navigation*/
#content-nav {
	position:relative;
	float:left;
	width:700px;
	padding:0em 0em 0em 0em;
	margin:0;
	list-style:none;
	line-height:.1em;
	font-family: arial,verdana;
	font-size:100%;
	display:block;
	
}
#content-nav LI {
	float:left;
	margin:0;
	padding:0;
}
#content-nav A {
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:bold;
	background:url(/redsky/images/bgblue02.jpg) top left repeat;
	margin:0;
	padding:0em .55em 0em .55em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;}

#content-nav A:hover,
#content-nav A:active,
#content-nav A.here:link,
#content-nav A.here:visited {
	background:url(/redsky/images/bguleft.jpg);
	background-repeat:repeat;
}

#content-nav A.here:link,
#content-nav A.here:visited {
	position:relative;
	z-index:102;
	background:url(/redsky/images/bguleft.jpg);
	background-repeat:repeat;
}

/*content-nav-UL*/

#content-nav UL {
	position:absolute;
	left:0;
	top:1.5em;
	float:left;
	background:#bbb;
	width:100%;
	margin:0;
	padding:0em .55em 0em .55em;
	list-style:none;
	border-top:1px solid #fff;
}

#content-nav UL LI {
	float:left;
	display:block;
	margin-top:1px;	
}

#content-nav UL A {
	background:#bbb;
	color:#fff;
	display:inline;
	margin:0;
	padding:0em .55em 0em .55em;
	border:0
}

#content-nav UL A:hover,
#content-nav UL A:active,
#content-nav UL A.here:link,
#content-nav UL A.here:visited {
	color:#444;
	background:#bbb;
}

#content-nav .current a{
	background:url(/redsky/images/bguleft.jpg);
	background-repeat:repeat;
	color: #000000;
}
.rules-textUpper{
    font-family:arial,verdana;
    font-size:12px;
    color:rgb(00,00,00);
    border:1px solid red; 
    text-decoration: none;
    /*background-color: rgb(214,236,236);*/
    background-color: rgb(253,209,200);
}

.ruleslabel{
	font: bold 12px arial,verdana; color:#000; 
	text-decoration:none
}

.handcursor{
	cursor:hand;
	cursor:pointer;
	font-color:black;
}

/* Modified By Arbind For List Pages*/
#newtabs{margin-left: 40px; position:relative;margin-bottom: 0px;!margin-bottom:-10px;}
#newtabs ul{margin: 0;padding: 0;list-style: none;_z-index:9999; !z-index:9999}
#newtabs li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#bbd9fe url(/redsky/images/tabbg.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newtabs a {float: left;padding: 0 0 0 9px;background:url(/redsky/images/tabn1new.png) no-repeat 0% 0%;text-decoration: none;color: #404040;}
#newtabs a:hover{background-position: 0 -28px;background: url(/redsky/images/tabn1new.png) no-repeat 0% 0%;color: #404040;}
#newtabs a.current {background-position: 0 -28px;background: url(/redsky/images/left_tab.png);color: #404040;font:bold 12px arial,verdana; }
#newtabs a span {float: left;background:url(/redsky/images/tabn2new.png) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#newtabs a:hover span{background-position: 100% -28px;background:url(/redsky/images/tabn2new.png) no-repeat 100% 0;cursor: pointer;}
#newtabs a.current span {background-position: 100% -28px;background: url(/redsky/images/right_tab.png) no-repeat 100% 0;cursor: pointer;}
#newtabs a.current:hover span {cursor: default;}


/* Modified By Arbind For List Pages*/

#otabs{margin-left: 40px; position:relative;margin-bottom:32px;!margin-bottom:-10px;}/*sandeep margin-bottom:32px;*/
#otabs{margin-left: 40px; position:relative;margin-bottom:32px;!margin-bottom:-10px;}/*jitendra testing file css date 28-09-2018 time-15:58PM for check*/
#otabs ul{margin: 0;padding: 0;list-style: none;_z-index:9999; !z-index:9999}
#otabs li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#bbd9fe url(/redsky/images/tabbg.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#otabs a {float: left;padding: 0 0 0 9px;background:url(/redsky/images/tabn1new.png) no-repeat 0% 0%;text-decoration: none;color: #404040;}
#otabs a:hover{background-position: 0 -28px;background: url(/redsky/images/tabn1new.png) no-repeat 0% 0%;color: #404040;}
#otabs a.current {background-position: 0 -28px;background: url(/redsky/images/left_tab.png);color: #404040;font:bold 12px arial,verdana; }
#otabs a span {float: left;background:url(/redsky/images/tabn2new.png) no-repeat 99.6% 0;padding: 5px 9px 4px 0; }
#otabs a:hover span{background-position: 100% -28px;background:url(/redsky/images/tabn2new.png) no-repeat 100% 0;cursor: pointer;}
#otabs a.current span {background-position: 100% -28px;background: url(/redsky/images/right_tab.png) no-repeat 100% 0;cursor: pointer;}
#otabs a.current:hover span {cursor: default;}


/*for workplanning list*/
.heading-bg{background:#d2e4f8 url(/redsky/images/bg_listheader.png) repeat scroll 0% 0%;
	border-color:#99BBE8 #99BBE8 #99BBE8 -moz-use-text-color;
	border-style:solid solid solid none;
	border-width:1px 1px 1px medium;
	color:#15428B;
	font-family:arial,verdana;
	font-size:11px;
	font-weight:bold;
	padding:2px 0 3px;
	text-decoration:none;
	height:25px;
}

.listheadred {    
    color: red;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;    
    text-decoration: none;
}
.list-column{
	line-height:18px; 
	font-size:12px; 
	color:#15428B; 
	font-family:arial, verdana; 
	border-right:1px solid #99BBE8; 
	border-bottom:1px solid #99BBE8;
}

.list-columnlast{ 
	font-size:12px; 
	color:#15428B; 
	font-family:arial, verdana; 
	border-bottom:1px solid #99BBE8;
}

.list-columnmain{
	line-height:18px; 
	font-size:12px; 
	color:#15428B; 
	font-family:arial, verdana; 
	border-right:1px solid #99BBE8; 
	border-top:1px solid #99BBE8; 
	padding-left:0px;
}

.list-columndate{ 
	font-size:12px; 
	color:#15428B; 
	font-family:arial, verdana; 
	border-right:1px solid #99BBE8;
}

.list_sum_bg {
	line-height:18px;
	background-color:#D7E4EC;
	color:#003366;
	font-family:arial,verdana;
	font-size:12px;
	font-weight:normal;
	padding:0px;
	text-decoration:none;
	border-right:1px solid #99BBE8; border-bottom:1px solid #99BBE8;
	border-top:1px solid #99BBE8;
}

.list_last_bg {
	line-height:18px;
	background-color:#D7E4EC;
	color:#003366;
	font-family:arial,verdana;
	font-size:12px;
	font-weight:normal;
	padding-right:2px;
	text-decoration:none;
	border-right:1px solid #99BBE8; border-bottom:1px solid #99BBE8;
}

.list_grand_bg {
	line-height:18px;
	background-color:#cccccc;
	color:#f37a03;
	font-family:arial,verdana;
	font-size:12px;
	font-weight:normal;
	padding-right:2px;
	text-decoration:none;
	border-right:1px solid #99BBE8;
	border-bottom:1px solid #99BBE8;
}

.balanceBox { 
	border:1px solid #FFFFFF;
	color:#000000;
	font-family:arial,verdana;
	font-size:12px;
	height:15px;
	text-decoration:none;
}

.balanceBox1 { border:none;
color:#000000;
background-color:#BCD2EF;
font-family:arial,verdana;
font-size:13px;
height:15px;
text-decoration:none;
}
.rec_sum_bg {
	background-color:#D7E4EC;
	border-bottom:1px solid #99BBE8;
	border-right:2px solid #99BBE8;
	border-left:2px solid #99BBE8;
	color:#003366;
	font-family:arial,verdana;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
	padding-right:2px;
	text-decoration:none;
}

.rec-columnmain {
	background-color:#eCeCeC;
	border-right:1px solid #99BBE8;
	border-top:1px solid #99BBE8;
	color:#15428B;
	font-family:arial,verdana;
	font-size:12px;
	line-height:18px;
	padding-left:3px;
}

.list-columnmain2 {
	background-color:#cccccc;
	border-right:2px solid #99BBE8;
	border-top:2px solid #99BBE8;
	border-bottom:2px solid #99BBE8;
	color:#df5f00;
	font-family:arial,verdana;
	font-size:12px;
	line-height:18px;
	padding-left:3px;
}

.min_quant{
	position:relative;
	left:140px;top: 40px;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #15428B;
	font-weight: bold;
}

.listwhitetext-scope {
	font-family: arial,verdana;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: none;
	font-weight: normal;
}
/* .groupButton {
background:#8FC2FF url(/redsky/images/group-bg.png) no-repeat; 
border:0px; margin:0px;
cursor:pointer;
-moz-border-radius: 2px 2px 2px 2px;
padding:0px 0px 5px 5px;
height:23px; 
width:108px;
font-size:12px;
font-family:arial;
text-align:left;
color:#ffffff;
font-weight:bold;
}
*/
.groupButton {
     border: 1px solid #73b5fc;
    margin: 0px;
    cursor: pointer;
    -moz-border-radius: 2px 2px 2px 2px;    
    height: 23px;
   /*  ! width: 108px; */
    font-size: 12px;
    font-family: arial;
   /* text-align: left; */
    color: #2b68aa;
    font-weight: bold;    
    border-radius: .25rem;
    line-height: 1.5;
    background: #d5ecfb; /* Old browsers */
	background: -moz-linear-gradient(top, #d5ecfb 0%, #f1fafe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #d5ecfb 0%,#f1fafe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #d5ecfb 0%,#f1fafe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5ecfb', endColorstr='#f1fafe',GradientType=0 ); /* IE6-9 */
}

.OverFlowPr {
	overflow-x:auto;
	overflow-y:auto;
	!overflow-x:scroll;
	!overflow-y:visible;			
}

.Estheading-bg{    
    background: url(/redsky/images/bg_listheader.png) repeat-x scroll 0 0 #BCD2EF;   
}

/* Code for Dynamic Pricing 18-12-2013 */

.LabelDP {
   background-color: #FFF4E6;
   border: 1px solid #E2E1E1;
   border-radius: 10px;
   /* box-shadow: 2px 1px 2px 1px #E1E1E1; */
   -moz-box-shadow: 0 0 5px #E1E1E1;
   -webkit-box-shadow: 0 0 5px #E1E1E1;
   box-shadow: 0 0 5px #E1E1E1;
   padding-left: 20px;
}
.ButtonYellow {
   background-color:#FDFDE3;
   border: 1px solid #CCCCCC;
   color: #222222;
   font: normal 11px arial;
   height: 25px;
   padding: 0;
   width: 55px;
   
}
.ButtonDarkYellow {
   background-color:#FFF0AB;
   border: 1px solid #CCCCCC;
   color: #222222;
   font: normal 11px arial;
   height: 25px;
   padding: 0;
   width: 55px;
}

.ButtonPink {
   background-color:#FFF4E6;
   border: 1px solid #CCCCCC;
   color: #222222;
   font: normal 11px arial;
   height: 25px;
   padding: 0;
   width: 55px;
}	

.ButtonDarkPink {
   background-color:#FFC3DD;
   border: 1px solid #CCCCCC;
   color: #222222;
   font: normal 11px arial;
   height: 25px;
   padding: 0;
   width: 55px;
}

.s-wid-fx {width:30%;}
.s-wid-col-fx {width:4%;}

@media screen and (min-width: 768px) and (max-width: 979px) {
.s-wid-fx {width:33%;}
.s-wid-col-fx {width:4%;}
}

.s-wid{width:25%;}
.s-wid-col{width:1.5%;}	
.alignC {text-align: center;}
.w-short {width:39px;}
.aaE-w {width: 77px;}

@media (min-width: 768px){
.s-wid{width:31%;}
.s-wid-col{width:6%;}
.alignC {text-align:right;}
.w-short {width:60px;}
.aaE-w {width: 11%;}
.alignR {text-align:right;padding-right:1.5%}
}

/* End Code for Dynamic Pricing 18-12-2013 */


/*jitendra 5-10-2018*/
.tab_mrgn{margin-bottom:34px !important;}
/*jitendra*/



/* input[type="radio"]{
  display: none;
}

input + label {
 width: 76px;
 display: inline-block;
 border: 2px solid rgba(255, 255, 255, 0.62);
 padding: 1px 8px 1px 21px;
 border-radius: 5px;
 position: relative;
 cursor: pointer;
 
}

input + .quote{
	width: 40px;
}

input + label:after{
     position: absolute;
    content: '';
    opacity: 0.5;
    left: 6px;
   top: 1px;
    width: 9px;
    height: 9px;
    line-height: 1;
    border: 1px solid #131414;
    border-radius: 50%;
     }
     
     
 input + label:before{
   content: '\2714';
    font-family: 'typicons';
    font-size: 12px;
    position: absolute;
    left: 9px;
    top: 2px;
    opacity: 0;
  }

input[type="radio"]:checked + label{

 border-radius: 20px;
 border-color: green;
    background: #008000a8;
 color: #fff;
  font-weight: 500;

}


input[type="radio"]:checked + label:before{
   opacity: 1;
  }

input[type="radio"]:checked + label:after{
    opacity: 1;
   border-color: #55a955;
  }



 */