/*Login css updated (12-09-2016)by arbind */
#wrapper{width:950px; margin:0px auto -1px auto;}
.clear { clear:both;}   
#inTiny{float: left;margin-right: 0;margin-top: 15px;padding: 0 0 0 49px;text-align: right;} 
#indexlogo {float: left; margin-right: 0;margin-top: 19px;padding: 0 0 0 495px;	}
#PP_mainDiv{float: left; margin-left: 77px;margin-top: -1px;text-align: left;}
.PPHead {color: #464747; font-family: Arial,Helvetica,sans-serif; font-size: 12px; font-weight: bold;line-height: 20px;padding: 22px 30px;text-transform: none;text-align:left;}
.PPHead a {color: #464747;}
#leftcolumn {width:450px;float:left;top: 150px;	margin-top:60px;}
#rightcolumn { width:400px; float:right; margin-top:25px; !margin-top:30px;}
#indexfooter { width:925px; }
.textbox{background-color:#e7e7e7;border: 1px solid #b2b2b2;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#616161;width:150px;}
.btn{ cursor:auto;}
.content{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#616161;}
.footertext{ font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#616161;}
a.otherlinks:link  {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#616161; text-decoration:none;}
a.otherlinks:hover  {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#616161; text-decoration:underline;}
a.otherlinks:visited {font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#616161; text-decoration:none; }
a {outline: 0;}
.punchline{ font-family:"Arial"; font-size:16px; color:#616161; text-decoration:none;}