/* CSS Document */
.nav {
float:left; width:100%; font-family: arial, verdana, sans-serif; font-size:11px;
background:#BFDBFF url(/redsky/images/top-menu-bg.gif) repeat-x scroll left top;
border-top:0px solid #BDD3D9;  border-bottom:1px solid #74A4E2;
margin:0 0 0px 0; /* for this demo only */ 
}
.nav ul {
padding:0;margin:0;list-style-type:none;z-index:100;position:relative;
}
.nav ul li {
float:left; position:relative; 
}
/* background:url(images/divider112.gif) no-repeat top right; */
.nav ul li a, .nav ul li a:visited {
float:left; display:block; text-decoration:none;color:#000; padding:0px 17px; line-height:29px; height:30px; border-bottom:0px solid #fff;}

.nav ul li:hover {width:auto;}
.nav ul li a{border-color:#74a4e2; color:#000;background:url(/redsky/images/black-arrow.gif) center right no-repeat}
.nav ul li a:hover {border-color:#74a4e2; color:#000; background:url(/redsky/images/yellow-arrow.gif) center right no-repeat}
.nav ul li a:hover {border-color:#74a4e2; color:#000;}
.nav ul li a:hover {border-color:#74a4e2; color:#000;}
.nav ul li a:hover {border-color:#74a4e2; color:#000;}
.nav ul li a:hover {border-color:#74a4e2; color:#000;}
.nav ul li a:hover {border-color:#74a4e2; color:#000;}

.nav ul li:hover a {border-color:#74a4e2; color:#000;}
.nav ul li:hover a {border-color:#74a4e2; color:#000;}
.nav ul li:hover a {border-color:#74a4e2; color:#000;}
.nav ul li:hover a {border-color:#74a4e2; color:#000;}
.nav ul li:hover a {border-color:#74a4e2; color:#000;}
.nav ul li:hover a {border-color:#74a4e2; color:#000;}

.nav ul li ul {
display: none;
}
.nav table {
margin:0; border-collapse:collapse; font-size:11px; position:absolute; top:0; left:0;
}

/* specific to non IE browsers */
.nav ul li:hover ul {
display:block;position:absolute;top:30px;margin-top:0px; left:0;width:157px;border-bottom:1px solid #74a4e2;z-index:100;
}
.nav ul li:hover ul.endstop {
/*left:-92px;*/
}
.nav ul li:hover ul li ul {
display: none;
}

/*edit for padding top bottom 4px to 2px on 8th feb 2010*/
.nav ul li:hover ul li a {
display:block;background:#D8E9ED ;color:#000;height:auto;line-height:15px;padding:2px 14px; width:157px; border:1px solid #74a4e2; border-bottom:0;z-index:100; 
/*background-image:url(images/child-bg.gif); background-repeat:repeat-x; background-position:left bottom; */

}
.nav ul li:hover ul li a.drop {
background:#abc7ec url(/redsky/images/bullet1.gif) no-repeat 3px 8px;
}

/*edit for arrow position -3px 2px to -3px 0px on 8th feb 2010*/
.nav ul li:hover ul li a:hover {
color:#000; background: #FFF url(/redsky/images/drop-arrow.gif) no-repeat -3px 0px;
}
.nav ul li:hover ul li a:hover.drop {
background: #ccd url(/redsky/images/bullet1.gif) no-repeat 3px 8px;
}
.nav ul li:hover ul li:hover ul {
display:block; position:absolute; left:153px; top:-1px;
}
.nav ul li:hover ul li:hover ul.left {
left:-153px;
}



/* specific to IE5.5 and IE6 browsers */
.nav ul li a:hover ul {
display:block;position:absolute;top:30px; t\op:30px; background:#fff;left:0; border-bottom:1px solid #74a4e2;
}

.nav ul li a:hover ul.endstop {
left: -92px;
}
.nav ul li a:hover ul li a {
/*display:block;background:#EEE;color:#000; height:1px; line-height:15px; padding:4px 16px; width:154px; w\idth:120px; border:1px solid #74a4e2; border-bottom:0;*/
display:block;background:#D8E9ED ;color:#000;height:1px;line-height:15px;padding:4px 16px; width:154px; w\idth:120px; border:1px solid #74a4e2; border-bottom:0;
}
.nav ul li a:hover ul li a.drop {
background:#abc7ec url(/redsky/images/bullet1.gif) no-repeat 3px 8px; padding-bottom:4px;
}
.nav ul li a:hover ul li a ul {
visibility:hidden; position:absolute; height:0; width:0;
}
.nav ul li a:hover ul li a:hover {
color:#000; background: #FFF url(/redsky/images/drop-arrow.gif) no-repeat -3px 2px;
}
.nav ul li a:hover ul li a:hover.drop {
 background: #abc7ec url(/redsky/images/bullet1.gif) no-repeat 3px 8px;
}
.nav ul li a:hover ul li a:hover ul {
visibility:visible; position:absolute; top:0;color:#000; left:153px;
}
.nav ul li a:hover ul li a:hover ul.left {
left:-153px;
}

/*header.jsp*/

#main-top{
	background-image:url(/redsky/images/bg-band.gif); 
	background-repeat:repeat-x; 
	background-position:left bottom; 
	height:52px; margin:0; padding:0;
	
	}
#redsky-menu{
	position:relative;
	display:block;
	height:63px;
	font-size:11px;
	font-weight:bold;
	background:transparent url(/redsky/images/bgOFF.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	
	}

#redsky-menu ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	}

#redsky-menu ul li{
	display:block;
	float:left;
	margin:0;
	}

#redsky-menu ul li a{
	display:block;
	float:left;
	color:#666;
	text-decoration:none;
	padding:0px 10px 0 20px;
	height:63px;
	background:transparent url(/redsky/images/bgDIVIDER.gif) no-repeat top right;
	}

/*#redsky-menu ul li a:hover,#redsky-menu ul li a.current{
	color:#B30000;
	background:#fff url(bgON.gif) no-repeat top right;
	} */

