/* A CSS Framework by Mike Stenhouse of Content with Style */
/*Arbind*/

/* NAV */
    div#nav {
        font-size: 0.8em;
        border-bottom: 5px solid #d7e9f5;
    }
    * html div#nav {
        /* hide ie/mac \*/
        height: 1%;
        /* end hide */
    }
    div#nav div.wrapper {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    div#nav ul {
        width: auto;
        margin: 0;
        padding: 0;
        line-height: 1em;
        list-style: none;
    }
    div#nav li {
        float: left;
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 10px;
        line-height: 1em;
    }
    div#nav li.last {
        border-right: none;
    }
    div#nav a,
    div#nav a:link,
    div#nav a:active,
    div#nav a:visited {
	display: inline-block;
	/* hide from ie/mac \*/
        display: block;
	/* end hide */
        font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 5px 15px 5px 15px;
	color: #FFFFFF;
	background-color: #5B7EB8;
    }
    div#nav a:hover {
	text-decoration: none;
	background-color: #BEDFFE;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
    }
    ul#primary-nav, ul#primary-nav ul a:hover {
	text-decoration: none;
	background-color: #BEDFFE;
	color: #666666;
	font-weight: bold;
    }
    div#nav a.current {
        display: inline-block;
        /* hide from ie/mac \*/
        display: block;
        /* end hide */
        color: #4f8cc9;
        background: #d7e9f5;
        font-size: 10px !important;
    }
    div#nav a.current,
    div#nav a.current:link,
    div#nav a.current:active,
    div#nav a.current:visited {
       color: #FFFFFF;
       background-color: #5B7EB8
    }
	
    div#nav .pad {
       padding-left: 10px;
    }
/* END NAV */

/* DROP DOWN MENUS */
                   
#primary-nav{list-style: none; 
} 

#primary-nav ul { 
padding:0; 
margin:0; 
list-style: none; 
width:12em; 
z-index:99; 
overflow:visible; 
position:absolute; 
background-color:#DFDFDF; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 

} 

#primary-nav li { 
position: relative; 
background-color:#CE0000; 
border:solid 1px #CECECE; 
width:146px; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 
color: #FFFFFF; 
text-align: left; 
display:block; 
margin-bottom:10px; 

} 

#primary-nav a { 
list-style: none; 
text-decoration:none; 
display:block; 
/*padding:0.1em; 
/*margin:0.2em 0 0.2em 0.1em;*/ 
color: #FFFFFF; 
background-color:#CE0000; 
width:116px; 
/*height:1em;*/ 
height:100%; 
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 10px; 

} 
#primary-nav a:hover{ 

background-color:#0099CC; 
color:#FFFFFF; 
} 

#primary-nav ul, #primary-nav ul ul, #primary-nav ul ul ul{ 

display:none; 
position:absolute; 
top:20px; 
left:0px; 

} 

#primary-nav li:hover ul ul, #primary-nav li:hover ul ul ul{ 
display:none; 


} 

#primary-nav li:hover ul, #primary-nav ul li:hover ul, #primary-nav ul ul li:hover ul{ 
display:block; 
} 


ul#primary-nav li:hover ul ul,
ul#primary-nav li:hover ul ul ul,
ul#primary-nav li.over ul ul,
ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */

ul#primary-nav li:hover ul,
ul#primary-nav li li:hover ul,
ul#primary-nav li li li:hover ul,
ul#primary-nav li.over ul,
ul#primary-nav li li.over ul,
ul#primary-nav li li li.over ul { display: block; } /* The magic */




li>ul { 
top: auto; 
left: auto; 

} 

/* Win IE only \*/ 
* html #primary-nav li{float:left;} 
/* end holly hack */ 
/* END DROP DOWN MENUS */

 