

.DynarchCalendar-day-selected {
  background-color: #1864fc;
  color: #fff !important;
  background-image: url("calendarImage/coolbg.png");
  background-position: 0 50%;
  background-repeat: repeat-x;
}

.DynarchCalendar-day-today.DynarchCalendar-day-selected {
  background-color: #1864fc;
  color: #fff !important;
}
