/*header css updated (02-09-14)by arbind*/
.stretch,.clear {
clear:both;
height:1px;
margin:0;
padding:0;
font-size:15px;
line-height:1px
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden
}

* html>body .clearfix {
display:inline-block;
width:100%
}

* html .clearfix {
height:1%
}

.replace {
display:block;
background-repeat:no-repeat;
background-position:left top;
background-color:transparent
}

.replace * {
text-indent:-10000px;
display:block;
background-repeat:no-repeat;
background-position:left top;
background-color:transparent
}

.replace a {
text-indent:0
}

.replace a span {
text-indent:-10000px
}

span.accesskey {
text-decoration:none
}

.accessibility {
position:absolute;
top:-999em;
left:-999em
}