 /* Color pallete:  #444 - dark gray (text) 
  #3e9ade - medium blue (title)
  #b4c24b - lime (header 1)
  #ebf5fc - light cyan (hover text, footer)
  #d7e9f5 - medium cyan (tab)
  #1465b7 - dark blue (tab text, hyperlink)
  #ccc    - medium gray (line)
  #f7f7f7 - light gray (form background)
  #f90    - orange (required *) 
*/

/* TYPOGRAPHY */
	  body {
	      text-align: left;
	      font-family: verdana, arial, helvetica, sans-serif;
	      font-size: 76%;
	      line-height: 1em;
	      color: #444;
	  }
	
	  div {
	      font-size: 1em;
	  }
	
	  img {
	      border: 0;
	      cursor: pointer;
	  }

 /* LINKS */
      a,a:link
          a:active {
          color: #1465b7;
          text-decoration: none;
      }

      a:visited {
          color: #1465b7;
          background-color: transparent;
      }

      a:hover {
          color: #cc0000;
          text-decoration: none;
      }
/* END LINKS */

/* HEADINGS */
	  h1, h2, h3, h4, h5, h6 {
	      font-family: tahoma, arial, helvetica, sans-serif;
	      font-weight: normal;
	  }
	
	  h1 {
	      font-size: 2.2em;
	      letter-spacing: -1px;
	      line-height: 1.3em;
	      margin: 0 0 0.5em 0;
	      padding: 0;
	      color: #b4c24b;
	  }
	
	  div#branding h1 {
	      font-size: 2.6em;
	      letter-spacing: -1px;
	      margin: 0;
	      line-height: 1.5em;
	      color: #3e9ade;
	  }
	
	  div#branding p {
	      margin: 0;
	      line-height: 1em;
	  }
	
	  h2 {
	      font-size: 1.4em;
	      line-height: 1.5em;
	      margin: 0 0 0.5em 0;
	      padding: 0;
	  }
	
	  h3 {
	      font-size: 1.3em;
	      line-height: 1.3em;
	      margin: 0 0 0.5em 0;
	      padding: 0;
	      color: black;
	  }
	
	  h4 {
	      font-size: 1.2em;
	      line-height: 1.3em;
	      margin: 0 0 0.25em 0;
	      padding: 0;
	      color: black;
	  }
	
	  h5 {
	      font-size: 1.1em;
	      line-height: 1.3em;
	      margin: 0 0 0.25em 0;
	      padding: 0;
	      color: black;
	  }
	
	  h6 {
	      font-size: 1em;
	      line-height: 1.3em;
	      margin: 0 0 0.25em 0;
	      padding: 0;
	      color: black;
	  }
/* END HEADINGS */

/* TEXT */
     p {
         font-size: 1em;
         margin: 0 0 1.5em 0;
         padding: 0;
         line-height: 1.4em;
     }

     blockquote {
         border-left: 10px solid #ddd;
         margin-left: 10px;
     }

     pre {
         font-family: monospace;
         font-size: 12px;
     }

     strong,b {
         font-weight: bold;
     }

     em,i {
         font-style: italic;
     }

     code {
         font-family: "courier new", courier, monospace;
         font-size: 12px;
         white-space: pre;
     }
 /* END TEXT */

 /* LISTS */
    ul.glassList {
        list-style: url(../../images/aquadot.jpg) disc outside;
        vertical-align: top;
        line-height: 1.5em;
    }
    dl {
        margin: 0 0 1.5em 0;
        padding: 0;
        line-height: 1.4em;
    }

    dl dt {
        font-weight: bold;
        margin: 0.25em 0 0.25em 0;
        padding: 0;
    }

    dl dd {
        margin: 0 0 0 30px;
        padding: 0;
    }

/* END LISTS */

/* TABLE */
     table {
         font-size: 1em;
         margin: 0 0 1.5em 0;
         padding: 0;
     }

     table caption {
         font-weight: bold;
         margin: 0 0 0 0;
         padding: 0 0 1.5em 0;
     }

     th {
         font-weight: bold;
         text-align: left;
     }

     td {
         font-size: 1em;
     }

/*Common Table Css */

    .table {
        border-collapse: collapse;
        border: 2px solid #74B3DC;
        color: #000;
        background: #fff;
        width: 100%;
    	}
    
    .table caption {
    	padding: 0 0.6em 0.8em;
    	font-size: 1.3em;
    	font-weight: bold;
    	text-align: left;
    	color: #000;
   		background: transparent;
	}
   
    .table th table, .table th table td {
        width: 100%;
        border: 0px;
    }
    .contribTable th {
        padding: 0px !important;
        background: #d7e9f5;
    }
    .contribTable th .tableHeaderTable {
        margin: 0px !important;
    }
    .table td, .table th, .tableHeaderTable td {
        border: 1px solid #e0e0e0;
        padding: 0.5em;
    }
    .table thead th, .tableHeaderTable td {
        border: 1px solid #e0e0e0;
        text-align: left;
        font-size: 1em;
        font-weight: bold;
        background: #d7e9f5;
    }
    .tableHeaderTable td a {
        text-decoration: none !important;
    }
                
    .table tfoot th, tfoot td {
    	background:#BCD2EF url(/redsky/images/bg_listheader.png);
		border-color:#99BBE8 rgb(153, 187, 232) rgb(153, 187, 232) -moz-use-text-color;
		border-style:solid solid solid none;
		border-width:1px 1px 1px medium;
		color:#15428B;
		font-family:arial,verdana;
		font-size:13px;
		font-weight:bold;
		font-color:#003366;
		height:25px;
		padding:0px;
		text-decoration:none; 
    }
     .table tfoot th {
         font-weight: bold;
     }
     .table tbody td a {
         background: transparent;
         text-decoration: underline;
     }
     .table tbody td a:hover {
         background: transparent;
         text-decoration: underline;
     }
     .table tbody th a {
         background: transparent;
         text-decoration: underline;
         font-weight: bold;
     }
     .table tbody th, .table tbody td {
         text-align: left;
     }
     .table tfoot td {
         border: 1px solid #e0e0e0;
     }
     .table tbody tr:hover, .table tr.over, .contribTable tr:hover {
         border-bottom: 1px solid #C0C0C0;
         border-top: 1px solid #C0C0C0;
       	 cursor:pointer;
         /* cursor:default;*/
         color:#000000;
         background-color:#fffeeb !important; /* important .table tr:hover */
     }
     .contribTable tr.even {
       	border-top: 1px solid #c0c0c0;
       	color:#000000;
       	background-color:#e4e6f2 !important;
     }
     .contribTable tr.odd {
         border-top: 1px solid #c0c0c0;
         color: #000e4d !important;
     }
    /* END TABLE */

    hr {
        display: none;
    }

    div.hr {
        height: 1px;
        margin: 1.5em 10px;
        border-bottom: 1px dotted black;
    }
/* END TYPOGRAPHY */