/* CSS only needed for the demo */


#menuColumn{
	width:160px;
	float:left;
	padding:5px;
	font-size:0.9em;
}
#mainContent{
	width:440px;
	float:left;	
}

.oddRow{
	background-color:#FFF;
}
.evenRow{
	background-color:#EEE;
}

.productTable{
	border:3px double #000;
}
h3{
	margin-top:0px;
}


/* End css for the demo */

/* CSS needed for the script */

#ajax_tooltipObj{
	z-index:1000000;
	text-align:left;
}
#ajax_big_tooltipObj{
	z-index:1000000;
	text-align:left;
}
#ajax_tooltipObj div{
	position:relative;
}
#ajax_big_tooltipObj div{
	position:relative;
}

/* If you don't want the arrow - Just set the width of this div to 1 or something like that and drop the background selectors from the CSS below */




#ajax_tooltipObj .ajax_tooltip_arrow{	/* Left div for the small arrow */
	background-image:url('../images/tarrow-blue.gif');
	width:13px;
	position:absolute;
	left:6px;
	top:15px;
	background-repeat:no-repeat;
	background-position:center left;
	z-index:1000005;
	height:26px;
}
#ajax_tooltipObj .ajax_tooltip_content{
-moz-border-radius:8px 8px 8px 8px;
-webkit-border-radius:8px 8px 8px 8px;
border-radius:8px 8px 8px 8px;
-moz-box-shadow:2px 2px #A9A9A9;
background-color:#F2F2F2;
border:1px solid #55a3ec;
color:#585D68;
font-size:0.8em;
left:18px;
overflow:auto;
!overflow:visible;
min-height:40px;
padding:5px;
position:absolute;
top:0;
width:auto;
!width:auto;
/*!width:200px;*/
z-index:1000001;
}


/*------------------------------------------------------------------------*/
#ajax_big_tooltipObj .ajax_big_tooltip_arrow{	/* Left div for the big arrow */
	background-image:url('../images/big-tooltip.png');
	width:147px;
	position:absolute;
	left:4px;
	top:-7px;
	background-repeat:no-repeat;
	background-position:center left;
	z-index:1000005;
	height:47px;
}

#ajax_big_tooltipObj .ajax_big_tooltip_content{
	border:1px solid #aeb0b4;	/* Border width */
	left:148px;	/* Same as border thickness */
	top:-18px;
	position:absolute;
	width:200px;	/* Width of tooltip content */
	/*height:50px;	 Height of tooltip content */
	background-color:#f2f2f2;	/* Background color */
	padding:5px;	/* Space between border and content */
	font-size:0.8em;	/* Font size of content */
	color:#585d68;
	overflow:auto;	/* Hide overflow content */
	z-index:1000001;
	min-height:63px;
	/*filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=5, OffY=5, 
       Color='gray', Positive='true');
    -moz-box-shadow:10px 5px 5px #ccc; */

} 


/*----------------------------------------------------*/
#ajaxtooltipObj{
	z-index:1000000;
	text-align:left;
	}
#ajaxtooltipObj div{
	position:relative;
}
 #ajaxtooltipObj .ajaxtooltip_arrow{	/* Left div for the big arrow */	
    background-image: url("../images/tarrow-blue.gif");
    background-position: left center;
    background-repeat: no-repeat;
    height: 47px;
    left: 16px;
    position: absolute;
    top: 10px;
    width: 147px;
    z-index: 1000005;	
}

#ajaxtooltipObj .ajaxtooltip_content{	
   -moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius:8px 8px 8px 8px;
	border-radius:8px 8px 8px 8px;
    -moz-box-shadow: 2px 2px #A9A9A9;
    background-color: #F2F2F2;
    border: 1px solid #55A3EC;
    color: #585D68;
    font-size: 0.8em;
    left: 28px;
    min-height: 63px;
    overflow: auto;
    padding: 5px;
    position: absolute;
    top: -10px;
    width: auto;
    z-index: 1000001;
}