
body{
  font-family: 'Open Sans', sans-serif;
}

.page-content-wrapper{
  width:94%;margin: 0 auto;
}

.eclipse-text {
  white-space: nowrap;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
}
label{
  font-size: 12px ;
  color: #666 ;
}

.label-heading {
    font-weight: 600;
  }

.font-weight-semibold{
  font-weight: 500;
}

.border-b{
  border-bottom: 3px solid #90c0ced1 ;
}

.modal-title{
  color:#666;
}

.status.green{
  background: #228b22cf;
  color: #fff;
  border-radius: 117px !important;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .5px;
}

.tag{
  font-size: 13px;
  background: #bac3d0;
  padding: 4px 12px;
  margin-left:5px;
  color:#fff;    
  
}
.dropdown-item {
  font-size: 13px;
  display: block;
  width: 100%;
  padding: .2rem 1.5rem;}


/*---Button Component----*/

  .btn.btn-blue{
    color: #FFF !important;
    background-color: #3598dc;
    border-color: #3598dc;
    
    }

  .btn.default{
    color: #666!important;
    background-color: #e1e5ec;
    border-color: #e1e5ec;
  }
  .btn.blue-stripe{
    border-left: 4px solid #3598dc!important;
  }


  .btn.btn-sm{
    padding: 4px 10px;
    line-height: 1.5;
    font-weight: 400;
    height:auto;
  }
/*---End Button Component----*/