.btn-group-sm > .btn, .btn-sm {    
 box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12) !important;
}

.btn.focus, .btn:focus, .btn:hover {outline:none !important;}

.alert { margin-bottom: 0px;}

#modalAlert{
    padding: 10px!important;
    overflow-y: inherit!important;
    margin-top: 0px!important;
}
.loading-indicator {position: absolute;background-color: #fff; padding:15px; border-radius:5px;left: 45%;top: 40%;}

.error-table {
    border-collapse: collapse;
    border: 2px solid #ebccd1;
    color: #000;
    background: #fff;    
    width: 100%;
}
.error-table thead th, .tableHeaderTable td {
    background: #f2dede;
    border:1px solid #ebccd1;   
    color: #a94442;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    padding: 2px 3px 3px 5px;
    text-decoration: none;
}
.error-table th table, .error-table th table td {
    width: 100%;
    border: 0px;
}
.tableHeaderTable td a {
    text-decoration: none !important;
}  
.error-table tbody td a {
    background: transparent;
    text-decoration: underline;
}
.error-table tbody td a:hover {
    background: transparent;
    text-decoration: underline;
}
.error-table tbody th a {
    background: transparent;
    text-decoration: underline;
    font-weight: bold;
}
.error-table tbody th, .error-table tbody td {
    text-align: left;
}
.error-table tfoot td {
    border: 1px solid #e0e0e0;
}
.error-table tbody tr:hover, .error-table tr.over, .contribTable tr:hover {
    border-bottom: none;
    border-top: none;
    cursor:pointer;    
    color:#000000;
    background-color:#ffffff !important; /* important .table tr:hover */
}

.error-table tbody tr:nth-child(even) { 
	background-color:#fcf7f7;
}
.error-table tbody tr:nth-child(odd) { 
	background-color:#ffffff;
}
.email-table {
    border-collapse: collapse;
    border: 2px solid #74B3DC;
    color: #000;
    background: #fff;    
    width: 100%;
}
.email-table thead th, .tableHeaderTable td {
	background:linear-gradient(#a1cff6, #91d0e5);
   /* background:url(/redsky/images/emailHeader.jpg) repeat-x scroll 0 0; */
    border:1px dotted #ebccd1;   
   /* color: #fff;*/
    color:#15428B;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    padding: 2px 3px 3px 5px;
    text-decoration: none;
}
.email-table th table, .email-table th table td {
    width: 100%;
    border: 0px;
}
.tableHeaderTable td a {
    text-decoration: none !important;
}  
.email-table tbody td a {
    background: transparent;
    text-decoration: none;
}

.email-table th.sorted a, .email-table th.sortable a {
    background-position: right center;
    display: block;
    color:#FFFFFF !important;
}
.email-table tbody tr:nth-child(even) { 
	background-color:#eefafd;
}
.email-table tbody tr:nth-child(odd) { 
	background-color:#ffffff;
}

.email-table tbody th, .email-table tbody td {
    text-align: left;
}
.email-table td, .email-table th, .tableHeaderTable td {
    border: 1px dotted #A6A6A6;
    padding: 0.4em;
}
.email-table tbody td a:hover {
    background: transparent;
    text-decoration: underline;
}
.email-table tbody th a {
    background: transparent;
    text-decoration: underline;
    font-weight: bold;
}
.email-table tbody th, .email-table tbody td {
    text-align: left;
    font-size:1.1em;
}
.email-table tfoot td {
    border: 1px solid #e0e0e0;
}
.email-table tbody tr:hover, .email-table tr.over, .contribTable tr:hover {
    border-bottom: none;
    border-top: none;
    cursor:pointer;    
    color:#000000;
    background-color:#ffffff !important; /* important .table tr:hover */
}