.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #95a5a6;
    opacity: 1 !important;
    font-size: 11px !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
   /*background-color: #dff0d8; 
   	 color: #3c763d;*/
   	background-image: linear-gradient(to bottom, #e7fafe 0%, #fff 50%, #f4f9fb 100%);
   	color: #1278b0;		    
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 65%;
    margin-left: -85px;
    transition: opacity 0.3s;
   /* border:1px solid #b9c5ae;*/
  	border:1px solid #038fce;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.255);
}

.tooltip .tooltiptextform {
    visibility: hidden;
    width: 225px;
  /*  background-color:#dff0d8;
    color: #3c763d; */
    background-image: linear-gradient(to bottom, #e7fafe 0%, #fff 50%, #f4f9fb 100%);
   	color: #1278b0;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 30%;
    margin-left: -85px;
    transition: opacity 0.3s;
    /* border:1px solid #b9c5ae;*/
  	border:1px solid #038fce;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.255);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 42%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  #038fce transparent transparent transparent;
}
.tooltip .tooltiptextform::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #038fce transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip:hover .tooltiptextform {
    visibility: visible;
    opacity: 1;
}

.tooltipChk {
    position: relative;
    display: inline-block;
    opacity: 1 !important;
    font-size: 11px !important;
}
.tooltipChk .tooltiptextChk {
    visibility: hidden;
    width: 115px;
    background-color: #dff0d8;
    color: #3c763d;
    background-image: linear-gradient(to bottom, #e7fafe 0%, #fff 50%, #f4f9fb 100%);
    color: #1278b0;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: 75px;
    margin-left: -50px;
    transition: opacity 0.3s;
    border: 1px solid #b9c5ae;
    border: 1px solid #038fce;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.255);
}

.tooltipChk .tooltiptextChk::after {
    content: "";
    position: absolute;
    top: 36%;
    right: 27%;
    margin-right: 85px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #038fce transparent transparent;
}
.tooltipChk:hover .tooltiptextChk {
    visibility: visible;
    opacity: 1;
}