div.exportlinks {
    /*jitendra 29-11-2019 margin: -5px 0px 10px 10px;*/
    margin: -5px 0px 10px 0px;
    padding: 2px 4px 2px 0px;
    width: 100%;
}

div.exportlinks a {
    text-decoration: none;
}

div.exportlinks span {
    background-repeat: no-repeat;
}

span.csv {
    background-image: url(../images/ico_file_csv.png);
}

span.excel {
    background-image: url(../images/ico_file_excel.png);
}

span.pdf {
    background-image: url(../images/ico_file_pdf.png);
}

span.xml {
    background-image: url(../images/ico_file_xml.png);
}

span.export {
    cursor: pointer;
    display: inline;
    display: inline-block;
    padding: 0 4px 1px 20px;
}

span.pagebanner {
    display: block;
    margin: 10px 0px 10px 0px;
    padding: 2px 4px 2px 0px;
}

span.pagelinks {
    display: block;
    text-align: right;
  
}

th.sorted a, th.sortable a {
    background-position: right;
    display: block;
}

.table th.order1 a {
    background-image: url(../images/arrow_down.png) !important;
}

.table th.order2 a {
    background-image: url(../images/arrow_up.png) !important;
}

div#main .tableHeaderImage { /* Tapestry */
    position: absolute;
    margin: 2px 0px 0px -5px;
    background: transparent;
    border: 0px;
}

/*.table th.sortable a {
    background-image: url(../images/arrow_off.png);
}*/

.table th.sorted {
    background-color: #BCD2EF;
    color: #000000;
}

.table th.sorted a, .table th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    display: block;
}

.table tr.even {
    border-top: 1px solid #c0c0c0;
    color:#000000;
    background-color:#e4e6f2;
 /* background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.1) 51%, rgba(255, 255, 255, 0) 100%); */
}

.table tr.odd {
    background: #fff;
    border-top: 1px solid #c0c0c0;
    color: #000e4d;
}

/* highlight .table row onmouseover */
.table tr.over {
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    color: #000000;
    cursor: pointer;
    background-color: #fffeeb;
}

.table th.containeralign{text-align: right;} 

.table th.containeralign a{text-align: right;}

.table th.headerColorInv {color:#15428B;} 

.table th.centeralign {text-align:center;}

.detail th {
    text-align: right;
}