/* ----- Modified css by 29-08-2014 ----- */
form {
    font-size: .9em;
}

form ul {
    position: relative;
    list-style: none;
    width: 100%;
    padding: 0px;
}

form ul.glassList {
    list-style: url(../images/aquadot.jpg) disc outside;
    vertical-align: top;
    line-height: 1.2em;
    margin-left: 40px;
}

form ul.glassList li {
    line-height: 1.1em;
    font-size: 1.1em;
    padding: 2px 0px 3px 0px;
}

form .pagebanner, form .exportlinks, form .table {
    font-size: 1.1em;
}

form li {
    line-height: 2em;
    margin: 0;
    padding: 1px 1px 6px 5px;
}

form li.focused {
    background-color: #fff7c0 !important;
}

form li p {
    font-size: 9px;
    line-height: 13px;
    color: #444;
}

form[id] li {
    display: block;
}

form[id] ul.glassList li {
    display: list-item;
}

form li div {
    display: inline-block;
}

form li div.group {
    display: block !important;
    background-color: #f7f7f7;
    padding: 10px;
    width: 355px;
}

form li div.group p, form div.group p label {
    text-align: left;
}

form li div.group input.large, form li div.group textarea.large, form li fieldset {
    width: 339px;
}

form[id] li div {
    display: inline;
}

form .left{
    float: left !important;
    margin: 0;
}

form .right{
    float: right !important;
    margin: 0;
}

form .clear{
    clear: both;
}

form li div {
    margin-bottom: 0px;
}

form li div p {
    margin: 0 0 5px 0;
}

form div.left{
    margin-right: 2px !important;
}

form div.left[class]{
    margin-right: 4px !important;
}

form div.left img{
    margin: 0 0 -2px 0;
}

form h2{
    font-size: 1.8em;
    clear: left;
}

form .info{
    display: inline-block;
    margin: 0 0 4px 0;
    padding: 0 0 4px 0;
    border-bottom: 1px dotted #ccc !important;
    text-align: left;
}

form .info[class]{
    display: block;
}

form .info p{
    font-size: 1em;
    line-height: 1.3em;
    margin: 0 0 8px 0;
}

/* ----- SECTIONS ----- */
form .section{
    display: inline-block;
    border-top: 1px dotted #ccc !important;
    margin-top: 15px !important;
    padding-top: 12px !important;
    padding-bottom: 0px !important;
}

form .section[class]{
    display: block;
}

form .first{
    border-top: none !important;
    margin-top: 0px !important;
    padding-top: 1px !important;
}

form .section h3{
    font-size: 1.25em;
}

form .section p{
    font-size: 11px;
    line-height: 13px;
}

/* ----- FIELDS AND LABELS ----- */
label.desc { 
    margin: 4px 0 3px 0;
    border: 0;
    font-size: 1em;
    line-height: 1.3em;
    display: block;
    
}

div.wwlbl { display: block !important }

p label {
    font-weight: normal;
}

input.text, input.number, input.url, input.email, input.password, input.file,
textarea.textarea, select.select{
    font-size: 12px;
    border-top: 1px solid #219DD1;
    border-left: 1px solid #219DD1;
    border-right: 1px solid #219DD1;
    border-bottom: 1px solid #219DD1;
    background: #fff;
    color: #000000;
}

input.text, input.number, input.url, input.email, input.password, input.file{
    padding: 2px;
}

input.currency{
    text-align: right;
}

input.checkbox, input.radio{
    display: block;
    line-height: 1.4em;
    margin: 8px 0 0 3px;
    width: 13px;
    height: 13px;
}

input.focus, textarea.focus {
    background: #ffd;
    color: #000;
}

label.choice {
    display: block;
    line-height: 1.4em;
    margin: -19px 0 0 25px;
    padding: 4px 0 5px 0;
    width: 80%;
    font-size: 1.05em;
}

textarea {resize:none;}

textarea.textarea{
    font-size: 12px;
    font-family: arial,verdana,sans-serif;
    margin-bottom: 1px;
    overflow:auto;
}

textarea.textarea[class]{
    font-family:  arial,verdana,sans-serif;
    overflow:auto;
}

select.select{
    padding: 1px 0 0 0;
    margin: 1px 0 3px 0;
}

select.select[class]{
    margin: 0;
    padding: 1px 0 1px 0;
}

/* ----- SIZES ----- */
form .small{
    width: 70px;
}

form .medium{
    width: 170px;
}

form .large, {
    width: 349px;
}

form .tags{
    width: 320px;
}

form textarea.small{
    height: 5.5em;
}

form textarea.medium{
    height: 10em;
}

form textarea.large{
    height: 20em;
}

/* ----- ERRORS ----- */
form li.error{
    background-color: #FFDFDF;
    margin: 3px 0 !important;
}

input.error, textarea.error{
    border: 1px solid #EF5959;
    border-left: 1px solid #FF8F8F;
    border-top: 1px solid #FF8F8F;
    background: #fff;
}

p.error, li.error label.desc{
    color: red !important;
}

p.error{
    font-size: 9px !important;
    margin: 1px 0;
}

/* ----- REQUIRED ----- */
.req {
    font-size: 1em !important;
    color: #f90;
    font-weight: bold;
}

/* ----- Fieldsets ----- */
fieldset {
    margin: 0 0 5px 0;
    padding: 10px 10px 5px 10px;
    color: #444;
    border:1px solid #219DD1;
}


li>fieldset, form>fieldset { border: 1px solid silver }

fieldset.choices{
    padding: 10px 5px 10px 10px;
}

fieldset.fieldset{
    padding: 0px 0 10px 0;
}

legend{
    font-weight: bold;
    margin: 0 0 0 0;
    color: #003366;
    font-size: 12px;
    font-family:arial,verdana,sans-serif; 
}

#formProperties[id] legend, .choices[class] legend{
    margin: 0 0 0 -5px;
}

.fieldset legend{
    margin: 0;
}

.fieldset[class] legend{
    margin: 0 0 0 5px;
}

#formProperties fieldset div{
    margin-bottom: 7px;
}

fieldset div .number{
    margin: 7px 15px 0 0;
}

fieldset p{
    margin: 10px;
}

/* ----- Choices ----- */
.choices input{
    width: 200px;
    margin-right: 3px;
}

.choices ol{
    margin: 10px 0 0 0;
}

.choices[class] ol{
    margin: 0 !important;
}

.choices img{
    margin: 0 0 1px 0;
}

fieldset ol li {
    display: list-item !important;
    margin: 0 5px 2px 3px !important;
    padding: 0 !important;
    list-style: inside decimal;
}

/* ----- Buttons ----- */
input.button, button {
    width: 6em;
    padding: 2px 2px 0 0; /* fix for IE */
}

.subbttn {
border-right:#104a7b 2px solid;
border-top:#fff 1px solid;
font-size:12px;
background:#bfdfff;
border-left:#fff 1px solid;
width:45px;
cursor:hand;
color:#000;
border-bottom:#0a3e55 2px solid;
font-family:Arial,Helvetica,sans-serif;
height:25px;
text-decoration:none
}

.cssbuttonold {
border: 1px  solid #96989A;
background:url(../images/bgblue02.jpg) repeat;
color: #fff;
text-decoration: none;
font-family:"Arial";
font-weight:normal
}

.cssbutton {
height: 25px;
padding:0px;
font-family:'arial';
font-weight:bold;
color:#222222;
font-size:12px;
background:url(/redsky/images/btn_bg.gif) repeat-x;
background-color:#d3e4ef;
border:1px solid #cccccc;
}
.cssbutton:hover {
color:#222222;
background:url(/redsky/images/btn_hoverbg.gif) repeat-x;
background-color: #b5d7ed;
}
.cssbutton:disabled {
background-image:none;
color:#8a9099;
background-color:#d3d8dc;
border:solid 1px #c0c0c0;
}
.cssbuttonA {
width: 55px;
height: 25px;
padding:0px;
font:bold 12px arial;
color:#222222;
background:url(/redsky/images/btn_bg.gif) repeat-x;
background-color:#d3e4ef;
border:1px solid #cccccc;
}
.cssbuttonA:hover {
color:#222222;
background:url(/redsky/images/btn_hoverbg.gif) repeat-x;
background-color: #b5d7ed;
}
.cssbuttonA:disabled {
background-image:none;
color:#8a9099;
background-color:#d3d8dc;
border:solid 1px #c0c0c0;
}

.cssbutton1 {
width: 55px;
height: 25px;
padding:0px;
font:bold 12px arial;
color:#222222;
background:url(/redsky/images/btn_bg.gif) repeat-x;
background-color:#d3e4ef;
border:1px solid #cccccc;
}
.cssbutton1:hover {
color:#222222;
background:url(/redsky/images/btn_hoverbg.gif) repeat-x;
background-color: #b5d7ed;
}
.cssbutton1:disabled {
background-image:none;
color:#8a9099;
background-color:#d3d8dc;
border:solid 1px #c0c0c0;
}
.cssbuttonB {
border: 1px solid #96989A;
padding: 0px 2px 2px 1px ;
color: #222222;
height:21px;
background:url(/redsky/images/btn_bg.gif) repeat-x;
background-color:#d3e4ef;
text-decoration: none;
font:bold 12px arial;
}
.cssbuttonB:hover {
color: #222222;
background:url(/redsky/images/btn_hoverbg.gif) repeat-x;
background-color: #b5d7ed;
}
.cssbuttonB:disabled {
background-image:none;
color:#8a9099;
background-color:#d3d8dc;
border:solid 1px #c0c0c0;
}
.cssbutton:visited {
color: black;
}

.cssbutton:active {
color: black;
}

.cssbuttonActive {
border: 1px solid #96989A;
padding: 0px 2px 2px 1px ;
background:url(../images/bg-blue02.jpg) repeat;
color: #fff;
height:21px;
text-decoration: none;
font: normal 110% "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
}

.cssbuttonActive:visited {
color: black;
}

.cssbuttonActive:hover {
color: black;
background-color: #C3C4C5; 
}

.cssbuttonActive:active {
color: black;
}

.btn-blue {
    color: #fff;
    background-color: #0099cc !important;
    border-color: #0099cc !important;
}
.btn-blue:hover {
    color: #fff;
    background-color: #0885ae !important;
    border-color: #0885ae !important;
}

/* revert to normal for Firefox */
li>input.button, li>button, input.button>input.button, button>button {
    padding: 2px;
}

/* pickList for roles in Spring and WebWork */
table.pickList {
    padding: 0;
    border-spacing: 0;
}

table.pickList th.pickLabel {
    text-align: center;
}

table.pickList td {
    text-align: center;
    vertical-align: middle;
}

table.pickList td label {
    vertical-align: middle;
}

table.pickList td button {
width: 55px;
height: 25px;
padding:0px;
font:normal 12px arial;
color:#000;
background:url(/redsky/images/btn_bg.gif) repeat-x;
background-color:#e7e7e7;
border:1px solid #cccccc;
}
table.pickList td button:hover {
color: black;
background:url(/redsky/images/btn_hoverbg.gif) repeat-x;
background-color: #c1c2bf;
}	

table.pickList td select {
    width: 600px;
}

#loginForm fieldset {
    width: 300px;
    padding: 10px 30px;
    /*margin: 0px auto;*/
}

#loginForm li {
    text-align: left;
    padding: 0px;
}

/*#newmnav{margin-left: 5px;}
#newmnav ul{margin: 0;padding: 0;list-style: none;}
#newmnav li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#1666c9 url(../images/tabbg.gif);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newmnav a {float: left;padding: 0 0 0 9px;background:url(../images/tabn1.gif) no-repeat 0% 0%;text-decoration: none;color: #FFF;}
#newmnav a:hover{background-position: 0 -28px;background: url(../images/tabn1.gif) no-repeat 0% 0%;color: #FFF;}
#newmnav a.current {background-position: 0 -28px;background: url(../images/1hm.gif);color: #000;font:normal 12px arial,verdana; _margin:2px 0 -11px 0;margin:2px 0 9px 0;}
#newmnav a span {float: left;background:url(../images/tabn2.gif) no-repeat 99.7% 0;padding: 5px 9px 4px 0; }
#newmnav a:hover span{background-position: 100% -28px;background:url(../images/tabn2.gif) no-repeat 100% 0;cursor: pointer;}
#newmnav a.current span{background-position: 100% -28px;background: url(../images/2hm.gif) no-repeat 100% 0;cursor: pointer;}
#newmnav a.current:hover span {cursor: default;}
.spn{clear:both; line-height:2px; background:#1B70CA}*/
/*
#newmnav{margin-left: 5px;}
#newmnav ul{margin: 0;padding: 0;list-style: none;_z-index:-1000; !z-index:-1000}
#newmnav li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#1666c9 url(../images/tabbg.gif);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newmnav a {float: left;padding: 0 0 0 9px;background:url(../images/tabn1new.gif) no-repeat 0% 0%;text-decoration: none;color: #FFF;}
#newmnav a:hover{background-position: 0 -28px;background: url(../images/tabn1new.gif) no-repeat 0% 0%;color: #FFF;}
#newmnav a.current {background-position: 0 -28px;background: url(../images/1hm.gif);color: #000;font:normal 12px arial,verdana; _margin:2px 0 -11px 0;margin:2px 0 9px 0;}
#newmnav a span {float: left;background:url(../images/tabn2new.gif) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#newmnav a:hover span{background-position: 100% -28px;background:url(../images/tabn2new.gif) no-repeat 100% 0;cursor: pointer;}
#newmnav a.current span{background-position: 100% -28px;background: url(../images/2hm.gif) no-repeat 100% 0;cursor: pointer;}
#newmnav a.current:hover span {cursor: default;}


#newmnav1{margin-left: 5px;}
#newmnav1 ul{margin: 0;padding: 0;list-style: none;_z-index:-1000; !z-index:-1000}
#newmnav1 li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#1666c9 url(../images/tabbg.gif);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newmnav1 a {float: left;padding: 0 0 0 9px;background:url(../images/1hm.gif) no-repeat 0% 0%;text-decoration: none;color: #000;margin:2px 0 0px 0;}
#newmnav1 a:hover{background-position: 0 -28px;background: url(../images/1hm.gif) no-repeat 0% 0%;color: #000;}
#newmnav1 a.current {background-position: 0 -28px;background: url(../images/1hm.gif);color: #000;font:normal 12px arial,verdana; margin:0px 0 -2px 0;_margin:1px 0 -3px 0;}
#newmnav1 a span {float: left;background:url(../images/2hm.gif) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#newmnav1 a:hover span{background-position: 100% -28px;background:url(../images/2hm.gif) no-repeat 100% 0;cursor: pointer;}
#newmnav1 a.current span{background-position: 100% -28px;background: url(../images/2hm.gif) no-repeat 100% 0;cursor: pointer;}
#newmnav1 a.current:hover span {cursor: default;}
.spn{clear:both; line-height:2px; background:#1B70CA}*/

#fc-newmnav{margin-left: 40px;margin-bottom: 0px;_z-index:9999; !z-index:9999; }
#fc-newmnav ul{margin: 0;padding: 0;list-style: none;}
#fc-newmnav li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#afd6fa url(../images/tabbg-fc.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px; height:30px;}
#fc-newmnav a {float: left;padding: 0 0 0 9px;background:url(../images/tableft-fc.png) no-repeat 0% 0%;text-decoration: none;color: #404040; height:30px;}
#fc-newmnav a:hover{background-position: 0 -28px;background: url(../images/tableft-fc.png) no-repeat 0% 0%;color: #404040; height:30px;}
#fc-newmnav a.current {background-position: 0 -28px;background: url(../images/1hm.png);color: #404040;font:bold 12px arial,verdana; _margin:2px 0 -11px 0;margin:2px 0 9px 0; height:30px;}
#fc-newmnav a span {float: left;background:url(../images/tabright-fc.png) no-repeat 100% 0;padding: 7px 9px 4px 0; height:30px; }
#fc-newmnav a:hover span{background-position: 100% -28px;background:url(../images/tabright-fc.png) no-repeat 100% 0;cursor: pointer; height:30px;}
#fc-newmnav a.current span{background-position: 100% -28px;background: url(../images/2hm.png) no-repeat 100% 0;cursor: pointer; height:30px;}
#fc-newmnav a.current:hover span {cursor: default;}


#fc-newmnav1{margin-left: 40px;margin-bottom: 0px; _z-index:9999; !z-index:9999;}
#fc-newmnav1 ul{margin: 0;padding: 0;list-style: none;}
#fc-newmnav1 li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#c1c1c1 url(../images/tabbg.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#fc-newmnav1 a {float: left;padding: 0 0 0 9px;background:url(../images/1hm.png) no-repeat 0% 0%;text-decoration: none;color: #f38621;margin:2px 0 0px 0;}
#fc-newmnav1 a:hover{background-position: 0 -28px;background: url(../images/1hm.png) no-repeat 0% 0%;color: #f38621;}
#fc-newmnav1 a.current {background-position: 0 -28px;background: url(../images/tableft-big-active-big.png);color: #FFFFFF;font:bold 12px arial,verdana; margin:-1px 0 5px;_margin:1px 0 -3px 0; height:31px;}
#fc-newmnav1 a span {float: left;background:url(../images/tabright-fc-active.png) no-repeat 100% 0;padding: 5px 9px 4px 0; height:30px;}
#fc-newmnav1 a:hover span{background-position: 100% -28px;background:url(../images/tabright-fc-active.png) no-repeat 100% 0;cursor: pointer; height:30px;}
#fc-newmnav1 a.current span{background-position: 100% -28px;background: url(../images/tabright-fc-active.png) no-repeat 100% 0;cursor: pointer;padding-top:6px;}
#fc-newmnav1 a.current:hover span {cursor: default;}


.table-fc {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #cfcfcf;
    border-collapse: collapse;
    color: #000000;
    width: 100%;
    font-size:1.1em;
    margin-bottom:5px;
}
.table-fc thead th, .tableHeaderTable td {
    background: url("../images/bgListHeader-fc.png") repeat-x scroll 0 0 #BCD2EF;
    border-color: #A6A6A6;
    border-style: dotted;
    border-width: 1px;
    color: #FFFFFF;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;
    height: 31px;
    padding: 2px 3px 3px 5px;
    text-decoration: none;
	text-align: left;
}
.newtablehead
{

   background: url("../images/bgListHeader-fc-new.png") repeat-x scroll 0 0 #BCD2EF;
    border-color: #A6A6A6;
    border-style: dotted;
    border-width: 1px;
    color: #FFFFFF;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;   
    padding: 2px 3px 3px 5px;
    text-decoration: none;
	text-align: left;
}

.newtablehead_orange{
 background: url("../images/bgListHeader-fc-orange.png") repeat-x scroll 0 0 #8bc2fa;
    border-color: #A6A6A6;
    border-style: dotted;
    border-width: 1px;
    color: #FFFFFF;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;   
    padding: 2px 3px 3px 5px;
    text-decoration: none;
	text-align: left;
}

.newtabletd_orange{
 background-color:#DCE7F2;
    border-color: #A6A6A6;
    border-style: dotted;
    border-width: 1px;
    color: #058BB0;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;   
    padding: 2px 3px 3px 5px;
    text-decoration: none;
	text-align: left;
}

.newtablehead_blue{
 background: url("../images/bgListHeader-fc-blue.png") repeat-x scroll 0 0 skyblue;
    border-color: #A6A6A6;
    border-style: dotted;
    border-width: 1px;
    color: #5B93BA;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;   
    padding: 2px 3px 3px 5px;
    text-decoration: none;
	text-align: left;

}

.newtabletd_blue{
 background-color:#C1EAF5;
    border-color: #A6A6A6;
    border-style: dotted;
    border-width: 1px;
    color: #058BB0;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: bold;   
    padding: 2px 3px 3px 5px;
    text-decoration: none;
	text-align: left;

}

.table-fc th.sorted a, .table-fc th.sortable a {
    background-position: right center;
    display: block;
    color:#FFFFFF !important;
}

.table-fc tr.odd {
    background: none repeat scroll 0 0 #eefafd;
    border: 1px dotted #A6A6A6;
    color: #000000;
}

.table-fc tr.even {
    background-color: #ffffff;
    border: 1px dotted #A6A6A6;
    color: #000000;
}

table-fc tbody th, .table tbody td {
    text-align: left;
}
.table-fc td, .table th, .tableHeaderTable td {
    border: 1px dotted #A6A6A6;
    padding: 0.5em;
}

.table-fc tbody td a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-decoration: underline;
    cursor:pointer;
}

.table-fc th.sorted a, th.sortable a {
    background-position: right;
    display: block;
}

.table-fc th.order1 a {
    background-image: url(../images/arrow_down-fc.png) !important;
    background-repeat:no-repeat;
    padding-right:8px;
}

.table-fc th.order2 a {
    background-image: url(../images/arrow_up-fc.png) !important;
    background-repeat:no-repeat;
    padding-right:8px;
}

.table-fc th.sorted {
    background-color: #BCD2EF;
    color: #ffffff;
}

.CFprobg_left{background:url(../images/FC-Left.png) no-repeat ; height:40px; width:25px; cursor: pointer; }
.CFprobg_center{background:#fff url(../images/FC-HeadBg.png) repeat-x;
height:40px;color: #fff;font:15px Arial, Helvetica, sans-serif ; font-weight:bold; text-transform:uppercase; cursor: pointer; }
.CFprobg_right{background:url(../images/FC-Right.png) no-repeat; height:40px; width:21px;cursor: pointer;}
.CFEXP_left{background:url(../images/export-bg-left.png) no-repeat ; height:30px; width:396px; float:left; color: #fff;font:12px Arial, Helvetica, sans-serif ; font-weight:bold; text-transform:normal;}
.CFEXP_right{background:url(../images/export-bg.png) repeat-x; 
height:30px;color: #fff;font:12px Arial, Helvetica, sans-serif ; font-weight:bold; text-transform:normal;width:100%;margin-top:-5px;}


.notesDetailTableNew {
    background-color: #FFFFFF;
    border: 1px solid #3DAFCB;
    width: 100%;
}

.listwhitetextFC {
    color: #010000;
    font-family: arial,verdana;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
.listwhitetextInvoice {
    color: #c0392b;
    /*color:#994d00;*/
    font-family: arial,verdana;
    font-size: 11px;
    text-decoration: none;
    /*background */
    background: #FAFAFA none repeat scroll 0 0;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    padding: 1px;
}

.input-textBlackFC {
    border: 1px solid #5d5d5d;
    color: #000000;
    font-family: arial,verdana;
    font-size: 12px;
    height: 15px;
    text-decoration: none;
}

.input-textBlackUpperFC {
    background-color: #F2F0F0;
    border: 1px solid #5d5d5d;
    color: #000000;
    font-family: arial,verdana;
    font-size: 12px;
    height: 15px;
    text-decoration: none;
}

.list-menuBlackFC {
    border: 1px solid #5d5d5d;
    color: #000000;
    font-family: arial,verdana;
    font-size: 12px;
    height: 19px;
    overflow: hidden;
    padding: 1px;
    text-decoration: none;
}
.textareaFC {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #5d5d5d;    
    color: #000000;
    font-size: 12px;
}

.invgreen {
	font-family: arial,verdana; font-size: 11px; 
	text-decoration: none; padding: 1px 2px; 
	border-radius: 3px; color: rgb(0, 153, 10); 
	border: 1px solid rgb(151, 219, 156); 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fcfff9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#fcfff9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#fcfff9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfff9',GradientType=0 );
}
.invred {
	font-family: arial,verdana; font-size: 11px; 
	text-decoration: none; border-radius: 3px; 
	padding: 1px 2px; color: rgb(254, 46, 46); 
	border: 1px solid rgb(255, 180, 180); 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fcf2f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#fcf2f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#fcf2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcf2f2',GradientType=0 );
}
.invblue {
	font-family: arial,verdana; font-size: 11px; 
	text-decoration: none; border-radius: 3px; 
	padding: 1px 2px; color: rgb(39, 91, 174); 
	border: 1px solid rgb(181, 198, 222); 
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
}
.invorange {
	font-family: arial,verdana; font-size: 11px; 
	text-decoration: none; border-radius: 3px; 
	padding: 1px 2px; color: rgb(255, 114, 0); 
	border: 1px solid rgb(254, 191, 141);	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #fff8f4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#fff8f4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#fff8f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff8f4',GradientType=0 );
}
.invMain {
	background: #fff none repeat scroll 0 0;
    border: 1px solid #b7b5b5;
    border-radius: 3px;
    color: #c0392b;
    font-family: arial,verdana;
    font-size: 11px;
    padding: 1px 2px;
    text-decoration: none;	
}

.uploadBtFC {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7fbff), color-stop(1, #acdfff) );
	background:-moz-linear-gradient( center top, #f7fbff 5%, #acdfff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7fbff', endColorstr='#acdfff');
	background-color:#f7fbff;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	border:1px solid #008ea7;
	display:inline-block;
	color:#050505;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	font-style:normal;
	height:30px;	
	width:80px;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
}
.uploadBtFC:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #acdfff), color-stop(1, #f7fbff) );
	background:-moz-linear-gradient( center top, #acdfff 5%, #f7fbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#acdfff', endColorstr='#f7fbff');
	background-color:#acdfff;
}

.uploadBtFC:active {
	position:relative;
	top:1px;
}

.CFCtrl_left{ background:url('../images/portal_access_line.png') #DCE7F2; height:26px; width:30px; border-bottom: 1px solid #808080; cursor: pointer; }
.CFCtrl_left_new{ background:url('../images/network_access_line.png') #C1EAF5; height:25px; width:30px; border-bottom: 1px solid #808080;cursor: pointer; }
.CFCtrl_right{background:url('../images/portal_access_Rhead.png') repeat-x #dbe6f1;
height:26px;color: #000;font:12px Arial, Helvetica, sans-serif ; font-weight:bold; border-bottom: 1px solid #808080; text-transform:uppercase; cursor: pointer; }
.CFCtrl_right_new{background:url('../images/network_access_Rhead.png') repeat-x #c0e9f4;
height:25px;color: #000;font:12px Arial, Helvetica, sans-serif ; font-weight:bold; border-bottom: 1px solid #808080; text-transform:uppercase; cursor: pointer; }

.detailTabLabelFC-PO {
	background-color:#dbe6f1;
    border: 1px solid #E0E0E0;
    width: 350px;
}

.detailTabLabelFC-NW {
	background-color:#c0e9f4;
    border: 1px solid #E0E0E0;
    width: 350px;
}

	/*new css-27th July 09*/	
#newmnav{margin-left: 40px;margin-bottom: 0px;_z-index:9999; !z-index:9999; }
#newmnav ul{margin: 0;padding: 0;list-style: none;}
#newmnav li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#afd6fa url(../images/tabbg.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newmnav a {float: left;padding: 0 0 0 9px;background:url(../images/tabn1new.png) no-repeat 0% 0%;text-decoration: none;color: #404040;}
#newmnav a:hover{background-position: 0 -28px;background: url(../images/tabn1new.png) no-repeat 0% 0%;color: #404040;}
#newmnav a.current {background-position: 0 -28px;background: url(../images/1hm.png);color: #404040;font:bold 12px arial,verdana; _margin:2px 0 -11px 0;margin:2px 0 9px 0;}
#newmnav a span {float: left;background:url(../images/tabn2new.png) no-repeat 99.6% 0;padding: 5px 9px 4px 0; }
#newmnav a:hover span{background-position: 100% -28px;background:url(../images/tabn2new.png) no-repeat 99.6% 0;cursor: pointer;}
#newmnav a.current span{background-position: 100% -28px;background: url(../images/2hm.png) no-repeat 100% 0;cursor: pointer;}
#newmnav a.current:hover span {cursor: default;}


#newmnav1{margin-left: 40px;margin-bottom: 0px; _z-index:9999; !z-index:9999;}
#newmnav1 ul{margin: 0;padding: 0;list-style: none;}
#newmnav1 li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#c1c1c1 url(../images/tabbg.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#newmnav1 a {float: left;padding: 0 0 0 9px;background:url(../images/1hm.png) no-repeat 0% 0%;text-decoration: none;color: #f38621;margin:2px 0 0px 0;}
#newmnav1 a:hover{background-position: 0 -28px;background: url(../images/1hm.png) no-repeat 0% 0%;color: #f38621;}
#newmnav1 a.current {background-position: 0 -28px;background: url(../images/1hm.png);color: #f38621;font:bold 12px arial,verdana; margin:0px 0 -2px 0;_margin:1px 0 -3px 0; }
#newmnav1 a span {float: left;background:url(../images/2hm.png) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#newmnav1 a:hover span{background-position: 100% -28px;background:url(../images/2hm.png) no-repeat 100% 0;cursor: pointer;}
#newmnav1 a.current span{background-position: 100% -28px;background: url(../images/2hm.png) no-repeat 99.6% 0;cursor: pointer;}
#newmnav1 a.current:hover span {cursor: default;}
.spn{clear:both;!margin: -3px;!padding: 0;line-height:0.0085em;!line-height:1px; background:transparent; background:transparent;}


#pnav{margin-left: 40px;margin-bottom: 0px;_z-index:9999; !z-index:9999; }
#pnav ul{margin: 0;padding: 0;list-style: none;}
#pnav li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#afd6fa url(../images/ptabcenter.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#pnav a {float: left;padding: 0 0 0 9px;background:url(../images/ptableft.png) no-repeat 0% 0%;text-decoration: none;color: #295498;}
#pnav a:hover{background-position: 0 -28px;background: url(../images/ptableft.png) no-repeat 0% 0%;color: #295498;}
#pnav a.current {background-position: 0 -28px;background: url(../images/1hm.png);color: #404040;font:bold 12px arial,verdana; _margin:2px 0 -11px 0;margin:2px 0 9px 0;}
#pnav a span {float: left;background:url(../images/ptabright.png) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#pnav a:hover span{background-position: 100% -28px;background:url(../images/ptabright.png) no-repeat 100% 0;cursor: pointer;}
#pnav a.current span{background-position: 100% -28px;background: url(../images/2hm.png) no-repeat 100% 0;cursor: pointer;}
#pnav a.current:hover span {cursor: default;}

#pnav1{margin-left: 40px;margin-bottom: 0px;_z-index:9999; !z-index:9999; }
#pnav1 ul{margin: 0;padding: 0;list-style: none;}
#pnav1 li {float: left;margin: 0 3px 0 0;white-space: nowrap;background:#afd6fa url(../images/ptabcenter.png);font:bold 12px arial,verdana;line-height:1.25em;padding: 0px 0px 0px 0px;}
#pnav1 a {float: left;padding: 0 0 0 9px;background:url(../images/ptableft.png) no-repeat 0% 0%;text-decoration: none;color: #404040;}
#pnav1 a:hover{background-position: 0 -28px;background: url(../images/ptableft.png) no-repeat 0% 0%;color: #404040;}
#pnav1 a.current {background-position: 0 -28px;background: url(../images/1hm.png);color: #404040;font:bold 12px arial,verdana; _margin:2px 0 -11px 0;margin:2px 0 9px 0;}
#pnav1 a span {float: left;background:url(../images/ptabright.png) no-repeat 100% 0;padding: 5px 9px 4px 0; }
#pnav1 a:hover span{background-position: 100% -28px;background:url(../images/ptabright.png) no-repeat 100% 0;cursor: pointer;}
#pnav1 a.current span{background-position: 100% -28px;background: url(../images/2hm.png) no-repeat 100% 0;cursor: pointer;}
#pnav1 a.current:hover span {cursor: default;}


/*new added for Safari Browser css-13th Jan 2011*/
.spnSF {height:0px;}
td.rbrSF{border-color:#74B3DC;
 border-width: 0px 2px 0px 0px;
 border-style: solid;}

#liquid-round {
width:100%;
margin:0px auto;
margin-top:1px;/*jitendra date 11-10-2018*/
background:#fff url(../images/leftside.gif) repeat-y left top;

}
#liquid-round-top {
width:100%;
margin:0px auto;
background:#fff url(../images/leftside.gif) repeat-y left top;
}
.top {
width:100%;
height:20px;
background:url(../images/top.gif) no-repeat left top;
}
.top span {
display:block;
position:relative;
height:20px;
background:url(../images/top-right.gif) no-repeat right top;
}
.center-content {
position:relative;
background:url(../images/rightside.gif) repeat-y right top;
padding:1px 25px 1px 25px !important;
margin:-1px 0 -50px 0;
}
.bottom {
width:100%;
height:44px;
background:url(../images/bottom.png) no-repeat left bottom;
!margin-top:40px;
}
.bottom span {
display:block;
position:relative;
margin-top:25px;
!margin-top:0px;
/*margin-right:.095%; */
background:url(../images/bottom-right.gif) no-repeat right top;
}

.bottom-header {
width:100%;
height:44px;
/*21-11-2018 background:url(../images/bottom.png) no-repeat left bottom;jitendra*/
background:url(../images/bottom.png) no-repeat 1px bottom;
margin-top:25px;
!margin-top:45px;
margin-left:1px;
-webkit-margin-start:0px;
}
.bottom-header span {
display:block;
position:relative;
height:44px;
/*margin-right:.095%;*/
margin-top:20px;
!margin-top:0px;
background:url(../images/bottom-right.gif) no-repeat right top;
background-position-x: right 0.05%;
-webkit-margin-end:0px;
}

/*rounded box end*/

.headtab_left{background:url(../images/headtab_left.png) no-repeat ; height:21px; width:22px; cursor: pointer; }
.headtab_center{background:#d8e9f3 url(../images/left-left.gif) repeat-x;
height:21px;color: #484848;font:12px Arial, Helvetica, sans-serif ; font-weight:bold; cursor: pointer; }
.headtab_bg{background:url(../images/tab-left-bg.gif) no-repeat ; height:21px; width:28px; cursor: pointer; text-align: right;}

.headtab_bg_special{background:#bddff3 url(../images/headtab_bg.png) repeat-x; height:21px; width:40%; cursor: pointer; text-align: right;}

.headtab_bg_special_sudd{background:#bddff3 url(../images/headtab_bg.png) repeat-x; height:21px; width:auto; height:21px;color: #222;font:13px Arial, Helvetica, sans-serif ; font-weight:bold; cursor: pointer;text-align:left;}

.headtab_bg_center{background:#bddff3 url(../images/headtab_bg.png) repeat-x; height:21px; width:75%; cursor: pointer; text-align: right;}
.headtab_right{background:url(../images/headtab_right.png) no-repeat; height:21px; width:8px;cursor: pointer;}
.headtab_bg_small{background:#B5D7ED url(../images/headtab_bg.png) repeat-x; height:21px; cursor: pointer; text-align: right;}
.probg_left{background:url(../images/probg_left.png) no-repeat ; height:24px; width:14px; cursor: pointer; }
.probg_center{background:#d8e9f3 url(../images/probg_center.png) repeat-x;
height:21px;color: #484848;font:12px Arial, Helvetica, sans-serif ; font-weight:bold; cursor: pointer; }
.probg_right{background:url(../images/probg_right.png) no-repeat; height:24px; width:14px;cursor: pointer;}
.headtab_leftFc{background:url(../images/headtab_leftFc.png) no-repeat ; height:21px; width:22px; cursor: pointer; }

.pricetab_bg{background:#ffffff url(../images/price_tab_bg.png) repeat-x;
height:26px; width:100%;
color: #3A8AB3;
font:12px Arial, Helvetica, sans-serif ;
font-weight:bold;
cursor: pointer;
padding:0px 0px;
border-bottom:1px solid #5FA0C0;
}

.pricetab_bg.topsection{
border-top:1px solid #5FA0C0;
}

.pleft-bg {
border-right: 1px solid rgb(191, 215, 223);
margin: 0px; padding: 0px;
background-color: #e1ebef;
}

.relo_tenbg {
    background: #ffffff url("../images/price_tab_bg.png") repeat-x scroll 0 0;
    border-top: 1px solid #5fa0c0;
    color: #03a4e9;
    cursor: pointer;
    font: bold 12px Arial,Helvetica,sans-serif;
    height: 26px;
    padding: 0;
    width: 100%;
}

.inner-tab{background:#ffffff url(../images/basic-inner.png) repeat-x; height:35px;}
.price-bg{background-image:url(../images/ng-bg.png); background-repeat:repeat-x;margin:0px;padding:0px;}
.filter-bg{background-image:url(../images/border-filter.png); background-repeat:no-repeat; text-align:left;margin:3px; height:77px; width:952px;}
.summary-tab {margin:0px;padding:0px;border-bottom:1px solid #3DAFCB;}
.listblacktext{ color:#464646; font-family:arial,verdana; font-size:11px; font-weight:normal; text-decoration:none;}
.price_tleft{float:left;padding:3px 2px 0px 3px;!margin-top:-15px;}
.price_tright{float:left;padding-top:4px;!margin-top:-15px;}
.colored_bg{background-color:#D7E4EC}
.listblacktextBig{ color:#464646; font-family:arial,verdana; font-size:12px; font-weight:normal; text-decoration:none;}

.listwhitetextAcct {
background-color:#D7E4EC;
color:#003366;
font-family:arial,verdana;
font-size:11px;
font-weight:normal;
padding-right:2px;
text-decoration:none;
}

.bgblue{
background:url(../images/blue_band.jpg);
height: 30px;
width:630px;
background-repeat: no-repeat;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: bold;
color: #007a8d;
padding-left: 40px;
}

.bold_border{border-right:medium solid #99BBE8; }

.key_acc {
background:transparent url(../images/key_acc.jpg) no-repeat scroll 0 0;
cursor:default;
height:22px;
!height:25px;
margin-left:19%;
!margin-top:-21px; 
}

.key_workticket {
background:transparent url(../images/key_wt_new.jpg) no-repeat scroll 0 0;
cursor:default;
height:22px;
margin-left:23%;
margin-bottom: -22px;}

.timesheet_band{
background:transparent url(../images/bandcrewim.jpg) no-repeat scroll 0 0;
cursor:default;
height:22px;
}

.storage_bg{background:#d7ebfa url(../images/bg_storage.png) no-repeat scroll 0 0;
cursor:default;
width:590px;
height:310px;}

.rulesyellowtextUpper{
       font-family:arial,verdana;
       font-size:12px;
       color:rgb(00,00,00);       
       height:18px;
       padding:3px 2px 0 0;
       text-decoration: none;
       /*background-color: rgb(214,236,236);*/
       background-color: #ffbf43 ;
}
.rulesbluetextUpper{
       font-family:arial,verdana;
       font-size:12px;
       color:rgb(00,00,00);       
       height:18px;
       padding:3px 2px 0 0;
       text-decoration: none;
       /*background-color: rgb(214,236,236);*/
       background-color: #52CAD9;
}
.rulesgreentextUpper{
       font-family:arial,verdana;
       font-size:12px;
       color:rgb(00,00,00);       
       height:18px;
       padding:3px 2px 0 0;       
       text-decoration: none;
       /*background-color: rgb(214,236,236);*/
       background-color: #a5e362 ;
       
}
.notesDetailTable {
border:1px solid #3DAFCB;
background:#FFFFFF url(../images/notes-bg.gif);
background-repeat:repeat-x;
background-position:bottom left;
border-radius: 3px 3px 3px 3px;
}

.vertlinedata{background:url(../images/vertlinedata.jpg) repeat-x ;width: 100%; height:1px; }

.vertlinedata_vert{background:url(../images/vertlinedata.jpg) repeat-y ;width: 100%; width:1px; }

input.newmnavbutton {background:transparent url(../images/tabn1.gif) no-repeat scroll 0%; color:#FFFFFF; 
float:left; padding:0pt 0pt 0pt 9px; text-decoration:none;cursor: pointer;}

.listwhitetext-hcrew {
background-color:#D7E4EC;
color:#003366;
font-family:arial,verdana;
font-size:11px;
font-weight:bold;
text-decoration:none;
padding:0px 0px 2px 0px;
!padding-bottom:3px;
}

.agent_bg{background:url(../images/agent_prf_bg.png) no-repeat;width: 238px; height:172px;
padding:20px 20px 35px 20px; 
}

.globe{background:url(../images/globe_blue.png) no-repeat;width: 32px; height:32px}

.partner-text {
color:#15428B;
font-family:arial,verdana;
font-size:11px;
font-weight:normal;
text-decoration:none;
background-color:#BCD2EF;
line-height:20px;
}

.p-table{
margin:0 0 1px;
border:1px solid #3DAFCB;
border-collapse:collapse;}

.link-up {
background:url(../images/link-button-new.png) no-repeat scroll 0 0;	
width:71px;
height:22px;
cursor: pointer;
}

.link-up-dis {
background:url(../images/link-button-new-dis.png) no-repeat scroll 0 0;	
width:71px;
height:22px;
cursor: pointer;
}

 #btbg-big{
 background:url(../images/countbg-big.gif) no-repeat scroll 0 0;
 font-size:12px;
 padding-top:3px;
 text-align:center;
 width:160px;height:24px;
 }
 #btbg-middle{
 background:url(../images/bg-hide.png) no-repeat scroll 0 0;
 font-size:12px;
 padding-top:3px;
 text-align:center;width:83px;
 height:24px; 
 cursor: pointer;
 }
 #btbg-small{
 background:url(../images/countbg.gif) no-repeat scroll 0 0;
 font-size:12px;
 padding-top:3px;
 text-align:center;
 width:79px;
 height:24px;
 }

/* start for survey schedule */

#priceinfotab_bg{
background:#ffffff url(../images/price_tab_bg.png) repeat-x;
height:26px; !width:70%; width:91%;
color: #3A8AB3;font:13px Arial, Helvetica, sans-serif ;
font-weight:bold;
cursor: pointer;
padding:0px;
border:1px solid #5FA0C0;
border-bottom:none;
}

.movebutton {
-moz-border-radius-bottomleft:2px;
-moz-border-radius-bottomright:2px;
-moz-border-radius-topleft:2px;
-moz-border-radius-topright:2px;
background-color:#C6DEFF;
background-image:url(../images/buttonblue.png);
border:1px solid #5279AD;
color:#3A8AB0;
display:block;
float:right;
font-family:arial;
font-size:12px;
font-weight:bold;
margin:0 3px 0 0;
padding:2px 10px;
}

.curved-left {
behavior:url(border-radius.htc);
background:url(../images/survey-br-left.png);
height:75px;
width:514px;
}
.curved-right {
behavior:url(border-radius.htc);
background:url(../images/survey-br-right.png);
height:75px;
width:341px;
}

.survey-back {
	background:url(../images/s-backward.png) no-repeat scroll 0 0;	
	width:112px;
	height:25px;
	cursor: pointer;
	}
	
.survey-forw {
	background:url(../images/s-forward.png) no-repeat scroll 0 0;	
	width:127px;
	height:25px;
	cursor: pointer;
	}
/* end survey schedule */

  .heading{
  	background:#DCDCDC url(../images/greylinebg.gif) repeat scroll 0% 0%;
	border-color:#DCDCDC -moz-use-text-color;
	border-style:solid none;
	border-width:1px medium;
	color:#15428B;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	height:24px;
	}
	.rulesredtextUpper {
    background-color: #FFCCCC;
    color: #000000;
    font-family: arial,verdana;
    font-size: 12px;
    height: 18px;
    padding: 3px 2px 0 0;
    text-decoration: none;
}
  
.download a {
    background: url("../images/btstate.png") repeat-x scroll center top transparent;
    border: 1px solid #B4CCCE;
    font: 11px Arial,sans-serif;
    text-decoration: none;
}
.download a:hover {
    background: url("../images/btstate-hover.png") repeat-x scroll center top transparent;    
}
.buttons {
    border-radius: 10px 10px 10px 10px;
    display: inline-block;
    vertical-align: top;
}
.but-color-medium a {
    border-radius: 5px 5px 5px 5px;
    color: #003366;
    padding: 3px 10px 3px 7px;
}
.buttons a {
    display: block;
}
.download a span.but-icon {
    background: url("../images/1366902649_download.png") no-repeat scroll center top transparent;
}
.but-color-medium span.but-icon {
    float: left;
    height: 12px;
    margin-right: 5px;
    width: 12px;
}

/* prefferedagent button */

.groupaddsave {
	background:#f5fafc; background: linear-gradient(to bottom, #f5fafc, #a9d8f0) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#a9d8f0)); background:-moz-linear-gradient(top,#f5fafc,#a9d8f0);
    border: 1px solid #98b6c7; border-radius: 3px; color: #15428b; cursor: pointer; display: inline-block; font: 12px arial; padding: 3px 9px;
    text-align: center; text-decoration: none; vertical-align: middle;font-weight:bold;
}
.groupaddsave:hover, .groupaddsave:focus {
    background: linear-gradient(to bottom, #f5fafc, #d3f1ff) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #15428b;font-weight:bold;
    text-decoration: none;
}
.groupaddsave:active{background:#f5fafc;background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#d3f1ff));
background:-moz-linear-gradient(top,#f5fafc,#d3f1ff);background:linear-gradient(to bottom,#f5fafc,#d3f1ff)}

.groupadd {
	background:#f5fafc; background: linear-gradient(to bottom, #f5fafc, #a9d8f0) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#a9d8f0)); background:-moz-linear-gradient(top,#f5fafc,#a9d8f0);
    border: 1px solid #98b6c7; border-radius: 3px; color: #15428b; cursor: pointer; display: inline-block; font: 12px arial; padding: 4px 5px 4px 6px;
    text-align: center; text-decoration: none; vertical-align: middle;font-weight:bold;
}
.groupadd:hover, .groupadd:focus {
    background: linear-gradient(to bottom, #f5fafc, #d3f1ff) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #15428b;font-weight:bold;
    text-decoration: none;
}
.groupadd:active{background:#f5fafc;background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#d3f1ff));
background:-moz-linear-gradient(top,#f5fafc,#d3f1ff);background:linear-gradient(to bottom,#f5fafc,#d3f1ff)}

.groupadd::after{content:"\0000a0";display:inline-block;height:12px;width:12px;line-height:10px;margin:0-4px-2px 4px;position:relative;top:0px;left:0px;background:url("../images/add-icon-box.png")no-repeat scroll 0 0 rgba(0,0,0,0);background-size:100% 100%}


/* prefferedagent button */


.copy-OA-Btn {display:inline-block;text-align:center;vertical-align:middle;line-height:10px; font:bold 11px arial;color:#2e2e2e;text-decoration:none;cursor:pointer; width: 88px; height: 19px; border-radius: 2px; padding:0px; border: 1px solid rgb(171, 173, 179); background:url('../images/OA-btn-bg.png') repeat-x;}
.copy-OA-Btn:hover, .copy-OA-Btn:focus {background:url('../images/OA-btn-bg-hover.png') repeat-x; color: #2e2e2e; text-decoration: none;}

.update-btn-OI {
	background:#f5fafc; background: linear-gradient(to bottom, #f5fafc, #a9d8f0) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#a9d8f0)); background:-moz-linear-gradient(top,#f5fafc,#a9d8f0);
    border: 1px solid #98b6c7; border-radius: 3px; color: #000; cursor: pointer; display: inline-block; font: 12px arial; padding: 3px 9px;
    text-align: center; text-decoration: none; vertical-align: middle;font-weight:bold;
}
.update-btn-OI:hover, .update-btn-OI:focus {
    background: linear-gradient(to bottom, #f5fafc, #d3f1ff) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000;font-weight:bold;
    text-decoration: none;
}
.update-btn-OI:active{background:#f5fafc;background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#d3f1ff));
background:-moz-linear-gradient(top,#f5fafc,#d3f1ff);background:linear-gradient(to bottom,#f5fafc,#d3f1ff)}

.update-btn-dis-OI{display:inline-block;text-align:center;vertical-align:middle;padding:3px 9px;border:1px solid #c0c0c0;border-radius:3px;background:#efefef;font:12px arial;font-weight:bold;color:#8a9099;text-decoration:none}
.update-btn-dis-OI:hover,.update-btn-dis-OI:focus{background:#efefef;color:#8a9099;font-weight:bold;text-decoration:none}
.update-btn-dis-OI:active{background:#efefef;}

.update-btn{display:inline-block;text-align:center;vertical-align:middle;padding:4px 9px;border:1px solid #d1d1d1;border-radius:5px;background:#f5fafc;background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#e7f5fc));background:-moz-linear-gradient(top,#f5fafc,#e7f5fc);background:linear-gradient(to bottom,#f5fafc,#e7f5fc);font:normal normal normal 12px arial;color:#0e77c7;text-decoration:none;cursor:pointer}
.update-btn:hover,.update-btn:focus{background:#e6f2f8;background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#d3f1ff));background:-moz-linear-gradient(top,#f5fafc,#d3f1ff);background:linear-gradient(to bottom,#f5fafc,#d3f1ff);color:#0e77c7;text-decoration:none}
.update-btn:active{background:#f5fafc;background:-webkit-gradient(linear,left top,left bottom,from(#f5fafc),to(#e7eef2));background:-moz-linear-gradient(top,#f5fafc,#e7eef2);background:linear-gradient(to bottom,#f5fafc,#e7eef2)}
.update-btn::after{content:"\0000a0";display:inline-block;height:16px;width:16px;line-height:16px;margin:0-4px-2px 4px;position:relative;top:0px;left:0px;background:url("../images/arrow-loadern.gif")no-repeat scroll 0 0 rgba(0,0,0,0);background-size:100% 100%}

.update-btn-dis{display:inline-block;text-align:center;vertical-align:middle;padding:4px 9px;border:1px solid #d1d1d1;border-radius:5px;background:#efefef;font:bold 12px arial;color:#8a9099;text-decoration:none}
.update-btn-dis:hover,.update-btn-dis:focus{background:#efefef;color:#8a9099;text-decoration:none}
.update-btn-dis:active{background:#efefef;}
.update-btn-dis::after{content:"\0000a0";display:inline-block;height:16px;width:16px;line-height:16px;margin:0-4px-2px 4px;position:relative;top:0px;left:0px;background:url("../images/arrow-loadern-gray.gif")no-repeat scroll 0 0 rgba(0,0,0,0);background-size:100% 100%}



/* start suddath pricing table css */

.pricetophead {background: #bcd2ef url("../images/price-top-head-bg.png") repeat-x scroll 0 0; border: 2px solid #74b3dc; color: #222; font-family: arial;
               font-size: 14px; font-weight: bold; height: 24px; margin: 0; padding: 2px 3px 3px 5px; width: 100%;}
               
.pricefooter { color: #222; font-family: arial;
               font-size: 14px; font-weight: bold; height:14px; margin: 0; padding: 2px 3px 3px 5px; width: 100%;}
               
.input-textfooter { background-color: #fff; border: 1px solid rgb(33, 157, 209); color: rgb(0, 0, 0); font-family: arial,verdana;font-size: 12px; height: 15px;
    text-decoration: none;}  
               
.input-textfooter:hover { background-color: #fff !important; border: 1px solid rgb(33, 157, 209); color: rgb(0, 0, 0); font-family: arial,verdana;font-size: 12px; height: 15px;
    text-decoration: none;}       
    
/* .input-textfooter { background-color:none; border: none; color: #222; font-family: arial,verdana;font-size: 12px; height: 15px;font-weight:bold;
    text-decoration: none;}                 
.input-textfooter:hover { background-color:none !important; border: none; color: #222; font-family: arial,verdana;font-size: 12px; height: 15px;font-weight:bold;
    text-decoration: none;}   
 */             
.table-priceFoot td {border:1px solid #e0e0e0;color:#024abf;}
.pft-top {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c7eff9+0,e3edef+100 */
background: #c7eff9; /* Old browsers */
background: -moz-linear-gradient(top, #c7eff9 0%, #e3edef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c7eff9 0%,#e3edef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c7eff9 0%,#e3edef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7eff9', endColorstr='#e3edef',GradientType=0 ); /* IE6-9 */}

.payablebg {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8f7ff+0,feffff+100 */
background: #e8f7ff; /* Old browsers */
background: -moz-linear-gradient(top,  #e8f7ff 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e8f7ff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e8f7ff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f7ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.pricemainbg {
border:2px solid #74b3dc;border-collapse:collapse;
background:#FFF;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e5f4fc+0,f4fcff+100 
background: #e5f4fc; 
background: -moz-linear-gradient(top, #e5f4fc 0%, #f4fcff 100%); 
background: -webkit-linear-gradient(top, #e5f4fc 0%,#f4fcff 100%); 
background: linear-gradient(to bottom, #e5f4fc 0%,#f4fcff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f4fc', endColorstr='#f4fcff',GradientType=0 ); */
}

.table-price {background: #fff none repeat scroll 0 0; border: 2px solid #74b3dc; border-collapse: collapse; color: #000; width: 100%;}

.table-price thead th, .tableHeaderTable td {
	/* background: #d7e9f5 none repeat scroll 0 0; */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e7fb+0,c6e8f8+51,a8d8f4+100 */
	background: #b4e7fb; /* Old browsers */
	background: -moz-linear-gradient(top, #b4e7fb 0%, #c6e8f8 51%, #a8d8f4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b4e7fb 0%,#c6e8f8 51%,#a8d8f4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b4e7fb 0%,#c6e8f8 51%,#a8d8f4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e7fb', endColorstr='#a8d8f4',GradientType=0 ); /* IE6-9 */
	border-color: #3dafcb; border-style: solid; 
	border-width: 1px; color: #15428b;
    font-family: arial,verdana; font-size: 11px; 
    font-weight: bold; height: 16px; 
    padding: 1px 2px;text-decoration: none;
}
    
.table-price tr.even {background-color: #e0f4ff;}

.table-price td, .table-price th, .tableHeaderTable td {padding: 0.3em;}

.table-price tbody th, .table-price tbody td {white-space:nowrap;}

.pr-f11{font-family:arial,verdana !important;font-size:11px !important;}

.pr-f12Acc {
text-align: left; 
padding-left: 10px; 
font-size: 12px ! important; 
border: medium none; 
color: #024abf; 
font-weight: bold;
font-family:arial,verdana !important;
}

/* .table-price tfoot th, tfoot td {background: #bcd9eb url("../images/pricing_foot_bg.png") repeat-x scroll 0 0; color: #15428b;height: auto;} */

.key_acc_price {  background: transparent url("../images/key_acc_price.jpg") no-repeat scroll 0 0; cursor: default; height: 25px;margin-top:-2px;}

.pricelistbtn {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ecf7ff+0,aad4fa+100 */
	background: #ecf7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #ecf7ff 0%, #aad4fa 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ecf7ff 0%,#aad4fa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ecf7ff 0%,#aad4fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf7ff', endColorstr='#aad4fa',GradientType=0 ); /* IE6-9 */
	background-color:#cfedff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #0485db;display:inline-block;
	cursor:pointer;	color:#161e29;	font-family:Arial;	font-size:12px;	font-weight:bold;	padding:2px 6px;	text-decoration:none; margin-right:6px;}
	
.pricelistbtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #aad4fa), color-stop(1, #cfedff));
	background:-moz-linear-gradient(top, #aad4fa 5%, #cfedff 100%);
	background:-webkit-linear-gradient(top, #aad4fa 5%, #cfedff 100%);
	background:-o-linear-gradient(top, #aad4fa 5%, #cfedff 100%);
	background:-ms-linear-gradient(top, #aad4fa 5%, #cfedff 100%);
	background:linear-gradient(to bottom, #aad4fa 5%, #cfedff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad4fa', endColorstr='#cfedff',GradientType=0);
	background-color:#aad4fa;}
	
.pricelistbtn:active {
	position:relative;
	top:1px; }


.pricelistbtn-dis {
    background: #efefef none repeat scroll 0 0;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    color: #8a9099;
    display: inline-block;
    font: bold 12px arial;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;   
    margin-right:6px;
}
.pricelistbtn-dis:hover,.pricelistbtn-dis:focus{background:#efefef;color:#8a9099;font-weight:bold;text-decoration:none}

.pricelistbtn-dis:active{background:#efefef;}

.table-price th.sorted a, .table-price th.sortable a {
    background-position: right center;
    display: block;
    color:#15428b !important;
}

.table-price tr.odd {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e0e0e0;
    color: #000000;
}

.table-price tr.even {
    background-color: #f3fafe;
    border: 1px solid #e0e0e0;
    color: #000000;
}

.table-price tbody th, .table tbody td {
    text-align: left;
}
.table-price td, .table th, .tableHeaderTable td {
    border: 1px solid #e0e0e0;
    padding: 0.3em;
}

.table-price tbody td a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-decoration: underline;
    cursor:pointer;
}

.table-price th.sorted a, th.sortable a {
    background-position: right;
    display: block;
}

.table-price th.order1 a {
    background-image: url(../images/arrow_down-fc.png) !important;
    background-repeat:no-repeat;
    padding-right:8px;
}

.table-price th.order2 a {
    background-image: url(../images/arrow_up-fc.png) !important;
    background-repeat:no-repeat;
    padding-right:8px;
}

.table-price th.sorted {
    background-color: #d7e9f5;
    color: #15428b;
}

.ctrltable {background: #fff none repeat scroll 0 0;
    border: 2px solid #74b3dc;   
    border-collapse: collapse;
    color: #000;
    width: 100%;
	margin:0px;
}
.ctrltable td {border:1px solid #e0e0e0;padding:0.4em;}

.ctrltable thead th {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e7fb+0,c6e8f8+51,d5e9f5+100 */
	background: #b4e7fb; /* Old browsers */
	background: -moz-linear-gradient(top, #b4e7fb 0%, #c6e8f8 51%, #d5e9f5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #b4e7fb 0%,#c6e8f8 51%,#d5e9f5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b4e7fb 0%,#c6e8f8 51%,#d5e9f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e7fb', endColorstr='#d5e9f5',GradientType=0 ); /* IE6-9 */
    color: #15428b;
    font-family: arial,verdana;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    padding: 1px 2px;
    text-decoration: none;
    box-shadow:0 1px 1px #f8f6f6;
}


.pg-normal {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
    border: 1px solid rgb(33, 157, 209);
    border-radius: 3px;
    cursor: pointer;
    font-weight: normal;
    padding: 1px 4px;
    text-decoration: none;
    font-size:10px;
  
}
.pg-selected {    
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b6e5f9+0,94dbf7+51,b6e5f9+100 */
background: #b6e5f9; /* Old browsers */
background: -moz-linear-gradient(top, #b6e5f9 0%, #94dbf7 51%, #b6e5f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #b6e5f9 0%,#94dbf7 51%,#b6e5f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #b6e5f9 0%,#94dbf7 51%,#b6e5f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e5f9', endColorstr='#b6e5f9',GradientType=0 ); /* IE6-9 */
    border: 1px solid #00afe5;
    border-radius: 3px;
    color: #161e29;
    cursor: pointer;
    font-weight: bold;
    padding: 1px 4px;
    text-decoration: none;
    font-size:10px;
}
/* end suddath pricing table css */
.buttonbgfoot {
background: #fff none repeat scroll 0 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eff6f9+0,fcfcfc+100 
background: #eff6f9; 
background: -moz-linear-gradient(top, #eff6f9 0%, #fcfcfc 100%); 
background: -webkit-linear-gradient(top, #eff6f9 0%,#fcfcfc 100%); 
background: linear-gradient(to bottom, #eff6f9 0%,#fcfcfc 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff6f9', endColorstr='#fcfcfc',GradientType=0 );  */

}

.skybtn {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ecf7ff+0,aad4fa+100 */
	background: #ecf7ff; /* Old browsers */
	background: -moz-linear-gradient(top, #ecf7ff 0%, #aad4fa 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ecf7ff 0%,#aad4fa 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ecf7ff 0%,#aad4fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf7ff', endColorstr='#aad4fa',GradientType=0 ); /* IE6-9 */
	background-color:#cfedff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:1px solid #0485db;display:inline-block;
	cursor:pointer;	color:#161e29;	font-family:Arial;	font-size:12px;	font-weight:bold;	padding:2px 6px;	text-decoration:none;}
	
.skybtn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #aad4fa), color-stop(1, #cfedff));
	background:-moz-linear-gradient(top, #aad4fa 5%, #cfedff 100%);
	background:-webkit-linear-gradient(top, #aad4fa 5%, #cfedff 100%);
	background:-o-linear-gradient(top, #aad4fa 5%, #cfedff 100%);
	background:-ms-linear-gradient(top, #aad4fa 5%, #cfedff 100%);
	background:linear-gradient(to bottom, #aad4fa 5%, #cfedff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#aad4fa', endColorstr='#cfedff',GradientType=0);
	background-color:#aad4fa;}
	
.skybtn:active {
	position:relative;
	top:1px; }
	
.exprevbg{background: transparent -moz-linear-gradient(center top , rgb(214, 249, 255) 0%, rgb(236, 249, 255) 100%) repeat scroll 0px 0px;}

/* Custom Modal table */
	.table-cmodal {
        border-collapse: collapse;
        border: none;
        color: #000;
        background: #fff;
        width: 100%;
    	}
    
    .table-cmodal caption {
    	padding: 0 0.6em 0.8em;
    	font-size: 1.3em;
    	font-weight: bold;
    	text-align: left;
    	color: #000;
   		background: transparent;
	}
   
    .table-cmodal th table, .table-cmodal th table td {
        width: 100%;
        border: 0px;
    }
    .contribTable th {
        padding: 0px !important;
        background: #d7e9f5;
    }
    .contribTable th .tableHeaderTable {
        margin: 0px !important;
    }
    .table-cmodal td, .table-cmodal th, .tableHeaderTable td {
        border: none !important;
        padding: 0.2em;
    }   
    
    .table-cmodal thead th, .tableHeaderTable td {
	background:#BCD2EF url(/redsky/images/bg_listheader.png) repeat-x scroll 0 0;
	border:1px solid #3dafcb;
	color:#15428B;
	font-family:arial,verdana;
	font-size:11px;
	font-weight:bold;
	height:25px;
	padding:2px 3px 3px 5px;
	text-decoration:none;
	}
    .tableHeaderTable td a {
        text-decoration: none !important;
    }
                
   
     .table-cmodal tbody td a {
         background: transparent;
         text-decoration: underline;
     }
     .table-cmodal tbody td a:hover {
         background: transparent;
         text-decoration: underline;
     }
     .table-cmodal tbody th a {
         background: transparent;
         text-decoration: underline;
         font-weight: bold;
     }
     .table-cmodal tbody th, .table-cmodal tbody td {
         text-align: left;
     }
     .table-cmodal tfoot td {
         border: 1px solid #e0e0e0;
     }
     .table-cmodal tbody tr:hover, .table-cmodal tr.over, .contribTable tr:hover {
         border-bottom: none;
         border-top: none;
       	 cursor:pointer;
         /* cursor:default;*/
         color:#000000;
         background-color:#ffffff !important; /* important .table tr:hover */
     }
     .contribTable tr.even {
       	border-top: 1px solid #c0c0c0;
       	color:#000000;
       	background-color:#e4e6f2 !important;
     }
     .contribTable tr.odd {
         border-top: 1px solid #c0c0c0;
         color: #000e4d !important;
     }
    .table th.msalesHead{ background: #d4edff; 
     			  background: -moz-linear-gradient(top, #d4edff 0%, #eff7fd 100%) !important; 
     			  background: -webkit-linear-gradient(top, #d4edff 0%,#eff7fd 100%); 
     			  background: linear-gradient(to bottom, #d4edff 0%,#eff7fd 100%); 
     			  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4edff', endColorstr='#eff7fd',GradientType=0 ); 
     			  color:#017abc;
     			  font-size:12px;
     			   } 
     .txt-center{text-align:center !important;}
     .txt-left{text-align:left !important;}
     .txt-right{text-align:right !important;}
  	 .no-mp{margin:0px !important;padding:0px !important;}
  	 
  	 /*jitendra11-10-2018*/
  	.form_magn{margin-top:-40px !important;}
  	/*.nav_tabs{margin-bottom:32px !important;}*/
  	.nav_tabs{margin-top:32px !important;}
#newmnav .arrows{background:none !important;margin-right: 0px;}	
#newmnav .arrows a{background:none !important;padding-left: 0px;}
  	
 
  	  /*end jitendra11-10-2018*/
  	 