body button, p{color: #666 !important;}
/* button{
	width:auto;
} */

body button{
	width:auto;
}
.ctrl-label{
	margin-top: -2px;
    margin-bottom: 0px;
    line-height: 0px;
	
	}
	
	.form-control:disabled{padding: .375rem .6rem;}
	.form-control:disabled:hover{background-color: #e9ecef;}
	
	

.card-header h5{
	color:#047790;
	letter-spacing:1px;
	font-size:18px;
	
}
.to-dolist button1{
	width:auto;
    margin-top:0px;
    height: 40px;
    border: none;
    padding: 10px 12px;
    font-size: 13px;
   
    font-weight: 600;
   
  
    color: #6b95a0 !important;

}
.codition-ul button{
	border-radius: 4px;
    border: 1px solid;
    color: #fff !important;
    background-color: #3598dc;
    border-color: #3598dc;
    padding: 2px 10px;
   font-size: 13px;
    font-weight: 600;
    float:right;
}

.statuscheck:hover {
    background: #228b22cf !important;
    border:1px solid  #228b22cf;
}

.status.warning{
	color: #fff !important;
    border-radius: 117px !important;
    padding: 3px 8px !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    letter-spacing: .5px;
    background:rgba(255, 87, 34, 0.788235294117647) !important;
    border:1px solid  rgba(255, 87, 34, 0.788235294117647) !important;
    text-align:center;
}
.status.statuscheckerror:hover{
	background: #ff5722c9 !important;
    border:1px solid  #ff5722c9;
}
.rule_no{
	color: #4ca14c;
    font-weight: 600;
    font-size: 14px;
}
.to-dolist .condition-dropdorn{
  margin-top: -8px;
    border-radius: 100px !important;
    background: #ece8e8a8;
}
.card-header{background:#f2f2f236}
.card-header h6{
    font-weight:600 !important;
    margin-bottom: 0px;
    color: #047790;
    
    font-size: 15px;

}
.card{
 margin-bottom:30px;
}
.to-dolist .dropdown-menu{
	transform: translate3d(-137px, 22px, 0px) !important;
}

.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before{
	left: 140px !impotant;
}
.dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before{
	left: 140px !impotant;
}

textarea.form-control {
	
   background: #f9f9f91f; font-size:13px;}
.card-body select{
   /*  border:none; */
   /*  padding-left: 0px; */
    font-size: 12px;
    color: #666;
   /*  padding-top: 0px; */
    outline:none !important;
}
.accordion label{margin-top:10px;}

.rules .form-group.form-md-line-input{

    margin-bottom: 6px;
    padding-top: 0px !important;
}
#addaction .form-group.form-md-line-input{

    margin-bottom: 6px;
    padding-top: 0px !important;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 0em solid;}
 .form-control{
 border-color:#ced4da80 !important;
 }
.form-control:focus {
    color: #495057;
    background-color: #fff;
  /*   border-color:transparent !important; */
     outline: 0; */
    box-shadow: none !important;
}
.card-body input{
   /*  border:none; */
    
    font-size: 12px;
    color: #666;
   /*  padding-top: 0px; */
     outline:none; */
}

.status.green{
	border:1px solid rgba(34, 139, 34, 0.8117647058823529);;
	    padding: 3px 4px !important;
	    text-align: center;
	    background:rgba(34, 139, 34, 0.8117647058823529);
}
.fa-check-circle{
    color: green;
    font-size: 19px;
}
#exampleModal .custom-checkbox{
    margin-top:7px;
}

#exampleModal .modal-footer button{
    font-weight: 600;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 100px;
    color: #6b95a0 !important;
    font-size: 12px;
}

.custom-control-label{
    vertical-align: baseline !important; 
}


.ctrl-label input{  border: 1px solid rgba(0,0,0,.125);
height:25px; display:inline-block;
    width:38px; padding-left:5px;}
    .ctrl-label span{
        vertical-align: middle;
    font-size: 16px;
    }
#accordionExample .card{
    margin-bottom: 0px;
}
#accordionExample .fa{
 font-size: 17px;
 margin-top: 11px;

}
#accordionExample .fa-trash{
    margin-top: 9px;
    color: #f44336e0;
}
.add-actions .fa{
    vertical-align: unset;
    font-size: 10px;
}


/*main css*/
.form-group.form-md-line-input .form-control{
	height:35px;
}
.list-group-item {
    font-size: 14px;}
/*end main */

 #accordion .btn.btn-link{
 width:auto;
 color: #047790 !important;
    letter-spacing: 1px;
 }
  
   #accordion h5:after {
  
    font-family: "Glyphicons Halflings";
     content: "\2212";
    color: #047790 !important;
    float: right;
    margin-left: 15px;
    font-size: 24px;
    font-weight: 700;
  }
 
  #accordion h5.collapsed:after {
     content: '\002B';
      color: #047790 !important;
       font-size: 24px;
       font-weight: 700;
  } 
  .btn:focus{
     outline:none !important;
  }
  .modal-header h6{
  font-size: 17px;
    color: #047790;
    letter-spacing: 1px;
  }
   .close:focus{
   
   outline:none;
   }
  
  .close span{
   color: #047790;
   outline:none;
   }
 div#footer{
 width:100% !important;
 }
  
  /* .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
} */

.validate-icon{
	color:#f71010d1;
	font-size:12px !important;
}

.modal{font-family:'Open Sans', sans-serif;}
.modal .btn{font-family:'Open Sans', sans-serif;}

.bottom-created-info{
	margin-top:5px;
}
.bottom-created-info li{float:left;
margin-left: 12px !important;
font-weight:600;
font-size:13px;
color: #047790;
}
.bottom-created-info li label{
	font-size:13px;
}
.bottom-created-info .date-li-bottom{
	color:#666;
	margin-left:0px !important;
}
.cus-switch{
margin-top:-3px;
}
.checkbx-rule{
	margin-top:9px;
}
.copyrule{
	color:#666;
	
	
}

.remark-sec{
	height:50px;
	overflow-x:auto;
	border:1px solid #ced4da80 ;
	border-top: 1px solid #ced4da80 !important;
    border-left: 1px solid #ced4da80 !important;
    border-right: 1px solid #ced4da80 !important;
    border-bottom:  1px solid #ced4da80 !important;
    color:#666 !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #fcfcfc;
    outline:none;
}

.status.transparent{
	border: 1px solid #66666685;
    background: transparent;
     padding: 3px 8px  !important;
    border-radius: 117px !important;
    text-align:center;
}


@media only screen and (min-width:320px) and (max-width:575px) {
 
}

@media only screen and (min-width:575px) and (max-width:767px) {
 .rule_no {
    margin-left: 15px;}
    .ctrl-label{
    margin-left:15px;
    }
    .validation-sec{
    margin-top:20px;}
 
}
@media only screen and (min-width:768px) and (max-width:991px) {
	.status.green{
	padding:3px 3px;
	}
	
	.status.warning{
  padding:3px 3px;
 }
 .status.transparent{
 padding:3px 3px;
 }
	.action-btn-sec button{
	
	margin-bottom:5px;
	}
	.action-btn-sec input{
	
	margin-bottom:5px;
	}
	
	.ctrl-label input {
   
    height: 24px;
    }
	
}
@media only screen and (min-width:992px) and (max-width:1199px) {
 .status.green{
     padding:3px 7px;
 }
 
 
 .status.warning{
  padding:3px 7px;
 }
  .status.transparent{
 padding:3px 7px;
 }
 
 .ctrl-label{
 font-size:11px;line-height:0px;}
 .bottom-created-info li{
 font-size:11px;
 margin-left:8px !important;
 }
 .bottom-created-info li label{
 font-size:11px;}
}
@media only screen and (min-width:1200px) and (max-width:1500px) {
 .bottom-created-info li{
 
 margin-left:10px !important;
 }
 
 .status.green{
 padding:3px 5px;}
 .status.warning{
  padding:3px 5px;
 }
 .status.transparent{
 padding:3px 5px;
 padding:3px 5px;
 }
 }

