div.exportlinks {
    margin: -5px 0px 10px 10px;
    padding: 2px 4px 2px 0px;
    width: 100%;
}

div.exportlinks a {
    text-decoration: none;
}

div.exportlinks span {
    background-repeat: no-repeat;
}

span.csv {
    background-image: url(/redsky/images/ico_file_csv.png);
}

span.excel {
    background-image: url(/redsky/images/ico_file_excel.png);
}

span.pdf {
    background-image: url(/redsky/images/ico_file_pdf.png);
}

span.xml {
    background-image: url(/redsky/images/ico_file_xml.png);
}

span.export {
    cursor: pointer;
    display: inline;
    display: inline-block;
    padding: 0 4px 1px 20px;
}

span.pagebanner {
    display: block;
    margin: 10px 0px 10px 0px;
    padding: 2px 4px 2px 0px;
}

span.pagelinks {
    ppadding: 2px 0px 2px 0px;
    text-align: right;
    color:#EE8D03;

}

th.sorted a, th.sortable a {
    background-position: right;
    display: block;
}

.table th.order1 a {
    background-image: url(images/arrow_down.png) !important;
}

.table th.order2 a {
    background-image: url(images/arrow_up.png) !important;
}

div#main .tableHeaderImage { /* Tapestry */
    position: absolute;
    margin: 2px 0px 0px -5px;
    background: transparent;
    border: 0px;
}

/*.table th.sortable a {
    background-image: url(/redsky/images/arrow_off.png);
}*/

.table th.sorted {
    background-color: #fee19c;
    color: #EE8D03;
    height:30px; 
}

.table th.sorted a, .table th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    display: block;
}

.table tr.even {
	border-top: 1px solid #c0c0c0;
    color:#000000;
    background-color:#fee19c !important;
    
}

.table tr.odd {
	border-top: 1px solid #c0c0c0;
    color: #5f5f5f !important;
      
}

/* highlight .table row onmouseover */
.table tr.over {
   border-bottom: 1px solid #C0C0C0;
   border-top: 1px solid #C0C0C0;
   cursor:pointer;
   color:#000000;
   background-color:#eeeeee  !important; 
}

.table th.containeralign{text-align: right;} 

.table th.containeralign a{text-align: right;}

.table th.headerColorInv {color:#383838;} 


.detail th {
    text-align: right;
}